{template '/common/mainHeader'}
<div class="app-container-right">
			<ul class="nav nav-tabs">
	<li class="active"><a href="#">提现列表</a></li>
</ul>
<div class="app-content">
	<div class="app-filter">
		<div class="filter-list">
			<form action="" method="post" class="form-horizontal" role="form">
				<input type="hidden" name="h_id" value="{$_SESSION['hid']}" />
				<input type="hidden" name="zid" value="{$zid}" />
				<div class="form-group">
					<label class="col-sm-2 control-label">提现状态</label>
					<div class="col-sm-9">
						<div class="btn-group">
							<a href="{php echo $this->createWebUrl('team',array('op'=>'tixian','ac'=>'jgindex','status'=>'','cash_type'=>$cash_type,'start'=>$start,'end'=>$end,'hid'=>$hid,'h_id'=>$_SESSION['h_id'],'zid'=>$zid))}" class="btn {if $status == ''} btn-primary {else} btn-default {/if}">不限</a>
							<a href="{php echo $this->createWebUrl('team',array('op'=>'tixian','ac'=>'jgindex','status'=>'0','cash_type'=>$cash_type,'start'=>$start,'end'=>$end,'h_id'=>$_SESSION['h_id'],'zid'=>$zid))}" class="btn {if $status == '0'} btn-primary {else} btn-default {/if}">待审核</a>
							<a href="{php echo $this->createWebUrl('team',array('op'=>'tixian','ac'=>'jgindex','status'=>'1','cash_type'=>$cash_type,'start'=>$start,'end'=>$end,'h_id'=>$_SESSION['h_id'],'zid'=>$zid))}" class="btn {if $status == '1'} btn-primary {else} btn-default {/if}">已完成</a>
							<a href="{php echo $this->createWebUrl('team',array('op'=>'tixian','ac'=>'jgindex','status'=>'2','cash_type'=>$cash_type,'start'=>$start,'end'=>$end,'h_id'=>$_SESSION['h_id'],'zid'=>$zid))}" class="btn {if $status == '2'} btn-primary {else} btn-default {/if}">未通过</a>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">提现方式</label>
					<div class="col-sm-9">
						<div class="btn-group">

							<a href="{php echo $this->createWebUrl('team',array('op'=>'tixian','ac'=>'jgindex','status'=>$status,'cash_type'=>'','start'=>$start,'end'=>$end,'h_id'=>$_SESSION['h_id'],'zid'=>$zid))}" class="btn {if $cash_type == ''} btn-primary {else} btn-default {/if}">不限</a>
							<a href="{php echo $this->createWebUrl('team',array('op'=>'tixian','ac'=>'jgindex','status'=>$status,'start'=>$start,'end'=>$end,'cash_type'=>'0','h_id'=>$_SESSION['h_id'],'zid'=>$zid))}" class="btn {if $cash_type == '0'} btn-primary {else} btn-default {/if}">微信</a>
							<a href="{php echo $this->createWebUrl('team',array('op'=>'tixian','ac'=>'jgindex','status'=>$status,'start'=>$start,'end'=>$end,'cash_type'=>'1','h_id'=>$_SESSION['h_id'],'zid'=>$zid))}" class="btn {if $cash_type == '1'} btn-primary {else} btn-default {/if}">支付宝</a>
							<a href="{php echo $this->createWebUrl('team',array('op'=>'tixian','ac'=>'jgindex','status'=>$status,'start'=>$start,'end'=>$end,'cash_type'=>'2','h_id'=>$_SESSION['h_id'],'zid'=>$zid))}" class="btn {if $cash_type == '2'} btn-primary {else} btn-default {/if}">银行卡</a>
                            
						</div>
					</div>
				</div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">申请时间段</label>
                    <div class="col-sm-9">
                        <div class="btn-group">
							
<script type="text/javascript">
	require(["daterangepicker"], function(){
		$(function(){
			$(".daterange.daterange-date").each(function(){
				var elm = this;
				$(this).daterangepicker({
					startDate: $(elm).prev().prev().val(),
					endDate: $(elm).prev().val(),
					format: "YYYY-MM-DD"
				}, function(start, end){
					$(elm).find(".date-title").html(start.toDateStr() + " 至 " + end.toDateStr());
					$(elm).prev().prev().val(start.toDateStr());
					$(elm).prev().val(end.toDateStr());
				});
			});
		});
	});
</script>

	<input name="start" type="hidden" value="{$start}" />
	<input name="end" type="hidden" value="{$end}" />
	<button class="btn btn-default daterange daterange-date" type="button"><span class="date-title">{$start} 至 {$end}</span> <i class="fa fa-calendar"></i></button>
							</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-9">
                        <div class="btn-group">
							<button class="btn btn-primary" type="submit">筛选</button>
							<!-- <a href="javascript:;" id="getExport" class="btn btn-default min-width" ><i class="fa fa-download"></i>  导出记录</a> -->
                        </div>
                    </div>
                </div>
			</form>
		</div>
	</div>
	<div class="app-table-list">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<!-- <th>提现人信息</th> -->
						<!-- <th>提现类型</th> -->
						<th>提现方式</th>
						<th>提现金额</th>
                        <!-- <th>提现方式</th> -->
						<th>手续费</th>
						<th>到账金额</th>
						<!-- <th>到账类型</th> -->
						<th>申请时间</th>
						<!-- <th>操作时间</th> -->
						<th>状态</th>
						<!-- <th class="text-center">操作</th> -->
					</tr>
				</thead>
				<tbody>
				{loop $list $item}
				
				<td>
				{if $item['cash_type'] == '0'}
					微信
					<br>
					{$item['nickname']}
				{else if $item['cash_type'] == '1'}
					支付宝
					<br>
					姓名：{$item['zfb_name']}
					账号：{$item['zfb_number']}
				{else if $item['cash_type'] == '2'}
					银行卡
					<br>
					卡号：{$item['bank_card']}
					<br>
					开户行：{$item['bank_address']}
					<br>
					持有人：{$item['bank_user']}
				{/if}

				</td>
				<td>{$item['old_money']}</td>
				<!-- <td>微信</td> -->
				<td>{$item['fee']}</td>
				<td>{php echo $item['old_money']-$item['fee']}</td>
				<!-- <td>{$item['account_type']}</td> -->
				<td>{php echo date("Y-m-d H:i:s",$item['created'])}</td>
				<!-- <td><?php echo date("Y-m-d H:i:s",$item['s_time'])?></td> -->
				<td>
				
					{if $item['status'] == '0'}
					待审核
					{else if $item['status'] == '1'}
					已完成
					{else if $item['status'] == '2'}
					未通过
					
					{/if}
				</td>
				<!-- <td>
					{if $item['status'] == '0'}
					<a class="btn btn-info btn-sm" href="{php echo $this->createWebUrl('financ',array('op'=>'tx_change','id'=>$item['id'],'ac'=>'givemoney','status'=>'1'))}">通过申请</a>
					<a class="btn btn-info btn-sm" href="{php echo $this->createWebUrl('financ',array('op'=>'tx_change','id'=>$item['id'],'ac'=>'givemoney','status'=>'2'))}">拒绝申请</a>
					
					{else if $item['status'] == '1'}
						已完成
					{else if $item['status'] == '2'}
					未通过
					{/if}
					<a class="btn btn-danger btn-sm" data-toggle="ajaxRemove" href="{php echo $this->createWebUrl('financ',array('op'=>'tx_del','ac'=>'givemoney','id'=>$item['id']))}" data-confirm="确定要删除该记录吗？">快速删除</a>

				</td> -->
				</tr>
				{/loop}
									</tbody>
					
			</table>
			{if count($list) == 0}
							<div class="panel-body" style="text-align: center;padding:30px;">
					暂时没有任何数据!
				</div>
				{/if}
					</div>
				{$pager}
		<div class="app-table-foot clearfix">
			<div class="pull-left">

			</div>
			<div class="pull-right">
							</div>
		</div>
	</div>
</div>
<script>
    $(function () {
        //初始化信息内容
        var url = "./index.php?c=site&a=entry&m=weliam_merchant&p=finace&ac=wlCash&do=cashApply&status=1&page=1&export=export";//导出请求地址
        //申请导出记录信息
        $("#getExport").on('click',function () {
            //开始时间
            var startDate = $("[name='time[start]']").val();
            var startTime = Date.parse(new Date(startDate +" 00:00:00"));
            startTime = startTime / 1000;
            //结束时间
            var endDate = $("[name='time[end]']").val();
            var endTime = Date.parse(new Date(endDate +" 23:59:59"));
            endTime = endTime / 1000;
            //url拼接
            url = url+"&startTime="+startTime+"&endTime="+endTime;
            //请求导出内容
            window.location.href = url;
        });
    });
</script>
			</div>
		</div>
	</div>
	<div class="foot" id="footer">
		<ul class="links ft">
            <li class="links_item"><div class="copyright">Powered by <a href="http://www.we7.cc"><b>微擎</b></a> v2.0.4 © 2014-2015 <a href="http://www.we7.cc">www.we7.cc</a></div></li>
		</ul>
	</div>
	

    
    <script>
		require(['bootstrap'], function ($) {
		    $('[data-toggle="tooltip"]').tooltip({
	            container: $(document.body)
	        });
	        $('[data-toggle="popover"]').popover({
	            container: $(document.body)
	        });
	        $('[data-toggle="dropdown"]').dropdown({
	            container: $(document.body)
	        });
	    });
		myrequire(['js/init']);
				$('.app-login-info-name, .app-login-info-sel').mouseover(function(){
			$('.app-login-info-sel').show();
		});
		$('.app-login-info-name, .app-login-info-sel').mouseout(function(){
			$('.app-login-info-sel').hide();
		});
		$('.app-login-info-sel .login-out').hover(function(){
			$('.app-login-info-sel-arrow').css('border-color', '#1ab394 transparent transparent transparent');
		},function(){
			$('.app-login-info-sel-arrow').css('border-color', '#f2f2f2 transparent transparent transparent');
		});
		
			</script>
	</body>
</html>

