{template './common/siteheader'}
    <div class="content">
        <div class="header">
            <h1 class="page-title">专家注册设置</h1>
        </div>
        <div class="main-content J-checking-edit-content">
            <div class="panel panel-default">
                <div class="panel-heading no-collapse J-checking-title">专家注册设置</div>
                <div class="panel-body collapse in">
         <form id="checking-warp" action="" method="post" novalidate="novalidate">
                <input type="hidden" value="" name="id">
                <div class="row">
                    <div class="col-sm-12 col-md-10">
                       

                        <div class="row item-list">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">标签设置 </label>
                                    <style type="text/css">
                                        .addBox{
                                            width: 113%;
                                            display: flex;
                                            justify-content: flex-start;
                                            align-items: center;
                                            margin-bottom:10px; 
                                        }
                                        .btn-white{
                                            margin-left: 20px;
                                        }
                                        .addBox input{
                                            width: 345px!important;
                                        }

                                    </style>
                                    {loop $rew['note'] $item}
                                    <div class="addBox">
                                    <input type="text" class="form-control eqnumber" value="{$item}" name="note[]">
                                        
                                      <a href="javascript:void(0);" class="btn btn-sm btn-white J-del-content-item hidden"><i class="fa fa-minus"></i></a>
                            <a href="javascript:void(0);" class="btn btn-sm btn-white J-add-content-item"><i class="fa fa-plus"></i></a>
                                    </div>
                                    {/loop}
                                </div>
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">专家职位设置</label>
                                 {if $rew}

                                 {loop $rew['position'] $item}
                                    <div class="addBox">
                                    <input type="text" name="position[]" class="form-control max128" value="{$item}">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-white J-del-content-item hidden"><i class="fa fa-minus"></i></a>
                            <a href="javascript:void(0);" class="btn btn-sm btn-white J-add-content-item"><i class="fa fa-plus"></i></a>
                                    </div>
                                  
                                 {/loop}
                                {else}

                                    <input type="text" name="position[]" class="form-control max128" value="">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-white J-del-content-item hidden"><i class="fa fa-minus"></i></a>
                            <a href="javascript:void(0);" class="btn btn-sm btn-white J-add-content-item"><i class="fa fa-plus"></i></a>

                                    </div>

                                    {/if}
                                </div>
                            </div>
                           <div class="col-sm-2">
                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">是否允许注册</label>
                                    <select class="form-control input-sm" data-placeholder="请选择" name="switch">
                                        <option value="1" {if $rew['switch']=='1'} selected="selected" {/if}>允许</option>
                                        <option value="2" {if $rew['switch']=='2'} selected="selected" {/if}>不允许</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        <div class="panel-footer">
                            <button class="btn btn-primary btn-sml J-submit-btn" type="submit">保存</button>
                            <input name="token" type="hidden" value="{$_W['token']}" />
                            <input type="hidden" name="type_id" value="{$type_id}">
                        </div>
         </form>
 </div>

        </div>
        </div>
    </div>


<div class="modal fade" id="confirmModal2" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="false">
    <form method="post" action="#">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="confirmModalLabel">系统提示</h4>
                </div>
                <div class="modal-body">
                    <!--<input name="id" class="hidden" value="">-->
                    <h4 class="pl15 J-modal-text"><i class="fa fa-question-circle font28 mr5 yellow vertical-middle"></i>
                        你确定要删除吗? </h4>
                </div>
                <div class="modal-footer modal-btn-col2">
                    <button type="submit" class="btn btn-primary J-cnf-confirm">确定</button>
                    <button type="button" class="btn btn-default J-cnf-cancel" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </form>
</div>



<script type="text/javascript">
        // body...
            $('.J-add-content-item').on('click',function(){
            $(this).parents('.form-group').find('.control-label').after(`<div class="addBox">
                            <input type="text" name="note[]" class="form-control max128" value="">
                                <a href="javascript:void(0);" class="btn btn-sm btn-white J-del-content-item hidden"><i class="fa fa-minus"></i></a>
                    <a href="javascript:void(0);" class="btn btn-sm btn-white J-add-content-item hidden"><i class="fa fa-plus"></i></a>
                            </div>`)
                var box=$(this).parents('.form-group').find('J-del-content-item').length;
                console.log(box)
            $(this).parents('.form-group').find('.J-del-content-item').removeClass('hidden');
                $('.J-del-content-item').on('click',function(){
                    $(this).parents('.addBox').remove()
                    $()
                    })


        })

</script>

    <script type="text/template" id="check-part-tpl">
        <%for(var i=0,len=data.length;i<len;i++){%>
            <div class="col-sm-6">
                <div>
                    <input type="checkbox" value="<%-data[i].id%>" id="J-point-<%-data[i].id%>">
                    <label for="J-point-<%-data[i].id%>">
                        <%-data[i].name%>
                    </label>
                </div>
            </div>
        <%}%>
        <div class="col-sm-6">
            <div>
                <input type="checkbox" value="0" id="J-point-0" data-other="other">
                <label for="J-point-0">其他</label>
            </div>
        </div>
    </script>
    <!-- 辅助检查部位 -->
    
    <script type="text/javascript">
    require(['check_edit']);
    </script>


<div style="display: none; position: fixed; width: 40px; height: 40px; background: rgb(31, 37, 48); cursor: pointer; bottom: 40px; right: 40px; border-radius: 5px;" class="goup-container" title=""><div class="goup-arrow" style="width: 0px; height: 0px; margin: 0px auto; padding-top: 13px; border-style: solid; border-width: 0px 10px 10px; border-color: transparent transparent rgb(255, 255, 255);"></div></div></body></html>