{template './common/siteheader'}
<div class="content">
    <div class="header">
        <h1 class="page-title">处方医嘱</h1>
        <div class="stats">
            <a href="{php echo $this->createWeburl('setting',array('op'=>'display'))}" class="btn btn-sm btn-white"><i class="fa fa-angle-left"></i> 返回</a>
        </div>
    </div>
    <div class="main-content">
    <div class="panel panel-default">
     <div class="panel-heading no-collapse">
     新增处方医嘱
    </div>
    <div class="panel-body collapse in">
 <form id="recipeedit_form" method="post" action="{php echo $this->createWeburl('setting',array('op'=>'display'))}" novalidate="novalidate">
    <input type="hidden" value="2" name="type" id="J-medicine-type">
    <div class="row">
        <div class="col-sm-12 col-md-10">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="国药准字" value="" name="search_number">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control " placeholder="药品条形码" value="" name="search_barcode">
                            </div>
                            <button type="button" class="btn btn-default J-find-medicine-detail">查找</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">通用名 <span class="asterisk">*</span></label>
                        <input type="text" class="form-control max128" value="" name="medicinename" required="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">商品名 </label>
                        <input type="text" class="form-control max128" value="" name="generic_name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">英文名称</label>
                        <input type="text" class="form-control max256" value="" name="enname">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">规格</label>
                        <input type="text" class="form-control max32" value="" name="medicinespec">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">包装单位 <span class="asterisk">*</span></label>
                        <select class="form-control input-sm J-medicineunit" data-placeholder="请选择" name="medicineunit" required="">
                            <option value="">请选择</option>
                            
                            <option value="袋">袋</option>
                            
                            <option value="片">片</option>
                            
                            <option value="支">支</option>
                            
                            <option value="粒">粒</option>
                            
                            <option value="瓶">瓶</option>
                            
                            <option value="mg">mg</option>
                            
                            <option value="g" selected="">g</option>
                            
                            <option value="ml">ml</option>
                            
                            <option value="l">l</option>
                            
                            <option value="ug">ug</option>
                            
                            <option value="IU">IU</option>
                            
                            <option value="U">U</option>
                            
                            <option value="包">包</option>
                            
                            <option value="盒">盒</option>
                            
                            <option value="枚">枚</option>
                            
                            <option value="丸">丸</option>
                            
                            <option value="颗">颗</option>
                            
                            <option value="滴">滴</option>
                            
                            <option value="件">件</option>
                            
                            <option value="条">条</option>
                            
                            <option value="万单位">万单位</option>
                            
                            <option value="万U">万U</option>
                            
                            <option value="份">份</option>
                            
                        </select>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">剂型</label>
                        <select class="form-control input-sm" data-placeholder="请选择" name="dosage_from">
                            <option value="">请选择</option>
                            
                            <option value="1">注射液</option>
                            
                            <option value="2">肠溶片</option>
                            
                            <option value="3">滴剂</option>
                            
                            <option value="4">滴眼剂</option>
                            
                            <option value="5">冻干粉针剂</option>
                            
                            <option value="6">粉针剂</option>
                            
                            <option value="7">含片</option>
                            
                            <option value="8">混悬剂</option>
                            
                            <option value="9">胶浆剂</option>
                            
                            <option value="10">胶囊剂</option>
                            
                            <option value="11">颗粒剂</option>
                            
                            <option value="12">口服药</option>
                            
                            <option value="13">凝胶</option>
                            
                            <option value="14">泡腾片</option>
                            
                            <option value="15">喷剂</option>
                            
                            <option value="16">喷雾</option>
                            
                            <option value="17">片剂</option>
                            
                            <option value="18">溶液</option>
                            
                            <option value="19">乳膏剂</option>
                            
                            <option value="20">软膏剂</option>
                            
                            <option value="21">散剂</option>
                            
                            <option value="22">栓剂</option>
                            
                            <option value="23">糖浆</option>
                            
                            <option value="24">贴剂</option>
                            
                            <option value="25">贴膜</option>
                            
                            <option value="26">眼膏</option>
                            
                            <option value="27">针剂</option>
                            
                            <option value="28">注射剂</option>
                            
                            <option value="29">口服液</option>
                            
                            <option value="30">软膏</option>
                            
                            <option value="31">乳膏</option>
                            
                            <option value="32">粉剂</option>
                            
                            <option value="33">饮片</option>
                            
                            <option value="34">汤剂</option>
                            
                            <option value="35">中药</option>
                            
                            <option value="36">中药饮片</option>
                            
                            <option value="37">滴鼻剂</option>
                            
                            <option value="38">丸剂</option>
                            
                            <option value="39">缓释制剂</option>
                            
                            <option value="40">混悬液</option>
                            
                            <option value="41">口服混悬剂</option>
                            
                            <option value="42">片剂(肠溶片)</option>
                            
                            <option value="43">糖浆剂</option>
                            
                            <option value="44">凝胶剂</option>
                            
                            <option value="45">合剂</option>
                            
                        </select>
                    </div>
                </div>
            </div>

            
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">零售价 <span class="asterisk">*</span></label>
                            <input type="text" class="form-control eqnumber" value="" name="medicineprice" required="">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">成本价 </label>
                            <input type="text" class="form-control eqnumber" value="" name="costPrice">
                        </div>
                    </div>
                </div>
            

            <div class="row hidden J-isDismounted">

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">最小单位 <span class="asterisk">*</span></label>
                        <select class="form-control input-sm J-min_medicineunit" data-placeholder="请选择" name="min_medicineunit" required="">
                            <option value="">请选择</option>
                            
                            <option value="袋">袋</option>
                            
                            <option value="片">片</option>
                            
                            <option value="支">支</option>
                            
                            <option value="粒">粒</option>
                            
                            <option value="瓶">瓶</option>
                            
                            <option value="mg">mg</option>
                            
                            <option value="g">g</option>
                            
                            <option value="ml">ml</option>
                            
                            <option value="l">l</option>
                            
                            <option value="ug">ug</option>
                            
                            <option value="IU">IU</option>
                            
                            <option value="U">U</option>
                            
                            <option value="包">包</option>
                            
                            <option value="盒">盒</option>
                            
                            <option value="枚">枚</option>
                            
                            <option value="丸">丸</option>
                            
                            <option value="颗">颗</option>
                            
                            <option value="滴">滴</option>
                            
                            <option value="件">件</option>
                            
                            <option value="条">条</option>
                            
                            <option value="万单位">万单位</option>
                            
                            <option value="万U">万U</option>
                            
                            <option value="份">份</option>
                            
                        </select>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">最小单位售价 <span class="asterisk">*</span></label>
                        <input type="text" class="form-control eqnumber" value="" name="minMedicineprice" required="">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">换算公式 <span class="asterisk">*</span></label>
                        <div class="form-inline">1包装单位= <input type="text" class="form-control J-formula number" value="" required=""> 最小单位</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">生产厂家</label>
                        <input type="text" class="form-control max128" value="" name="manufacturer">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">国药准字</label>
                        <input type="text" class="form-control max128" value="" name="app_number">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">(次)剂量单位</label>
                        <input type="text" class="form-control hidden J-dosage-ids" name="dosage_units" value="7">
                        <input type="text" class="form-control J-dosage-names" data-toggle="modal" data-target="#myModal1" value="g">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">拼音码</label>
                        <input type="text" class="form-control" value="" name="pn_code">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="control-label">药品有效期预警时间</label>
                        <div class="row">
                            <div class="col-sm-10">
                                <input type="text" name="warn_effective_date" value="" class="form-control number">
                            </div>
                            <div class="col-sm-2 pd0">天</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="control-label">药品库存的预警数量</label>
                        <div class="row">
                            <div class="col-sm-10">
                                <input type="text" name="storage_num" value="" class="form-control number J-storage_num">
                            </div>
                            <div class="col-sm-2 pd0">包装单位</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">取药地点</label>
                        <select class="form-control input-sm" data-placeholder="请选择" name="address">
                            <option value="1">本院取药</option>
                            <option value="2">外购取药</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">默认用法</label>
                        <select class="form-control input-sm" data-placeholder="请选择" name="dusage">
                            <option value="">请选择</option>
                            
                            <option value="1">口服</option>
                            
                            <option value="2">注射</option>
                            
                            <option value="3">静脉滴注</option>
                            
                            <option value="4">静脉注射</option>
                            
                            <option value="5">舌下含服</option>
                            
                            <option value="6">皮下注射</option>
                            
                            <option value="7">滴入</option>
                            
                            <option value="8">塞肛用</option>
                            
                            <option value="9">阴道用</option>
                            
                            <option value="10">外用</option>
                            
                            <option value="11">肌肉注射</option>
                            
                            <option value="31">皮内注射</option>
                            
                            <option value="32">吸入</option>
                            
                            <option value="33">滴耳</option>
                            
                            <option value="34">滴鼻</option>
                            
                            <option value="35">滴眼</option>
                            
                            <option value="36">嚼服</option>
                            
                            <option value="43">静滴</option>
                            
                            <option value="44">高压泵雾化吸入</option>
                            
                            <option value="45">纳肛</option>
                            
                            <option value="49">喷鼻</option>
                            
                            <option value="50">雾化吸入</option>
                            
                            <option value="52">外涂</option>
                            
                            <option value="65">含漱</option>
                            
                            <option value="66">煎服</option>
                            
                            <option value="67">滴左眼</option>
                            
                            <option value="68">局部封闭</option>
                            
                            <option value="69">先煎</option>
                            
                            <option value="70">后下</option>
                            
                            <option value="71">单煎</option>
                            
                            <option value="72">包煎</option>
                            
                            <option value="73">劈开</option>
                            
                            <option value="74">打碎</option>
                            
                            <option value="75">烊化</option>
                            
                            <option value="76">冲服</option>
                            
                            <option value="77">研磨冲服</option>
                            
                            <option value="78">煎汤代水饮</option>
                            
                            <option value="79">另煎</option>
                            
                            <option value="80">捣碎</option>
                            
                            <option value="81">生汁兑入</option>
                            
                            <option value="82">另煎后兑入</option>
                            
                            <option value="83">溶化</option>
                            
                            <option value="84">煎汤代水</option>
                            
                            <option value="85">烊化冲入</option>
                            
                            <option value="86">作丸内服</option>
                            
                            <option value="87">直接服用</option>
                            
                            <option value="88">温水助服</option>
                            
                            <option value="89">泡水</option>
                            
                            <option value="90">生吃</option>
                            
                            <option value="91">水煎服两次服用</option>
                            
                            <option value="92">碾碎分两次服用</option>
                            
                            <option value="93">外敷</option>
                            
                            <option value="94">合药冲服</option>
                            
                            <option value="95">水煎服</option>
                            
                            <option value="96">副药</option>
                            
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">默认频次</label>
                        <select class="form-control input-sm" data-placeholder="请选择" name="freq">
                            <option value="">请选择</option>
                            
                            <option value="14">每天一次</option>
                            
                            <option value="15">每天两次</option>
                            
                            <option value="2">每天三次</option>
                            
                            <option value="1">每天四次</option>
                            
                            <option value="5">两天一次</option>
                            
                            <option value="6">每周两次</option>
                            
                            <option value="7">每周一次</option>
                            
                            <option value="8">需要时</option>
                            
                            <option value="9">立即</option>
                            
                            <option value="12">睡前</option>
                            
                            <option value="21">每日二次</option>
                            
                            <option value="23">每日1次</option>
                            
                            <option value="29">饭前</option>
                            
                            <option value="30">空腹</option>
                            
                            <option value="31">饭后</option>
                            
                            <option value="32">饭中</option>
                            
                            <option value="33">必要时</option>
                            
                            <option value="37">bid</option>
                            
                            <option value="38">晚睡前</option>
                            
                            <option value="40">Qd</option>
                            
                            <option value="41">Tid</option>
                            
                            <option value="42">Q2h</option>
                            
                            <option value="43">Q4h</option>
                            
                            <option value="44">Q6h</option>
                            
                            <option value="45">Q8h</option>
                            
                            <option value="46">QN</option>
                            
                            <option value="47">Q2D</option>
                            
                        </select>
                    </div>
                </div>
            </div>

            
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">药品条形码 </label>
                        <input type="text" class="form-control max32" value="" name="barcode">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">备注 </label>
                        <input type="text" class="form-control max256" value="" name="remark">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">允许折扣</label>
                        <select class="form-control input-sm" data-placeholder="请选择" name="discount">
                            <option value="2">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">状态</label>
                        <select class="form-control input-sm" data-placeholder="请选择" name="status">
                            <option value="1">正常</option>
                            <option value="2">停用</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 选择(次)剂量单位 -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">(次)剂量单位</h4>
                </div>
                <div class="modal-body pl20">
                    <div class="row mt10 font16" id="J-dosages">
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="袋" value="1" id="1a">
                                <label for="1a">袋</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="片" value="2" id="2a">
                                <label for="2a">片</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="支" value="3" id="3a">
                                <label for="3a">支</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="粒" value="4" id="4a">
                                <label for="4a">粒</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="瓶" value="5" id="5a">
                                <label for="5a">瓶</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="mg" value="6" id="6a">
                                <label for="6a">mg</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="g" value="7" id="7a" checked="">
                                <label for="7a">g</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="ml" value="8" id="8a">
                                <label for="8a">ml</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="l" value="9" id="9a">
                                <label for="9a">l</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="ug" value="10" id="10a">
                                <label for="10a">ug</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="IU" value="11" id="11a">
                                <label for="11a">IU</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="U" value="12" id="12a">
                                <label for="12a">U</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="包" value="13" id="13a">
                                <label for="13a">包</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="盒" value="14" id="14a">
                                <label for="14a">盒</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="枚" value="15" id="15a">
                                <label for="15a">枚</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="丸" value="16" id="16a">
                                <label for="16a">丸</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="颗" value="18" id="18a">
                                <label for="18a">颗</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="滴" value="19" id="19a">
                                <label for="19a">滴</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="件" value="20" id="20a">
                                <label for="20a">件</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="条" value="21" id="21a">
                                <label for="21a">条</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="万单位" value="22" id="22a">
                                <label for="22a">万单位</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="万U" value="23" id="23a">
                                <label for="23a">万U</label>
                            </div>
                        
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="份" value="24" id="24a">
                                <label for="24a">份</label>
                            </div>
                        
                    </div>
                </div>

                <div class="modal-footer modal-btn-col2">
                    <button type="button" class="btn btn-primary J-dosage-submit">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 选择(次)剂量单位 -->
</form>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary btn-sml J-submit-btn">保存</button>&nbsp;
                <button class="btn btn-default btn-sml" onclick="window.history.back(-1);">取消</button>
            </div>
        </div>
        <footer>
	<hr>
	<!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
	<p class="pull-right"> <a href="http://www.DXY.cn" target="_blank">DXY</a> by <a href="http://www.dxy.cn" target="_blank">DXY.CN</a>
	</p>
	<p>© 2015 <a href="http://www.dxy.cn" target="_blank">DXY</a></p>
</footer>
    </div>
</div>

<script type="text/template" id="J-recipe-tpl">
    <input type="hidden" value="2" name="type" id="J-medicine-type">
    <div class="row">
        <div class="col-sm-12 col-md-10">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="国药准字" value="" name="search_number">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control " placeholder="药品条形码" value="" name="search_barcode" >
                            </div>
                            <button type="button" class="btn btn-default J-find-medicine-detail">查找</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">通用名 <span class="asterisk">*</span></label>
                        <input type="text" class="form-control max128" value="" name="medicinename" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">商品名 </label>
                        <input type="text" class="form-control max128" value="" name="generic_name" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">英文名称</label>
                        <input type="text" class="form-control max256" value="" name="enname">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">规格</label>
                        <input type="text" class="form-control max32" value="" name="medicinespec">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">包装单位 <span class="asterisk">*</span></label>
                        <select class="form-control input-sm J-medicineunit" data-placeholder="请选择" name="medicineunit" required>
                            <option value="">请选择</option>
                            <% $.each(unitList, function(i, item){ %>
                            <option value="<%-item.text%>" <% if(type == 2 && item.text == 'g'){ %>selected<% } %>><%-item.text%></option>
                            <% }); %>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">剂型</label>
                        <select class="form-control input-sm" data-placeholder="请选择" name="dosage_from">
                            <option value="">请选择</option>
                            <% $.each(dosageList, function(i, item){ %>
                            <option value="<%-item.id%>"><%-item.text%></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
            </div>

            <% if(type == 1){ %>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">零售价 <span class="asterisk">*</span></label>
                            <input type="text" class="form-control eqnumber" value="" name="medicineprice" required>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">成本价 </label>
                            <input type="text" class="form-control eqnumber" value="" name="costPrice">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">是否拆零 <span class="asterisk">*（保存后不可修改）</span></label>
                            <div class="row mt10">
                                <div class="col-sm-2 col-pad-sm">
                                    <div class="rdio rdio-default">
                                        <input type="radio" name="is_dismounted" id="radioDefault1" class="J-is_dismounted" value="1">
                                        <label for="radioDefault1">是</label>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-pad-sm">
                                    <div class="rdio rdio-default">
                                        <input type="radio" name="is_dismounted" id="radioDefault2" class="J-is_dismounted" checked="checked" value="2">
                                        <label for="radioDefault2">否</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }else{ %>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">零售价 <span class="asterisk">*</span></label>
                            <input type="text" class="form-control eqnumber" value="" name="medicineprice" required>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">成本价 </label>
                            <input type="text" class="form-control eqnumber" value="" name="costPrice">
                        </div>
                    </div>
                </div>
            <% } %>

            <div class="row hidden J-isDismounted">

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">最小单位 <span class="asterisk">*</span></label>
                        <select class="form-control input-sm J-min_medicineunit" data-placeholder="请选择" name="min_medicineunit" required>
                            <option value="">请选择</option>
                            <% $.each(unitList, function(i, item){ %>
                            <option value="<%-item.text%>"><%-item.text%></option>
                            <% }); %>
                        </select>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">最小单位售价 <span class="asterisk">*</span></label>
                        <input type="text" class="form-control eqnumber" value="" name="minMedicineprice" required>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">换算公式 <span class="asterisk">*</span></label>
                        <div class="form-inline">1包装单位= <input type="text" class="form-control J-formula number" value="" required> 最小单位</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">生产厂家</label>
                        <input type="text" class="form-control max128" value="" name="manufacturer">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">国药准字</label>
                        <input type="text" class="form-control max128" value="" name="app_number">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">(次)剂量单位</label>
                        <input type="text" class="form-control hidden J-dosage-ids" name="dosage_units" value="<% if(type == 2){ %>7<% } %>">
                        <input type="text" class="form-control J-dosage-names" data-toggle="modal" data-target="#myModal1" value="<% if(type == 2){ %>g<% } %>">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">拼音码</label>
                        <input type="text" class="form-control" value="" name="pn_code">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="control-label">药品有效期预警时间</label>
                        <div class="row">
                            <div class="col-sm-10">
                                <input type="text" name="warn_effective_date" value="" class="form-control number">
                            </div>
                            <div class="col-sm-2 pd0">天</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="control-label">药品库存的预警数量</label>
                        <div class="row">
                            <div class="col-sm-10">
                                <input type="text" name="storage_num" value="" class="form-control number J-storage_num">
                            </div>
                            <div class="col-sm-2 pd0">包装单位</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <% if(type == 1){ %>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">药品分类</label>
                            <input type="text" class="form-control J-medicine-class">
                            <input type="hidden" class="J-medicine-Id" name="medicine_class">
                        </div>
                    </div>
                <% } %>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">取药地点</label>
                        <select class="form-control input-sm" data-placeholder="请选择" name="address">
                            <option value="1">本院取药</option>
                            <option value="2">外购取药</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">默认用法</label>
                        <select class="form-control input-sm" data-placeholder="请选择" name="dusage">
                            <option value="">请选择</option>
                            <% $.each(usageList, function(i, item){ %>
                            <option value="<%-item.id%>"><%-item.text%></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">默认频次</label>
                        <select class="form-control input-sm" data-placeholder="请选择" name="freq">
                            <option value="">请选择</option>
                            <% $.each(frequencyList, function(i, item){ %>
                            <option value="<%-item.id%>"><%-item.text%></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
            </div>

            <% if(type == 1){ %>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">上药编码 </label>
                            <input type="text" class="form-control max16" value="" name="yiyao_code">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">国际编码</label>
                            <input type="text" name="international_code" class="form-control max128" value="">
                        </div>
                    </div>
                </div>
            <% } %>
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">药品条形码 </label>
                        <input type="text" class="form-control max32" value="" name="barcode">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">备注 </label>
                        <input type="text" class="form-control max256" value="" name="remark">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">允许折扣</label>
                        <select class="form-control input-sm" data-placeholder="请选择" name="discount">
                            <option value="2">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">状态</label>
                        <select class="form-control input-sm" data-placeholder="请选择" name="status">
                            <option value="1">正常</option>
                            <option value="2">停用</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 选择(次)剂量单位 -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">(次)剂量单位</h4>
                </div>
                <div class="modal-body pl20">
                    <div class="row mt10 font16" id="J-dosages">
                        <% $.each(unitList, function(i, item){ %>
                            <div class="col-sm-6">
                                <input type="checkbox" data-name="<%-item.text%>" value="<%-item.id%>" id="<%-item.id%>a" <% if(type == 2 && item.text == 'g'){ %>checked<% } %>>
                                <label for="<%-item.id%>a"><%-item.text%></label>
                            </div>
                        <% }); %>
                    </div>
                </div>

                <div class="modal-footer modal-btn-col2">
                    <button type="button" class="btn btn-primary J-dosage-submit">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 选择(次)剂量单位 -->
</script>

<script type="text/template" id="row-list-tpl">
    <div class="col-sm-6 row-list">
        <div class="form-group">
            <div class="input-group">
                <div class="bootstrap-timepicker">
                    <input type="text" id="timepicker3" class="form-control J-timepicker" name="dosing_times[]" value="">
                </div>
                <a href="#" class="input-group-addon gray J-btn-delete-row"><i class="fa fa-times"></i></a>
                <a href="#" class="input-group-addon gray J-btn-add-row"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
</script>
<script src="//assets.dxycdn.com/app/DXYClinic/test/vendor/vendor.js?t=1560312126"></script>
<script src="//assets.dxycdn.com/app/DXYClinic/test/business/dist/common/core.js?t=1560312126"></script>
<script src="//assets.dxycdn.com/app/DXYClinic/test/vendor/lib/select2.min.js?t=1560312126"></script>
<script src="//assets.dxycdn.com/app/DXYClinic/test/system/dist/common/redirect.js?t=1560312126"></script>

<div class="modal fade" id="confirmModal2" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="false">
    <form method="post" action='#'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="confirmModalLabel">系统提示</h4>
                </div>
                <div class="modal-body">
                    <!--<input name="id" class="hidden" value="">-->
                    <h4 class="pl15 J-modal-text"><i class="fa fa-question-circle font28 mr5 yellow vertical-middle"></i>
                        你确定要删除吗? </h4>
                </div>
                <div class="modal-footer modal-btn-col2">
                    <button type="submit" class="btn btn-primary J-cnf-confirm">确定</button>
                    <button type="button" class="btn btn-default J-cnf-cancel" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- 修改密码 -->
<div class="modal fade" id="globalChangePassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">系统通知</h4>
                    </div>
                    <div class="modal-body pd20">
                            <form>
                                    <div class="row">
                                            <div class="col-sm-12">
                                                    为了保护您的账号安全，我们建议您定期修改密码。
                                            </div>
                                            <div class="col-sm-12 mt10">
                                                    <div class="form-group">
                                                            <label class="control-label">新登录密码 <span class="asterisk">*</span></label>
                                                            <input type="password" name="pwd" class="form-control J-user-password" autocomplete="off" value="" required>
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-sm-12">
                                                    <div class="form-group">
                                                            <label class="control-label">确认密码 <span class="asterisk">*</span></label>
                                                            <input type="password" name="pwd2" class="form-control J-user-repassword" autocomplete="off" value="" required>
                                                    </div>
                                            </div>
                                    </div>
                            </form>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-primary J-change-pass-sub">保存</button>
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">返回</button>
                    </div>
            </div>
    </div>
</div>

<script type="text/javascript">
    // 删除弹窗填充
    function Gconfirm(text, url, confirmFn, cancelFn) {
        var id = url.substring(url.lastIndexOf('/') + 1, url.lastIndexOf('.html'));
        var tpl =
            '<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="false">' +
            '<form method="post" action=' + url + '>' +
            '<div class="modal-dialog">' +
            '<div class="modal-content">' +
            '<div class="modal-header">' +
            '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>' +
            '<h4 class="modal-title" id="confirmModalLabel">系统提示</h4>' +
            '</div>' +
            '<div class="modal-body">' +
            '<input name="id" class="hidden" value="' + id + '">' +
            '<h4 class="pl15"><i class="fa fa-question-circle font28 mr5 yellow vertical-middle"></i> ' + text +
            '</h4>' +
            '</div>' +
            '<div class="modal-footer modal-btn-col2">' +
            '<button type="submit" class="btn btn-primary J-cnf-confirm">确定</button>' +
            '<button type="button" class="btn btn-default J-cnf-cancel" data-dismiss="modal">取消</button>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</form>' +
            '</div>';

        if (!$('#confirmModal').length) {
            $('body').append(tpl);
        }

        var el = $('#confirmModal');
        el.modal('show');
        el.off('click', '.J-cnf-confirm');
        el.off('click', '.J-cnf-cancel');
        el.on('click', '.J-cnf-confirm', function () {
            if (typeof confirmFn === 'function') {
                var data = confirmFn();
            }
            if (!data) {
                el.modal('hide');
                $('#confirmModal').remove();
                $('.modal-backdrop').remove();
            }
        }).on('click', '.J-cnf-cancel', function () {
            if (typeof cancelFn === 'function') {
                var data = cancelFn();
            }
            el.modal('hide');
            $('#confirmModal').remove();
            $('.modal-backdrop').remove();
        });
    }

    // 删除弹窗
    function dodel(url) {
        Gconfirm('你确定要删除吗？', url, function () {});
    }

    // 重置密码弹窗
    function resetPassWd(url) {
        Gconfirm('你确定要重置密码吗？', url, function () {});
    }

    // 重置密码弹窗
    function reset(url) {
        Gconfirm('你确定要重置吗？', url, function () {});
    }

    // 停用弹窗
    function disable(url) {
        Gconfirm('你确定要停用吗？', url, function () {});
    }
</script>
<script type="text/javascript">
    require(['recipe_edit']);
</script>
</body>

</html>