{template './common/mainHeader'}
<!-- 订阅消息列表 -->

            </div>
            <!-- headerbar -->
            <div class="pageheader hidden">
                <h2><i class="fa fa-archive fa-sm"></i> 药房</h2>
            </div>
            <div class="contentpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs patient-tabs J-toggle-tabs">
                    <input type="hidden" name="pharmacy_anchor" value="today">
                    <li class="J-module-control active" data-permission="30"><a href="#today" data-toggle="tab"><strong>今日病人</strong></a></li>
                    <li class="J-module-control" data-permission="30" id="J-da-special-need-patient">
                        <a href="#special" data-toggle="tab">
                            <strong>特需病人</strong>
                            <small class="title-remark">(历史待发药)</small>
                        </a>
                    </li>
                    <li class="pull-right J-module-control" data-modules="6,16,29,7,74,75,76"><a href="https:///Clinic/Pharmacy/manage.html">药品库存管理</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- 今日病人 -->
                    <div class="tab-pane J-module-control active" data-permission="30" id="today">
                        <div class="row mb10">
                            <form class="form-inline" method="post">
                                <div class="col-sm-4">
                                    <div class="btn-group" id="J-select-box">
        <span class="btn btn-sm btn-white active" data-status="">全部</span>
        <span class="btn btn-sm btn-white " data-status="1"><i class="fa fa-circle red"></i> 待发药0人</span>
        <span class="btn btn-sm btn-white " data-status="3"><i class="fa fa-circle end"></i> 已完成0人</span>
    </div>
                                </div>
                                <div class="col-sm-8 pull-right text-right">
                                    <div class="form-group mr10 mt2">
                                        <label class="control-label">收费状态：</label>
                                        <div class="input-group mt5 text-left">
                                            <div class="ckbox ckbox-default">
                                                <input type="checkbox" value="0" id="J-today-status-1" name="charged" checked="" class="J-today-charged-status">
                                                <label for="J-today-status-1" class="pr10">未收费</label>
                                            </div>
                                        </div>
                                        <div class="input-group mt5 text-left">
                                            <div class="ckbox ckbox-default">
                                                <input type="checkbox" value="1" id="J-today-status-2" name="charged" checked="" class="J-today-charged-status">
                                                <label for="J-today-status-2" class="pr10">已收费</label>
                                            </div>
                                        </div>
                                        <div class="input-group mt5 text-left">
                                            <div class="ckbox ckbox-default">
                                                <input type="checkbox" value="2" id="J-today-status-3" name="charged" class="J-today-charged-status">
                                                <label for="J-today-status-3" class="pr10">已退费</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mr5">
                                        <div class="input-group col-custom-xs-12">
                                            <input class="form-control input-sm2 radius3 J-date mbsc-comp" placeholder="开单日期" name="date" type="text" size="11" id="mobiscroll1560584325602" readonly="">
                                        </div>
                                    </div>
                                    <div class="form-group input-group input-group-sm mb10 col-custom-xs-12">
                                        <input type="text" class="form-control w200p" placeholder="请输入姓名或手机或病案号" name="patient_name" id="j_search_input">
                                        <span class="input-group-btn">
                                        <button id="j_search_submit" type="button" class="btn btn-default btn-search"><i class="fa fa-search"></i></button>
                                      </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- 病人列表 -->
                        <div class="bloglist row" id="J-today-list-wrap"></div>
                        <div class="J-pager-wrap" style="display: none;">
                        </div>
                    </div>
                    <!-- 今日病人 -->
                    <!-- 特需病人 -->
                    <div class="tab-pane J-module-control" data-permission="30" id="special">
                        <div class="row mb10">
                            <form class="form-inline" method="post">
                                <div class="col-sm-5">
                                    <div class="btn-group" id="J-special-box">
        <span class="btn btn-sm btn-white active" data-status="">全部</span>
        <span class="btn btn-sm btn-white " data-status="1"><i class="fa fa-circle red"></i> 待发药9575人</span>
        <span class="btn btn-sm btn-white " data-status="3"><i class="fa fa-circle end"></i> 已完成0人</span>
    </div>
                                </div>
                                <div class="col-sm-7 pull-right text-right" id="J-search-special-form">
                                    <div class="form-group mr10 mt2">
                                        <label class="control-label">收费状态：</label>
                                        <div class="input-group mt5 text-left">
                                            <div class="ckbox ckbox-default">
                                                <input type="checkbox" value="0" id="J-special-status-1" name="charged" checked="" class="J-special-charged-status">
                                                <label for="J-special-status-1" class="pr10">未收费</label>
                                            </div>
                                        </div>
                                        <div class="input-group mt5 text-left">
                                            <div class="ckbox ckbox-default">
                                                <input type="checkbox" value="1" id="J-special-status-2" name="charged" checked="" class="J-special-charged-status">
                                                <label for="J-special-status-2" class="pr10">已收费</label>
                                            </div>
                                        </div>
                                        <div class="input-group mt5 text-left">
                                            <div class="ckbox ckbox-default">
                                                <input type="checkbox" value="2" id="J-special-status-3" name="charged" class="J-special-charged-status">
                                                <label for="J-special-status-3" class="pr10">已退费</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group input-group-sm pull-right mb10">
                                        <input type="text" class="hidden">
                                        <input type="text" class="form-control w200p" placeholder="请输入姓名或手机或病案号" name="patient_name" id="j_special_search_input">
                                        <span class="input-group-btn">
                                        <button id="j_special_submit" type="button" class="btn btn-default btn-search"><i class="fa fa-search"></i></button>
                                      </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- 病人列表 -->
                        <div class="bloglist row" id="J-special-list-wrap"><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div class="blog-item shadow-none">
            <div class="blog-details">
                <div class="panel panel-danger panel-alt widget-photoday img-list">
                    
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/Clinic/Patient/profile?patient_id=00020123016"><img src="//assets.dxycdn.com/app/DXYClinic/test/business/images/female-avatar.png" class="img-sm img-border" alt="profile"></a>
                            </div>
                            <div class="col-sm-8 pl0">
                                <span class="widget-label badge badge-danger room-tag"></span>
                                <h3><a class="white name-nowrap" href="/Clinic/Patient/profile?patient_id=00020123016">周敏</a> <small class="media-span tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="41岁5月14天">（女 41岁）</small></h3>
                                <span class="text-nowrap">药品：甘草,杏仁,当归,麻黄,细辛大声道撒,附子</span>
                                <span class="text-nowrap">
                                    待取药 
                                    / 
                                    等候17小时26分钟 / 
                                    
                                        未收费
                                    
                                </span>
                                <span class="text-nowrap">开单医生：尹医生（初诊）</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <ul class="photo-meta">
                            <!-- 待发药 -->
                            
                                <li><a href="{php echo $this->createWeburl('yaofan',array('op'=>'baogao'))}8">待发药<em class="text-danger">(6)</em></a></li>
                            

                            <!-- 已完成 -->
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div class="blog-item shadow-none">
            <div class="blog-details">
                <div class="panel panel-danger panel-alt widget-photoday img-list">
                    
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/Clinic/Patient/profile?patient_id=00020123015"><img src="//assets.dxycdn.com/app/DXYClinic/test/business/images/male-avatar.png" class="img-sm img-border" alt="profile"></a>
                            </div>
                            <div class="col-sm-8 pl0">
                                <span class="widget-label badge badge-danger room-tag"></span>
                                <h3><a class="white name-nowrap" href="/Clinic/Patient/profile?patient_id=00020123015">夏凯</a> <small class="media-span tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="25岁0月25天">（男 25岁）</small></h3>
                                <span class="text-nowrap">药品：荆芥,金银花（测试bug）,牛蒡子,半夏,厚朴,茯苓,紫苏叶,地骨皮,黄芩,甘草</span>
                                <span class="text-nowrap">
                                    待取药 
                                    / 
                                    等候18小时53分钟 / 
                                    
                                        未收费
                                    
                                </span>
                                <span class="text-nowrap">开单医生：夏凯（初诊）</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <ul class="photo-meta">
                            <!-- 待发药 -->
                            
                                <li><a href="{php echo $this->createWeburl('yaofan',array('op'=>'baogao'))}">待发药<em class="text-danger">(10)</em></a></li>
                            

                            <!-- 已完成 -->
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div class="blog-item shadow-none">
            <div class="blog-details">
                <div class="panel panel-danger panel-alt widget-photoday img-list">
                    
                    <div class="p-relative">
                        <span class="icon-vip tooltips" data-toggle="tooltip" data-placement="top" data-original-title="青铜"></span>
                    </div>
                    
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/Clinic/Patient/profile?patient_id=00020116868"><img src="//assets.dxycdn.com/app/DXYClinic/test/business/images/male-avatar.png" class="img-sm img-border" alt="profile"></a>
                            </div>
                            <div class="col-sm-8 pl0">
                                <span class="widget-label badge badge-danger room-tag"></span>
                                <h3><a class="white name-nowrap" href="/Clinic/Patient/profile?patient_id=00020116868">%C2%ED%B1%BC</a> <small class="media-span tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="26岁8月25天">（男 26岁）</small></h3>
                                <span class="text-nowrap">药品：大布洛芬</span>
                                <span class="text-nowrap">
                                    待取药 
                                    / 
                                    等候19小时37分钟 / 
                                    
                                        未收费
                                    
                                </span>
                                <span class="text-nowrap">开单医生：姚俊（初诊）</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <ul class="photo-meta">
                            <!-- 待发药 -->
                            
                                <li><a href="{php echo $this->createWeburl('yaofan',array('op'=>'baogao'))}">待发药<em class="text-danger">(1)</em></a></li>
                            

                            <!-- 已完成 -->
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div class="blog-item shadow-none">
            <div class="blog-details">
                <div class="panel panel-danger panel-alt widget-photoday img-list">
                    
                    <div class="p-relative">
                        <span class="icon-vip tooltips" data-toggle="tooltip" data-placement="top" data-original-title="青铜"></span>
                    </div>
                    
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/Clinic/Patient/profile?patient_id=00020116868"><img src="//assets.dxycdn.com/app/DXYClinic/test/business/images/male-avatar.png" class="img-sm img-border" alt="profile"></a>
                            </div>
                            <div class="col-sm-8 pl0">
                                <span class="widget-label badge badge-danger room-tag"></span>
                                <h3><a class="white name-nowrap" href="/Clinic/Patient/profile?patient_id=00020116868">%C2%ED%B1%BC</a> <small class="media-span tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="26岁8月25天">（男 26岁）</small></h3>
                                <span class="text-nowrap">药品：黄芪</span>
                                <span class="text-nowrap">
                                    待取药 
                                    / 
                                    等候1天 / 
                                    
                                        未收费
                                    
                                </span>
                                <span class="text-nowrap">开单医生：ada（初诊）</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <ul class="photo-meta">
                            <!-- 待发药 -->
                            
                                <li><a href="{php echo $this->createWeburl('yaofan',array('op'=>'baogao'))}">待发药<em class="text-danger">(1)</em></a></li>
                            

                            <!-- 已完成 -->
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div class="blog-item shadow-none">
            <div class="blog-details">
                <div class="panel panel-danger panel-alt widget-photoday img-list">
                    
                    <div class="p-relative">
                        <span class="icon-vip tooltips" data-toggle="tooltip" data-placement="top" data-original-title="青铜"></span>
                    </div>
                    
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/Clinic/Patient/profile?patient_id=002113479"><img src="//assets.dxycdn.com/app/DXYClinic/test/business/images/child-avatar.png" class="img-sm img-border" alt="profile"></a>
                            </div>
                            <div class="col-sm-8 pl0">
                                <span class="widget-label badge badge-danger room-tag"></span>
                                <h3><a class="white name-nowrap" href="/Clinic/Patient/profile?patient_id=002113479">王小二</a> <small class="media-span tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="2岁9月6天">（女 2岁9月6天）</small></h3>
                                <span class="text-nowrap">药品：注射用阿奇霉素,阿托品注射液,阿奇霉素片,灸甘草,黄芪,大黄改</span>
                                <span class="text-nowrap">
                                    待取药 
                                    / 
                                    等候1天 / 
                                    
                                        已收费
                                    
                                </span>
                                <span class="text-nowrap">开单医生：戴微微（初诊）</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <ul class="photo-meta">
                            <!-- 待发药 -->
                            
                                <li><a href="{php echo $this->createWeburl('yaofan',array('op'=>'baogao'))}">待发药<em class="text-danger">(6)</em></a></li>
                            

                            <!-- 已完成 -->
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div class="blog-item shadow-none">
            <div class="blog-details">
                <div class="panel panel-danger panel-alt widget-photoday img-list">
                    
                    <div class="p-relative">
                        <span class="icon-vip tooltips" data-toggle="tooltip" data-placement="top" data-original-title="青铜"></span>
                    </div>
                    
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/Clinic/Patient/profile?patient_id=00020123014"><img src="//assets.dxycdn.com/app/DXYClinic/test/business/images/male-avatar.png" class="img-sm img-border" alt="profile"></a>
                            </div>
                            <div class="col-sm-8 pl0">
                                <span class="widget-label badge badge-danger room-tag"></span>
                                <h3><a class="white name-nowrap" href="/Clinic/Patient/profile?patient_id=00020123014">焦二</a> <small class="media-span tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="50岁5月14天">（男 50岁）</small></h3>
                                <span class="text-nowrap">药品：云南白药骨伤贴</span>
                                <span class="text-nowrap">
                                    待取药 
                                    / 
                                    等候1天 / 
                                    
                                        未收费
                                    
                                </span>
                                <span class="text-nowrap">开单医生：张美（初诊）</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <ul class="photo-meta">
                            <!-- 待发药 -->
                            
                                <li><a href="{php echo $this->createWeburl('yaofan',array('op'=>'baogao'))}">待发药<em class="text-danger">(1)</em></a></li>
                            

                            <!-- 已完成 -->
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div class="blog-item shadow-none">
            <div class="blog-details">
                <div class="panel panel-danger panel-alt widget-photoday img-list">
                    
                    <div class="p-relative">
                        <span class="icon-vip tooltips" data-toggle="tooltip" data-placement="top" data-original-title="普通会员a"></span>
                    </div>
                    
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/Clinic/Patient/profile?patient_id=00020116991"><img src="//assets.dxycdn.com/app/DXYClinic/test/business/images/male-avatar.png" class="img-sm img-border" alt="profile"></a>
                            </div>
                            <div class="col-sm-8 pl0">
                                <span class="widget-label badge badge-danger room-tag"></span>
                                <h3><a class="white name-nowrap" href="/Clinic/Patient/profile?patient_id=00020116991">刘旺升</a> <small class="media-span tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="26岁7月14天">（男 26岁）</small></h3>
                                <span class="text-nowrap">药品：克拉霉素片,0.9%氯化钠注射液</span>
                                <span class="text-nowrap">
                                    待取药 
                                    / 
                                    等候1天 / 
                                    
                                        已收费
                                    
                                </span>
                                <span class="text-nowrap">开单医生：余（初诊）</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <ul class="photo-meta">
                            <!-- 待发药 -->
                            
                                <li><a href="{php echo $this->createWeburl('yaofan',array('op'=>'baogao'))}">待发药<em class="text-danger">(2)</em></a></li>
                            

                            <!-- 已完成 -->
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div class="blog-item shadow-none">
            <div class="blog-details">
                <div class="panel panel-danger panel-alt widget-photoday img-list">
                    
                    <div class="p-relative">
                        <span class="icon-vip tooltips" data-toggle="tooltip" data-placement="top" data-original-title="青铜"></span>
                    </div>
                    
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/Clinic/Patient/profile?patient_id=00020120634"><img src="//assets.dxycdn.com/app/DXYClinic/test/business/images/male-avatar.png" class="img-sm img-border" alt="profile"></a>
                            </div>
                            <div class="col-sm-8 pl0">
                                <span class="widget-label badge badge-danger room-tag"></span>
                                <h3><a class="white name-nowrap" href="/Clinic/Patient/profile?patient_id=00020120634">1112测1</a> <small class="media-span tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="19岁2月11天">（男 19岁）</small></h3>
                                <span class="text-nowrap">药品：10%葡萄糖注射液,祛湿茶 1盒（7袋）花草茶 茶疗煮饮茶</span>
                                <span class="text-nowrap">
                                    待取药 
                                    / 
                                    等候1天 / 
                                    
                                        未收费
                                    
                                </span>
                                <span class="text-nowrap">开单医生：张仲景（初诊）</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <ul class="photo-meta">
                            <!-- 待发药 -->
                            
                                <li><a href="{php echo $this->createWeburl('yaofan',array('op'=>'baogao'))}">待发药<em class="text-danger">(2)</em></a></li>
                            

                            <!-- 已完成 -->
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div class="blog-item shadow-none">
            <div class="blog-details">
                <div class="panel panel-danger panel-alt widget-photoday img-list">
                    
                    <div class="p-relative">
                        <span class="icon-vip tooltips" data-toggle="tooltip" data-placement="top" data-original-title="三级会员"></span>
                    </div>
                    
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/Clinic/Patient/profile?patient_id=002100239"><img src="https:///japi/session/102010?id=2217&amp;pattern=200" class="img-sm img-border" alt="profile"></a>
                            </div>
                            <div class="col-sm-8 pl0">
                                <span class="widget-label badge badge-danger room-tag"></span>
                                <h3><a class="white name-nowrap" href="/Clinic/Patient/profile?patient_id=002100239">杨国轩</a> <small class="media-span tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="5岁5月6天">（男 5岁5月6天）</small></h3>
                                <span class="text-nowrap">药品：5％葡萄糖氯化钠注射液</span>
                                <span class="text-nowrap">
                                    待取药 
                                    / 
                                    等候1天 / 
                                    
                                        未收费
                                    
                                </span>
                                <span class="text-nowrap">开单医生：张医生（初诊）</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <ul class="photo-meta">
                            <!-- 待发药 -->
                            
                                <li><a href="{php echo $this->createWeburl('yaofan',array('op'=>'baogao'))}">待发药<em class="text-danger">(1)</em></a></li>
                            

                            <!-- 已完成 -->
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div class="blog-item shadow-none">
            <div class="blog-details">
                <div class="panel panel-danger panel-alt widget-photoday img-list">
                    
                    <div class="p-relative">
                        <span class="icon-vip tooltips" data-toggle="tooltip" data-placement="top" data-original-title="青铜"></span>
                    </div>
                    
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/Clinic/Patient/profile?patient_id=00020122728"><img src="//assets.dxycdn.com/app/DXYClinic/test/business/images/child-avatar.png" class="img-sm img-border" alt="profile"></a>
                            </div>
                            <div class="col-sm-8 pl0">
                                <span class="widget-label badge badge-danger room-tag"></span>
                                <h3><a class="white name-nowrap" href="/Clinic/Patient/profile?patient_id=00020122728">w wang</a> <small class="media-span tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="12岁5月14天">（女 12岁5月14天）</small></h3>
                                <span class="text-nowrap">药品：5％葡萄糖氯化钠注射液,注射用头孢曲松钠       [药典]</span>
                                <span class="text-nowrap">
                                    待取药 
                                    / 
                                    等候2天 / 
                                    
                                        未收费
                                    
                                </span>
                                <span class="text-nowrap">开单医生：汪院长（初诊）</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <ul class="photo-meta">
                            <!-- 待发药 -->
                            
                                <li><a href="{php echo $this->createWeburl('yaofan',array('op'=>'baogao'))}">待发药<em class="text-danger">(2)</em></a></li>
                            

                            <!-- 已完成 -->
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div class="blog-item shadow-none">
            <div class="blog-details">
                <div class="panel panel-danger panel-alt widget-photoday img-list">
                    
                    <div class="p-relative">
                        <span class="icon-vip tooltips" data-toggle="tooltip" data-placement="top" data-original-title="二级会员"></span>
                    </div>
                    
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/Clinic/Patient/profile?patient_id=00020117401"><img src="//assets.dxycdn.com/app/DXYClinic/test/business/images/female-avatar.png" class="img-sm img-border" alt="profile"></a>
                            </div>
                            <div class="col-sm-8 pl0">
                                <span class="widget-label badge badge-danger room-tag"></span>
                                <h3><a class="white name-nowrap" href="/Clinic/Patient/profile?patient_id=00020117401">包阿玲</a> <small class="media-span tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="28岁8月5天">（女 28岁）</small></h3>
                                <span class="text-nowrap">药品：菊花,人参,五味子(中）</span>
                                <span class="text-nowrap">
                                    待取药 
                                    / 
                                    等候2天 / 
                                    
                                        未收费
                                    
                                </span>
                                <span class="text-nowrap">开单医生：唐医生（初诊）</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <ul class="photo-meta">
                            <!-- 待发药 -->
                            
                                <li><a href="{php echo $this->createWeburl('yaofan',array('op'=>'baogao'))}">待发药<em class="text-danger">(3)</em></a></li>
                            

                            <!-- 已完成 -->
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div class="blog-item shadow-none">
            <div class="blog-details">
                <div class="panel panel-danger panel-alt widget-photoday img-list">
                    
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/Clinic/Patient/profile?patient_id=00020117138"><img src="https:///japi/session/102010?id=7994&amp;pattern=200" class="img-sm img-border" alt="profile"></a>
                            </div>
                            <div class="col-sm-8 pl0">
                                <span class="widget-label badge badge-danger room-tag"></span>
                                <h3><a class="white name-nowrap" href="/Clinic/Patient/profile?patient_id=00020117138">ceshi897</a> <small class="media-span tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="25岁5月14天">（女 25岁）</small></h3>
                                <span class="text-nowrap">药品：通用名</span>
                                <span class="text-nowrap">
                                    待取药 
                                    / 
                                    等候2天 / 
                                    
                                        未收费
                                    
                                </span>
                                <span class="text-nowrap">开单医生：岳静（初诊）</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <ul class="photo-meta">
                            <!-- 待发药 -->
                            
                                <li><a href="{php echo $this->createWeburl('yaofan',array('op'=>'baogao'))}">待发药<em class="text-danger">(1)</em></a></li>
                            

                            <!-- 已完成 -->
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
                        <div class="J-special-wrap"><div class="base_page"><a href="#/patient_name/@null/patient_status/@null/charged/0,1/page/1" type="button" data-page_num="1" class="btn btn-default j_page_prev_btn pull-left"><i class="fa fa-chevron-left"></i></a><button href="" type="button" class="btn btn-default j_page_info base_page_info pull-left" disabled="disabled">1/829</button><a href="#/patient_name/@null/patient_status/@null/charged/0,1/page/2" type="button" data-page_num="2" class="btn btn-default j_page_next_btn pull-left"><i class="fa fa-chevron-right"></i></a><input class="form-control base_page_search_input pull-left" id="j_madule_page_search_input" type="text"><a class="btn btn-default j_madule_page_search_submit pull-left ml5" type="button">Go</a></div></div>
                    </div>
                    <!-- 特需病人 -->
                </div>
            </div>
        </div>
        <!-- mainpanel -->
    </section>
    <!-- 今日病人模版 -->
    <script type="text/template" id="today-list-tpl">
        <div class="blog-item shadow-none">
            <div class="blog-details">
                <div class="panel panel-<%- className %> panel-alt widget-photoday img-list">
                    <%if(member_type && member_type_status == 1){%>
                    <div class="p-relative">
                        <span class="icon-vip tooltips" data-toggle="tooltip" data-placement="top" data-original-title="<%-member_type%>"></span>
                    </div>
                    <%} else if(member_type && member_type_status == 2){%>
                    <div class="p-relative">
                        <span class="icon-vip-expire tooltips" data-toggle="tooltip" data-placement="top" data-original-title="<%-member_type%>(已到期)"></span>
                    </div>
                    <% } %>
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="<%- global_src_api %>/Patient/profile?patient_id=<%- patient_id %>"><img src="<%- image %>" class="img-sm img-border" alt="profile"></a>
                            </div>
                            <div class="col-sm-8 pl0">
                                <span class="widget-label badge badge-<%- className %> room-tag"><%- room_name %></span>
                                <h3><a class="white name-nowrap" href="<%- global_src_api %>/Patient/profile?patient_id=<%- patient_id %>"><%- name %></a> <small class="media-span tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="<%- age_info %>">（<%- sex_name %><%if(age_number*1){%><%if(age_number*1 < 14){%> <%- age_info %><%} else {%> <%-age%><%}%><%}%>）</small></h3>
                                <span class="text-nowrap">药品：<%- inspect %></span>
                                <span class="text-nowrap">
                                    <%- status %> 
                                    <%if(status_code<1){%>/ 
                                    等候<%- wait_time %><%}%> / 
                                    <% if (chargedStatus == 2) { %>
                                        未收费
                                    <% } else if (chargedStatus == 3) { %>
                                        已收费
                                    <% } else if (chargedStatus == 1) { %>
                                        已退费
                                    <% } %>
                                </span>
                                <span class="text-nowrap">开单医生：<%- doctor %><%if(firstvisit){%>（<%- firstvisit %>）<%}%></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <ul class="photo-meta">
                            <!-- 待发药 -->
                            <% if(no_start_num){  %>
                                <li><a href="{php echo $this->createWeburl('yaofan',array('op'=>'baogao'))}" class="J-da-pharmacy-pending">待发药<em class="text-danger">(<%-no_start_num%>)</em></a></li>
                            <% } %>

                            <!-- 已完成 -->
                            <% if(complete_num){  %>
                                <li><a href="<%- global_src_api %>/Pharmacy/report?patient_id=<%- patient_id %>&clinic_id=<%- clinic_id %>">已完成<em>(<%-complete_num%>)</em></a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!-- 今日病人状态栏 -->
    <script type="text/template" id="J-select-item-tpl">
        <span class="btn btn-sm btn-white <% if (!status) { %>active<%}%>" data-status="">全部</span>
        <span class="btn btn-sm btn-white <% if (status == 1) { %>active<%}%>" data-status="1"><i class="fa fa-circle red"></i> 待发药<%- status_count[1] %>人</span>
        <span class="btn btn-sm btn-white <% if (status == 3) { %>active<%}%>" data-status="3"><i class="fa fa-circle end"></i> 已完成<%- status_count[3] %>人</span>
    </script>
    <!-- 特需病人模版 -->
    <script type="text/template" id="special-list-tpl">
        <div class="blog-item shadow-none">
            <div class="blog-details">
                <div class="panel panel-<%- className %> panel-alt widget-photoday img-list">
                    <%if(member_type && member_type_status == 1){%>
                    <div class="p-relative">
                        <span class="icon-vip tooltips" data-toggle="tooltip" data-placement="top" data-original-title="<%-member_type%>"></span>
                    </div>
                    <%} else if(member_type && member_type_status == 2){%>
                    <div class="p-relative">
                        <span class="icon-vip-expire tooltips" data-toggle="tooltip" data-placement="top" data-original-title="<%-member_type%>(已到期)"></span>
                    </div>
                    <% } %>
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="<%- global_src_api %>/Patient/profile?patient_id=<%- patient_id %>"><img src="<%- image %>" class="img-sm img-border" alt="profile"></a>
                            </div>
                            <div class="col-sm-8 pl0">
                                <span class="widget-label badge badge-<%- className %> room-tag"><%- room_name %></span>
                                <h3><a class="white name-nowrap" href="<%- global_src_api %>/Patient/profile?patient_id=<%- patient_id %>"><%- name %></a> <small class="media-span tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="<%- age_info %>">（<%- sex_name %><%if(age_number*1){%><%if(age_number*1 < 14){%> <%- age_info %><%} else {%> <%-age%><%}%><%}%>）</small></h3>
                                <span class="text-nowrap">药品：<%- inspect %></span>
                                <span class="text-nowrap">
                                    <%- status %> 
                                    <%if(status_code<1){%>/ 
                                    等候<% if (wait_time.indexOf('天') >= 0) {%><%- parseInt(wait_time) %>天<%} else {%><%- wait_time %><%}%><%}%> / 
                                    <% if (chargedStatus == 2) { %>
                                        未收费
                                    <% } else if (chargedStatus == 3) { %>
                                        已收费
                                    <% } else if (chargedStatus == 1) { %>
                                        已退费
                                    <% } %>
                                </span>
                                <span class="text-nowrap">开单医生：<%- doctor %><%if(firstvisit){%>（<%- firstvisit %>）<%}%></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <ul class="photo-meta">
                            <!-- 待发药 -->
                            <% if(no_start_num){  %>
                                <li><a href="<%- global_src_api %>/Pharmacy/input?patient_id=<%- patient_id %>&clinic_id=<%- clinic_id %>">待发药<em class="text-danger">(<%-no_start_num%>)</em></a></li>
                            <% } %>

                            <!-- 已完成 -->
                            <% if(complete_num){  %>
                                <li><a href="<%- global_src_api %>/Pharmacy/report?patient_id=<%- patient_id %>&clinic_id=<%- clinic_id %>">已完成<em>(<%-complete_num%>)</em></a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!-- 特需病人状态栏 -->
    <script type="text/template" id="J-special-item-tpl">
        <span class="btn btn-sm btn-white active" data-status="">全部</span>
        <span class="btn btn-sm btn-white" data-status="1"><i class="fa fa-circle red"></i> 待发药<%- status_count[1] %>人</span>
        <span class="btn btn-sm btn-white" data-status="3"><i class="fa fa-circle end"></i> 已完成<%- status_count[3] %>人</span>
    </script>
    
    <script src="//assets.dxycdn.com/app/DXYClinic/test/vendor/vendor.js?t=1560312126"></script>
<!--[if IE]>
<script src="//assets.dxycdn.com/app/DXYClinic/test/vendor/lib/bootstrap/html5shiv.js?t=1560312126"></script>
<script src="//assets.dxycdn.com/app/DXYClinic/test/vendor/lib/bootstrap/respond.min.js?t=1560312126"></script>
<link href="//assets.dxycdn.com/app/DXYClinic/test/vendor/lib/bootstrap/respond-proxy.html?t=1560312126" id="respond-proxy" rel="respond-proxy" />
<link href="/Public/sites/crossdomain/respond.proxy.gif?t=1560312126" id="respond-redirect" rel="respond-redirect" />
<script src="/Public/sites/crossdomain/respond.proxy.js?t=1560312126"></script>
<![endif]-->
<script src="//assets.dxycdn.com/app/DXYClinic/test/business/dist/common/core.js?t=1560312126"></script>
<!-- 修改密码 -->
<div class="modal fade" id="globalChangePassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">系统通知</h4>
					</div>
					<div class="modal-body pd20">
							<form>
									<div class="row">
											<div class="col-sm-12">
													为了保护您的账号安全，我们建议您定期修改密码。
											</div>
											<div class="col-sm-12 mt10">
													<div class="form-group">
															<label class="control-label">新登录密码 <span class="asterisk">*</span></label>
															<input type="password" name="pwd" class="form-control J-user-password" autocomplete="off" value="" required>
													</div>
											</div>
									</div>
									<div class="row">
											<div class="col-sm-12">
													<div class="form-group">
															<label class="control-label">确认密码 <span class="asterisk">*</span></label>
															<input type="password" name="pwd2" class="form-control J-user-repassword" autocomplete="off" value="" required>
													</div>
											</div>
									</div>
							</form>
					</div>
					<div class="modal-footer">
							<button type="button" class="btn btn-primary J-change-pass-sub">保存</button>
							<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">返回</button>
					</div>
			</div>
	</div>
</div>
<!-- <script type="text/javascript">
	if(window.location.href.indexOf('dxy.net') < 0) {
	    document.write('<script src="\/\/assets.kf5.com\/supportbox\/main.js?' + (new Date).getDay() + '" id="kf5-provide-supportBox" kf5-domain="clinicdxy.kf5.com" charset="utf-8"><\/script>');
	    $(function(){
	    	window.KF5SupportBoxAPI.init();
	    	window.KF5SupportBoxAPI.ready(function()
			{
		        // 移除默认按钮
		        window.KF5SupportBoxAPI.removeButton();

		        $('.kf5-support-btn').on('click', function() {
		        	window.KF5SupportBoxAPI.open();
		        })
			});	
	    });
   }
</script> -->
    <script type="text/javascript">
    require(['pharmacy']);
    </script>
</body>

</html>