{template './common/mainHeader'}
<ul class="nav nav-tabs">
	<li>
	
	<a href="/index.php?c=site&a=entry&do=copysite&m=hyb_yl&act=index.special&ac=special">特色服务项目</a>
	
	</li>
	<li {if empty($id)}class="active"{/if}><a href="">添加特色服务项目</a></li>
	{if !empty($id)}
	<li class="active"><a href="#">编辑特色服务项目</a></li>
	{/if}
</ul>
<div class="app-content">
	<div class="app-form">
		<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" >
			<input type="hidden" name="id" value="{$id}" />
			<div class="panel panel-default">
				<div class="panel-heading">特色服务项目设置</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">排序</label>
					<div class="col-sm-9">
						<input type="text" name="sort" placeholder="默认排序为0" class="form-control" value="{$item['sort']}" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">标题<span class="must-fill">*</span></label>
					<div class="col-sm-9">
						<input type="text" name="title" required class="form-control" value="{$item['title']}" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">普通价格<span class="must-fill">*</span></label>
					<div class="col-sm-9">
						<input type="text" name="money" required class="form-control" value="{$item['money']}" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">会员价格<span class="must-fill">*</span></label>
					<div class="col-sm-9">
						<input type="text" name="vip_money" required class="form-control" value="{$item['vip_money']}" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">图片<span class="must-fill">*</span></label>
					<div class="col-sm-9">
						{php echo tpl_form_field_image('thumb', $item['thumb'])}
						<span class="help-block">建议图片大小80*80</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">菜单类型</label>
					<div class="col-sm-9">
						<select name="type" class="form-control">
							<option value="" {if $item['type'] == ''} selected="selected" {/if} >请选择类型</option>
						{loop $server $ser}
							<option value="{$ser['pinyin']}" {if $item['type'] == $ser['pinyin']} selected="selected" {/if} >{$ser['name']}</option>
						{/loop}
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">是否显示</label>
					<div class="col-sm-9">
						<div class="radio-inline">
							<input type="radio" name='status' value='1' {if $item['status']==1}checked{/if}>是
						</div>
						<div class="radio-inline">
							<input type="radio" name='status' value='0' {if $item['status']==0}checked{/if}>否
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"></label>
				<div class="col-sm-9">
					<input type="submit" name="submit" value="提交" class="btn btn-primary min-width" />
					<input type="hidden" name="token" value="{$_W['token']}" />
				</div>
			</div>
		</form>
	</div>
</div>


<script type="text/javascript" src="{php echo HYB_YL_ADMIN}/js/showmodel.js"></script>
<script>
	$('input[name="nav[thumb]"]').attr('required','required');
	$("#reset").on('click',function(){
		$("#color").val('#666').trigger('propertychange');
	});
	
</script>