{template '/common/mainHeader'}
<div class="app-container-right">
			<ul class="nav nav-tabs">
	<li class="active"><a href="#">支出统计</a></li>
</ul>
<div class="app-content">
	<div class="app-filter">
		<div class="filter-list">
			<form action="" method="get" class="form-horizontal" id="form1">
				<input type="hidden" name="c" value="site" />
				<input type="hidden" name="a" value="entry" />
				<input type="hidden" name="m" value="hyb_yl" />
				<input type="hidden" name="op" value="pay" />
				<input type="hidden" name="ac" value="pay" />
				<input type="hidden" name="do" value="datum" />
				<!-- <input type="hidden" name="days" value="1" /> -->
				
				<div class="form-group">
					<label class="col-sm-2 control-label">时间</label>
					<div class="col-sm-9 js-daterange" data-form="#form1">
						<div class="btn-group">
							<!-- <a href="{php echo $this->createWebUrl('datum',array('op'=>'index','ac'=>'operationstatistics','timetype'=>'1'))}" class="btn {if $days == '1'} btn-primary {else} btn-default {/if}">今天</a>
							<a href="{php echo $this->createWebUrl('datum',array('op'=>'index','ac'=>'operationstatistics','timetype'=>'2'))}" class="btn {if $days == '7'} btn-primary {else} btn-default {/if}">最近7天</a>
							<a href="{php echo $this->createWebUrl('datum',array('op'=>'index','ac'=>'operationstatistics','timetype'=>'3'))}" class="btn {if $days == '30'} btn-primary {else} btn-default {/if}">最近30天</a> -->
							<a href="javascript:;" class="btn js-btn-custom {if $times == '1'} btn-primary {else} btn-default {/if}" onclick="changes()">自定义</a>
							<input type="hidden" name="times" value="{$times}" id="times">
							<script type="text/javascript">
								function changes(){
									var times = $("#times").val();
									if(times == '')
									{
										$("#times").val('1');
									}else{
										$("#times").val();
									}
								}
							</script>
						</div>
						<span class="btn-daterange js-btn-daterange">

							<script type="text/javascript">
								require(["daterangepicker"], function(){
										$(function(){
											$(".daterange.daterange-date").each(function(){
												var elm = this;
												$(this).daterangepicker({
													startDate: $(elm).prev().prev().val(),
													endDate: $(elm).prev().val(),
													format: "YYYY-MM-DD"
												}, function(start, end){
													$(elm).find(".date-title").html(start.toDateStr() + " 至 " + end.toDateStr());
													$(elm).prev().prev().val(start.toDateStr());
													$(elm).prev().val(end.toDateStr());
													var times = $("#times").val();
													if(times == '')
													{
														$("#times").val('1');
													}else{
														$("#times").val();
													}
												});
											});
										});
									});
							</script>

							<input name="start" type="hidden" value="{$starts}" />
							<input name="end" type="hidden" value="{$ends}" />
							<button class="btn btn-default daterange daterange-date" type="button">
								<span class="date-title">{$starts} 至 {$ends}</span>
								<i class="fa fa-calendar"></i>
							</button>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-md-9">
						<button class="btn btn-primary" id="search">筛选</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script>
	require(['bootstrap'], function ($) {
			    $('[data-toggle="tooltip"]').tooltip({
		            container: $(document.body)
		        });
		        $('[data-toggle="popover"]').popover({
		            container: $(document.body)
		        });
		        $('[data-toggle="dropdown"]').dropdown({
		            container: $(document.body)
		        });
		    });
			myrequire(['js/init']);
					$('.app-login-info-name, .app-login-info-sel').mouseover(function(){
				$('.app-login-info-sel').show();
			});
			$('.app-login-info-name, .app-login-info-sel').mouseout(function(){
				$('.app-login-info-sel').hide();
			});
			$('.app-login-info-sel .login-out').hover(function(){
				$('.app-login-info-sel-arrow').css('border-color', '#1ab394 transparent transparent transparent');
			},function(){
				$('.app-login-info-sel-arrow').css('border-color', '#f2f2f2 transparent transparent transparent');
			});
</script>
	<div class="panel panel-stat">
		<div class="panel-heading">
			<h3>总览</h3>
		</div>
		<div class="panel-body">
			<div class="col-md-3">
				<div class="title">
					总支出(元)
				</div>
				<div class="num-wrapper">
					<a class="num" href="javascript:;">
						<span id="html-all-fee">￥{$count}</span>
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="title">
					分销提现
				</div>
				<div class="num-wrapper">
					<a class="num" href="javascript:;">
						<span id="html-total-all-order">￥{$fx_tixian}</span>
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="title">
					机构提现(元)
				</div>
				<div class="num-wrapper">
					<a class="num" href="javascript:;">
						<span id="html-total-all-money">￥{$hos_tixian}</span>
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="title">
					药师提现(元)
				</div>
				<div class="num-wrapper">
					<a class="num" href="javascript:;">
						<span id="html-total-all-num">￥{$doc_tixian}</span>
					</a>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="col-md-2">
				<div class="title">
					专家提现
				</div>
				<div class="num-wrapper">
					<a class="num" href="javascript:;">
						<span id="html-total-rush-fee">￥{$zj_tixian}</span>
					</a>
					<!-- <span class="info" id="html-total-rush-order">--</span> -->
				</div>
			</div>
			<div class="col-md-2">
				<div class="title">
					团队提现
				</div>
				<div class="num-wrapper">
					<a class="num" href="javascript:;">
						<span id="html-total-fight-fee">￥{$team_tixian}</span>
					</a>
					<!-- <span class="info" id="html-total-fight-order">--</span> -->
				</div>
			</div>
			<div class="col-md-2">
				<div class="title">
					导诊提现
				</div>
				<div class="num-wrapper">
					<a class="num" href="javascript:;">
						<span id="html-total-coupon-fee">￥{$dao_tixian}</span>
					</a>
					<!-- <span class="info" id="html-total-coupon-order">--</span> -->
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-trend">
		<div class="panel-heading">
			<h3>柱状图</h3>
		</div>
		<div class="panel-body">
           <div id="container" style="min-width: 800px; height: 400px; margin: 0 auto"></div>
       	</div>
	</div>
	
	<div class="app-table-list">
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead class="navbar-inner">
					<tr>
						<th>日期</th>
						<!-- <th>专家订单数</th> -->
						<th>分销提现</th>
						<th>机构提现</th>

						<th>药师提现</th>
						<th>专家提现</th>
						<th>团队提现</th>
						<th>导诊提现</th>
						<th>总支出</th>
						
						<!-- <th>付费入驻</th>
						<th>签约</th> -->
					</tr>
				</thead>
				<tbody>
				{loop $date $item}
						
					<tr>
						<!-- <td><strong>0</strong></td> -->
						<td>{$item['time']}</td>
						<td><strong>￥{$item['fx_tixian']}</strong></td>
						<td><span class="text-success">￥{$item['hos_tixian']}</span></td>
						<td><span class="text-success">￥{$item['doc_tixian']}</span></td>
						<td><span class="text-success">￥{$item['zj_tixian']}</span></td>
						<td><span class="text-success">￥{$item['team_tixian']}</span></td>
						<td><span class="text-info">￥{$item['dao_tixian']}</span></td>
						<td><span class="text-info">￥{$item['count']}</span></td>
						
					</tr>
					{/loop}
								</tbody>
			</table>
		</div>
	</div>
</div>
			</div>
		</div>
	</div>
	<div class="foot" id="footer">
		<ul class="links ft">
            <li class="links_item"><div class="copyright">Powered by <a href="http://www.we7.cc"><b>微擎</b></a> v2.0.4 © 2014-2015 <a href="http://www.we7.cc">www.we7.cc</a></div></li>
		</ul>
	</div>
<div>
	 		

</div>
	<script language="javascript" src="{$_W['siteroot']}addons/hyb_yl/public/js/highcharts/highcharts.js"></script>
<script type="text/javascript"> 
    $(function () {
    	

    	var data=[
    	{loop $list $key $row}
    		
    		{
    			name:'{$row['title']}',
    			data: [
	                
    					{loop $row['money'] $kk $rr}
	                {$rr},
	                		{/loop}
    	 			
	               ]
    		},
    		
    		{/loop}
    		 ]
    	
    		
    	 console.log(data);
    	 var time=[
				{loop $time $key $row}
                      "{$row}",
            	{/loop}
    	 ]
    	 console.log(time);
        $('#container').highcharts({
        	chart: {
        type: 'column'
    },
    title: {
        text: '平台支出统计图'
    },
    // subtitle: {
    //     text: '数据来源: WorldClimate.com'
    // },
    xAxis: {
        categories: time,
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: '金额 (元)'
        }
    },
    tooltip: {
        // head + 每个 point + footer 拼接成完整的 table
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y:.2f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            borderWidth: 0
        }
    },
    series: data
         //    chart: {
         //        type: 'line'
         //    },
         //    title: {
         //         text: '{$charttitle}',
         //    },
         //    subtitle: {
         //        text: ''
         //    },
            
         //    xAxis: {
         //        categories: [    {loop $date $key $row}
         //               {if $key>0},{/if}"{$row['time']}"
         //               {/loop}]
         //    },
         //    yAxis: {
         //        title: {
         //            text: '金额'
         //        },allowDecimals:false
         //    },
         //    tooltip: {
         //        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
		       //  pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
		       //  '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
		       //  footerFormat: '</table>',
		       //  shared: true,
		       //  useHTML: true
         //    },
         //    plotOptions: {
         //        column: {
		       //      borderWidth: 0
		       //  }
         //    },
         //    series: [{
	        //     name: '新增团队',
	        //     data: [
	        //         {loop $date[0]['zhuanjia'] $key $row}
	        //         {if $key>0},{/if}
	        //         {$row['money']}
	                
	        //         {/loop}
	        //     ]
	        // }, {
	        //     name: '签约订单',
	        //     data: [
	        //         {loop $date $key $row}
	        //         {if $key>0},{/if}{$row['order']}
	        //         {/loop}
	        //     ]
	        // }],
    	});
	});
</script>
	</body>
</html>
