{template './common/siteheader'}
<div class="content">
    <div class="header">
        <h1 class="page-title">随访类型管理</h1>
    </div>
    <!-- main-content -->
    <div class="main-content pr">
        <div class="row mb5">
            <div class="col-sm-2 col-md-2">
                <div class="btn-toolbar list-toolbar">
                    <a href="{php echo $this->createWeburl('type',array('op'=>'sf_add'))}" class="btn btn-primary"><i class="fa fa-plus"></i>
                        新增</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="pl20">序号</th>
                        <th width="25%">随访类型</th>
                        <th width="">类型状态</th>
                        <th width="">最后操作人</th>
                        <th width="">最后操作时间</th>
                        <th width="">操作</th>
                    </tr>
                    </thead>
                    <tbody id="J-follow-type-list"><tr>
    <td class="pl20">1</td>
    <td>血糖管理</td>
    <td class="text-ellipsis">启用</td>
    <td>吴</td>
    <td>2019-05-16 10:00:37</td>
    <td>
        <a href="{php echo $this->createWeburl('type',array('op'=>'sf_add'))}"><i class="fa fa-pencil"></i> 修改</a> -
        <a href="#" class="J-delete-button" data-toggle="modal" data-target="#confirmModal2" data-id="1" data-status="0"><i class="fa fa-trash-o "></i> 停用</a>
    </td>
</tr><tr>
    <td class="pl20">2</td>
    <td>体重管理</td>
    <td class="text-ellipsis">启用</td>
    <td>胡婧怡</td>
    <td>2019-06-06 15:22:33</td>
    <td>
        <a href="{php echo $this->createWeburl('type',array('op'=>'sf_add'))}"><i class="fa fa-pencil"></i> 修改</a> -
        <a href="#" class="J-delete-button" data-toggle="modal" data-target="#confirmModal2" data-id="2" data-status="0"><i class="fa fa-trash-o "></i> 停用</a>
    </td>
</tr><tr>
    <td class="pl20">3</td>
    <td>戒烟管理</td>
    <td class="text-ellipsis">启用</td>
    <td>王琳</td>
    <td>2019-05-25 19:47:19</td>
    <td>
        <a href="{php echo $this->createWeburl('type',array('op'=>'sf_add'))}"><i class="fa fa-pencil"></i> 修改</a> -
        <a href="#" class="J-delete-button" data-toggle="modal" data-target="#confirmModal2" data-id="57" data-status="0"><i class="fa fa-trash-o "></i> 停用</a>
    </td>
</tr><tr>
    <td class="pl20">4</td>
    <td>糖尿病</td>
    <td class="text-ellipsis">停用</td>
    <td>左彦博</td>
    <td>2018-04-20 10:19:24</td>
    <td>
        <a href="{php echo $this->createWeburl('type',array('op'=>'sf_add'))}"><i class="fa fa-pencil"></i> 修改</a> -
        <a href="#" class="J-delete-button" data-toggle="modal" data-target="#confirmModal2" data-id="58" data-status="1"><i class="fa fa-trash-o "></i> 启用</a>
    </td>
</tr><tr>
    <td class="pl20">5</td>
    <td>全</td>
    <td class="text-ellipsis">停用</td>
    <td>曹云</td>
    <td>2019-04-19 14:05:37</td>
    <td>
        <a href="{php echo $this->createWeburl('type',array('op'=>'sf_add'))}"><i class="fa fa-pencil"></i> 修改</a> -
        <a href="#" class="J-delete-button" data-toggle="modal" data-target="#confirmModal2" data-id="59" data-status="1"><i class="fa fa-trash-o "></i> 启用</a>
    </td>
</tr><tr>
    <td class="pl20">6</td>
    <td>手术</td>
    <td class="text-ellipsis">停用</td>
    <td>曹云</td>
    <td>2019-04-19 14:05:40</td>
    <td>
        <a href="{php echo $this->createWeburl('type',array('op'=>'sf_add'))}"><i class="fa fa-pencil"></i> 修改</a> -
        <a href="#" class="J-delete-button" data-toggle="modal" data-target="#confirmModal2" data-id="60" data-status="1"><i class="fa fa-trash-o "></i> 启用</a>
    </td>
</tr><tr>
    <td class="pl20">7</td>
    <td>丁香</td>
    <td class="text-ellipsis">停用</td>
    <td>曹云</td>
    <td>2019-04-19 14:05:43</td>
    <td>
        <a href="{php echo $this->createWeburl('type',array('op'=>'sf_add'))}"><i class="fa fa-pencil"></i> 修改</a> -
        <a href="#" class="J-delete-button" data-toggle="modal" data-target="#confirmModal2" data-id="61" data-status="1"><i class="fa fa-trash-o "></i> 启用</a>
    </td>
</tr><tr>
    <td class="pl20">8</td>
    <td>儿童体检</td>
    <td class="text-ellipsis">停用</td>
    <td>胡大伟</td>
    <td>2019-03-20 17:22:15</td>
    <td>
        <a href="{php echo $this->createWeburl('type',array('op'=>'sf_add'))}"><i class="fa fa-pencil"></i> 修改</a> -
        <a href="#" class="J-delete-button" data-toggle="modal" data-target="#confirmModal2" data-id="62" data-status="1"><i class="fa fa-trash-o "></i> 启用</a>
    </td>
</tr><tr>
    <td class="pl20">9</td>
    <td>营养工作室</td>
    <td class="text-ellipsis">停用</td>
    <td>曹云</td>
    <td>2019-04-19 14:05:46</td>
    <td>
        <a href="{php echo $this->createWeburl('type',array('op'=>'sf_add'))}"><i class="fa fa-pencil"></i> 修改</a> -
        <a href="#" class="J-delete-button" data-toggle="modal" data-target="#confirmModal2" data-id="63" data-status="1"><i class="fa fa-trash-o "></i> 启用</a>
    </td>
</tr><tr>
    <td class="pl20">10</td>
    <td>小扑街</td>
    <td class="text-ellipsis">停用</td>
    <td>曹云</td>
    <td>2019-04-19 14:05:49</td>
    <td>
        <a href="{php echo $this->createWeburl('type',array('op'=>'sf_add'))}"><i class="fa fa-pencil"></i> 修改</a> -
        <a href="#" class="J-delete-button" data-toggle="modal" data-target="#confirmModal2" data-id="64" data-status="1"><i class="fa fa-trash-o "></i> 启用</a>
    </td>
</tr></tbody>
                </table>
                <div class="J-page-wrap pd20 mb45"><div class="base_page"><a href="#/size/10/page/1" type="button" data-page_num="1" class="btn btn-default j_page_prev_btn pull-left"><i class="fa fa-chevron-left"></i></a><button href="" type="button" class="btn btn-default j_page_info base_page_info pull-left" disabled="disabled">1/1</button><a href="#/size/10/page/1" type="button" data-page_num="1" class="btn btn-default j_page_next_btn pull-left"><i class="fa fa-chevron-right"></i></a><input class="form-control base_page_search_input pull-left" id="j_madule_page_search_input" type="text"><a class="btn btn-default j_madule_page_search_submit pull-left ml5" type="button">Go</a></div></div>
            </div>
        </div>
    </div>
    <script src="//assets.dxycdn.com/app/DXYClinic/test/vendor/vendor.js?t=1560312126"></script>
<script src="//assets.dxycdn.com/app/DXYClinic/test/business/dist/common/core.js?t=1560312126"></script>
<script src="//assets.dxycdn.com/app/DXYClinic/test/vendor/lib/select2.min.js?t=1560312126"></script>
<script src="//assets.dxycdn.com/app/DXYClinic/test/system/dist/common/redirect.js?t=1560312126"></script>

<div class="modal fade" id="confirmModal2" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="false">
    <form method="post" action="#">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="confirmModalLabel">系统提示</h4>
                </div>
                <div class="modal-body">
                    <!--<input name="id" class="hidden" value="">-->
                    <h4 class="pl15 J-modal-text"><i class="fa fa-question-circle font28 mr5 yellow vertical-middle"></i>
                        你确定要删除吗? </h4>
                </div>
                <div class="modal-footer modal-btn-col2">
                    <button type="submit" class="btn btn-primary J-cnf-confirm">确定</button>
                    <button type="button" class="btn btn-default J-cnf-cancel" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- 修改密码 -->
<div class="modal fade" id="globalChangePassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">系统通知</h4>
                    </div>
                    <div class="modal-body pd20">
                            <form>
                                    <div class="row">
                                            <div class="col-sm-12">
                                                    为了保护您的账号安全，我们建议您定期修改密码。
                                            </div>
                                            <div class="col-sm-12 mt10">
                                                    <div class="form-group">
                                                            <label class="control-label">新登录密码 <span class="asterisk">*</span></label>
                                                            <input type="password" name="pwd" class="form-control J-user-password" autocomplete="off" value="" required="">
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-sm-12">
                                                    <div class="form-group">
                                                            <label class="control-label">确认密码 <span class="asterisk">*</span></label>
                                                            <input type="password" name="pwd2" class="form-control J-user-repassword" autocomplete="off" value="" required="">
                                                    </div>
                                            </div>
                                    </div>
                            </form>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-primary J-change-pass-sub">保存</button>
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">返回</button>
                    </div>
            </div>
    </div>
</div>

<script type="text/javascript">
    // 删除弹窗填充
    function Gconfirm(text, url, confirmFn, cancelFn) {
        var id = url.substring(url.lastIndexOf('/') + 1, url.lastIndexOf('.html'));
        var tpl =
            '<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="false">' +
            '<form method="post" action=' + url + '>' +
            '<div class="modal-dialog">' +
            '<div class="modal-content">' +
            '<div class="modal-header">' +
            '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>' +
            '<h4 class="modal-title" id="confirmModalLabel">系统提示</h4>' +
            '</div>' +
            '<div class="modal-body">' +
            '<input name="id" class="hidden" value="' + id + '">' +
            '<h4 class="pl15"><i class="fa fa-question-circle font28 mr5 yellow vertical-middle"></i> ' + text +
            '</h4>' +
            '</div>' +
            '<div class="modal-footer modal-btn-col2">' +
            '<button type="submit" class="btn btn-primary J-cnf-confirm">确定</button>' +
            '<button type="button" class="btn btn-default J-cnf-cancel" data-dismiss="modal">取消</button>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</form>' +
            '</div>';

        if (!$('#confirmModal').length) {
            $('body').append(tpl);
        }

        var el = $('#confirmModal');
        el.modal('show');
        el.off('click', '.J-cnf-confirm');
        el.off('click', '.J-cnf-cancel');
        el.on('click', '.J-cnf-confirm', function () {
            if (typeof confirmFn === 'function') {
                var data = confirmFn();
            }
            if (!data) {
                el.modal('hide');
                $('#confirmModal').remove();
                $('.modal-backdrop').remove();
            }
        }).on('click', '.J-cnf-cancel', function () {
            if (typeof cancelFn === 'function') {
                var data = cancelFn();
            }
            el.modal('hide');
            $('#confirmModal').remove();
            $('.modal-backdrop').remove();
        });
    }

    // 删除弹窗
    function dodel(url) {
        Gconfirm('你确定要删除吗？', url, function () {});
    }

    // 重置密码弹窗
    function resetPassWd(url) {
        Gconfirm('你确定要重置密码吗？', url, function () {});
    }

    // 重置密码弹窗
    function reset(url) {
        Gconfirm('你确定要重置吗？', url, function () {});
    }

    // 停用弹窗
    function disable(url) {
        Gconfirm('你确定要停用吗？', url, function () {});
    }
</script>
</div>
<!-- 随访内容列表模版 -->
<script type="text/template" id="J-follow-type-list-tpl">
    <td class="pl20"><%- index%></td>
    <td><%- name%></td>
    <td class="text-ellipsis"><% if(status === 0){%>启用<% }else{ %>停用<%}%></td>
    <td><%- modifer%></td>
    <td><%- modifyTime%></td>
    <td>
        <a href='/Admin/FollowType/typeedit.html?id=<%- id%>'><i class="fa fa-pencil"></i> 修改</a> -
        <a href='#' class="J-delete-button" data-toggle="modal" data-target="#confirmModal2" data-id="<%- id%>" data-status="<%-status%>"><i class="fa fa-trash-o "></i> <% if(status === 0){%>停用<% }else{ %>启用<%}%></a>
    </td>
</script>
<!-- 随访内容列表模版 -->
<script type="text/javascript">
    require(['follow_type_list']);
</script>


<div style="position: fixed; width: 40px; height: 40px; background: rgb(31, 37, 48); cursor: pointer; bottom: 40px; right: 40px; border-radius: 5px; display: none;" class="goup-container" title=""><div class="goup-arrow" style="width: 0px; height: 0px; margin: 0px auto; padding-top: 13px; border-style: solid; border-width: 0px 10px 10px; border-color: transparent transparent rgb(255, 255, 255);"></div></div></body></html>