{template './common/mainHeader'}
<div class="app-container-right">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="">图文问诊详情</a>
		</li>
	</ul>
	<div class="app-content">
		<div class="order-detail">
			<div class="col-sm-4 padding-0">
				<div class="panel panel-display">
					<div class="panel-heading">
						<h3>订单信息</h3>
					</div>
					<div class="panel-body">
						<table class="table">
							<tr>
								<td width="150">下单人微信：</td>
								<td>
									<img src="{$res['u_thumb']}" style="width: 30px;height: 30px;margin-right: 5px;">{$res['u_name']}</td>
							</tr>
							<tr>
								<td width="150">患者姓名：</td>
								<td>{$res['u_name']}</td>
							</tr>
							<tr>
								<td width="150">患者电话：</td>
								<td>{php echo empty($res['tel']) ? '暂无' : $res['tel']}</td>
							</tr>
							<tr>
								<td width="150">患者地址：</td>
								<td>{php echo empty($res['region']) ? '暂无' : $res['region']}</td>
							</tr>
							<tr>
								<td width="150">订单编号：</td>
								<td>{$res['orders']}</td>
							</tr>
							<tr>
								<td>下单时间：</td>
								<td>{$res['time']}</td>
							</tr>
							<tr>
								<td>支付时间：</td>
								<td>
								{if $res['ifpay'] > 0}
								{$res['paytime']}
								{else}
								暂未支付
								{/if}
								</td>
							</tr>
							<tr>
								<td>订单状态：</td>
								<td>
									<span class="label label-info">{if $res['ifpay']=='0'} 待支付 {/if}</span>
									<span class="label label-info">{if $res['ifpay']=='8'} 已取消 {/if}</span>
									<span class="label label-info">{if $res['ifpay']=='1'} 已支付,待接诊 {/if}</span>
									<span class="label label-info">{if $res['ifpay']=='2'} 已接诊 {/if}</span>
									<span class="label label-info">{if $res['ifpay']=='3'} 已完成，待评价 {/if}</span>
									<span class="label label-info">{if $res['ifpay']=='4'} 已评价 {/if}</span>
									<span class="label label-info">{if $res['ifpay']=='5'} 退款中 {/if}</span>
									<span class="label label-info">{if $res['ifpay']=='6'} 已退款 {/if}</span>
									<span class="label label-info">{if $res['ifpay']=='7'} 已超时 {/if}</span>
								</td>
							</tr>
							<tr>
								<td>付款方式：</td>
								<td>
									<span class="label label-info">微信支付</span>
								</td>
							</tr>
							<tr>
								<td>问诊类型</td>
								<td>

									<span class="label label-warning">图文问诊</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="panel panel-display">
					<div class="panel-heading">
						<h3>订单日志</h3>
					</div>
					<div class="panel-body">
						<table class="table">
						{if $res['ifpay'] =='0'}
							<tr >
								<td>
									<p>
										<i class="fa fa-info-circle"></i>
										<strong>{$res['time']} 订单提交成功</strong>
									</p>
									<p style="padding-left:15px; ">单号:{$res['orders']}，等待用户付款</p>
								</td>
							</tr>
							{/if}
							{if $res['ifpay'] =='1' || $res['ifpay'] =='2' || $res['ifpay'] =='5'}
							<tr >
								<td>
									<p>
										<i class="fa fa-info-circle"></i>
										<strong>{$res['paytime']} 订单支付成功</strong>
									</p>
									<p style="padding-left:15px; ">支付成功，等待专家接诊</p>
								</td>
							</tr>
							{/if}
							{if $res['ifpay'] =='2' || $res['ifpay'] =='3' || $res['ifpay'] =='4' || $res['ifpay'] =='5'}
							<tr >
								<td>
									<p>
										<i class="fa fa-info-circle"></i>
										<strong>{$res['time']} 专家已接诊</strong>
									</p>
									<p style="padding-left:15px; ">专家接诊中</p>
								</td>
							</tr>
							{/if}
							{if $res['ifpay'] =='3' || $res['ifpay'] =='4' }
							<tr >
								<td>
									<p>
										<i class="fa fa-info-circle"></i>
										<strong>{$res['time']} 订单已完成</strong>
									</p>
									<p style="padding-left:15px; ">等待用户评价</p>
								</td>
							</tr>
							{/if}
							{if $res['ifpay'] =='4' }
							<tr >
								<td>
									<p>
										<i class="fa fa-info-circle"></i>
										<strong>{$res['time']} 已完成评价</strong>
									</p>
									<p style="padding-left:15px; ">用户已完成评价</p>
								</td>
							</tr>
							{/if}
							{if  $res['ifpay'] =='5'}
							<tr >
								<td>
									<p>
										<i class="fa fa-info-circle"></i>
										<strong>{$res['time']} 申请退款中</strong>
									</p>
									<p style="padding-left:15px; ">用户发起退款</p>
								</td>
							</tr>
							{/if}
							{if  $res['ifpay'] =='6'}
							<tr >
								<td>
									<p>
										<i class="fa fa-info-circle"></i>
										<strong>{$res['time']} 已退款</strong>
									</p>
									<p style="padding-left:15px; ">退款成功</p>
								</td>
							</tr>
							{/if}
						</table>
					</div>
				</div>
			</div>
			<div class="col-sm-8 padding-r-0">
				<div class="panel panel-display">
					<div class="panel-heading">
						<h3>订单费用</h3>
					</div>
					<div class="panel-body">
						<table class="table">
							<tr>
								<td width="150">实际到账：</td>
								<td>+￥ {$res['moneyss']} </td>
							</tr>
							 <tr>
								<td width="150">分销推广支出：</td>
								<td>-￥ {php echo $res['tk_one'] + $res['tk_two']} </td>

							</tr>
							<tr>
								<td width="150">推荐人：</td>
								<td>{php echo empty($res['tk']) ? '暂无' : $res['tk']}</td>

							</tr>
							<tr>
								<td width="150">会员折扣：</td>
								<td>-￥ {$res['card_dk']} </td>

							</tr>
							<tr>
								<td width="150">年卡折扣：</td>
								<td>-￥ {$res['year_dk']} </td>

							</tr>
							<tr>
								<td width="150">优惠券抵扣：</td>
								<td>-￥ {$res['coupon_dk']} </td>

							</tr>
							<tr>
								<td width="150">平台抽成：</td>
								<td>-￥ {$res['ptmoney']} </td>

							</tr>
							<td width="150">机构抽成：{$res['hosmoney']}</td>
							<td>
								暂未结算 (本单用户实际支付:￥{$res['moneyss']})</td>
							</tr>

						</table>
					</div>
				</div>
				<div class="panel panel-display">
					<div class="panel-heading">
						<h3>问诊信息</h3>
					</div>
					<div class="panel-body">
						<table class="table table-hover">
							<thead>
								<tr>
									<th style="width: 20rem;">专家名</th>
									<th>科室</th>
									<th>职称</th>
									<th>所属机构</th>
									<th>问诊费(元)</th>
									<th></th>
								</tr>
							</thead>
							<tr>
								<td>
									<img src="{$docinfo['advertisement']}" style="width: 30px;height: 30px;margin-right: 5px;"> {$docinfo['z_name']}</td>
								<td> {$docinfo['name']} </td>
								<td>{$docinfo['job_name']}</td>
								<td>{$docinfo['agentname']}</td>
								<td>{$docinfo['money']}元</td>
								<td class="text-right">
									<a class="btn btn-primary btn-sm" target="_blank" href="./index.php?c=site&a=entry&op=edit&zid={$docinfo['zid']}&do=team&m=hyb_yl">专家信息</a>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="panel panel-display">
					<div class="panel-heading">
						<h3>问诊信息</h3>
					</div>
					<div class="panel-body">
						<table class="table">
							<table class="table">
								<tr>
									<td width="150">用户：</td>
									<td>
										<a href="http://www.webstrongtech.com/web/index.php?c=site&a=entry&m=weliam_merchant&p=member&ac=wlMember&do=memberIndex&mid=5923" target='_blank'> </a>&nbsp;&nbsp;<a data-toggle='popover' data-trigger="hover" data-html='true' data-placement='right'
										   data-content="<table tyle='width:100%;s'>
                <tr>
                    <td  style='border:none;text-align:right;' colspan='2'><img src='https://thirdwx.qlogo.cn/mmopen/ajNVdqHZLLBPbNiaoBpsf9qBarQickXlRb9ZZ0F5U2iaorQsS2KGT57u25YbewibLHSYtgsO7kSmhiaaEgK5EvV2Gxw/132' style='width:100px;height:100px;padding:1px;border:1px solid #ccc' /></td>
                </tr>
                <tr>
                    <td  style='border:none;text-align:right;'>ID：</td>
                    <td  style='border:none;text-align:right;'>5923</td>
                </tr>
                <tr>
                    <td  style='border:none;text-align:right;'>昵称：</td>
                    <td  style='border:none;text-align:right;'>Enigma</td>
                </tr>
                <tr>
                    <td  style='border:none;text-align:right;'>姓名：</td>
                    <td  style='border:none;text-align:right;'>未填写</td>
                </tr>
                <tr>
                    <td  style='border:none;text-align:right;'>手机号：</td>
                    <td  style='border:none;text-align:right;'>未填写</td>
                </tr>
                </table>
">
											<i class='fa fa-question-circle'></i>
										</a>
									</td>

								<tr>
									<td width="150">病情描述：</td>
									<td>{$res['content']['text']}<a href="/index.php?c=site&a=entry&do=ask&op=askchat&ac=asklist&m=hyb_yl&back_orser={$res['orders']}">问诊详情</a>
									</td>
								</tr>
								<tr>
									<td width="150">问题类型：</td>
									<td class="text-left">
										<label class="label label-success">{$docinfo['ctname']}</label>
										<label class="label label-danger">{$docinfo['name']}</label>
									</td>
								</tr>
<!-- 								<tr>
									<td width="150"></td>
									<td>
										<a class="btn btn-primary btn-xs"  href="{php echo $this->createWebUrl('ask',array('id'=>$res['id'],'op'=>'make'))}">确认接诊</a>
									</td>
								</tr> -->
							</table>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="addCateModal" aria-hidden="false">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button data-dismiss="modal" class="close" type="button">×</button>
						<h4 class="modal-title">新建分类</h4>
					</div>
					<div class="modal-body form-horizontal">
						<div class="form-group">
							<div class="col-sm-2 control-label must">分类名称</div>
							<div class="col-sm-10">
								<input class="form-control input-sm" placeholder="请输入分类名称" id="saveTempName" value="未命名分类" />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="btn btn-primary" id="saveCate">保存</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script type="text/javascript">
		$("#addRemark").unbind('click').click(function () {
		        $("#addCateModal").modal();
		        $("#saveCate").unbind('click').click(function () {
		            var status = $(this).data('status');
		            if(status) {
		                tip.msgbox.err("正在保存，请稍候。");
		                return;
		            }
		            var name = $.trim($("#saveTempName").val());
		            if(!name) {
		                tip.msgbox.err("请填写备注内容！");
		                $("#saveTempName").focus();
		                return;
		            }
		            $(this).data('status',1).text('保存中')
		            $.post("http://www.webstrongtech.com/web/index.php?c=site&a=entry&m=weliam_merchant&p=rush&ac=category&do=add&", {
		                name: name
		            }, function (ret) {
		                if(ret.status==0){
		                    tip.msgbox.err(ret.result.message);
		                }else{
		                    tip.msgbox.suc("保存成功！");
		                }
		                $("#addCateModal .close").trigger('click');
		                setTimeout(function () {
		                    location.reload();
		                }, 500);
		            }, 'json');
		        });
		    });
	</script>

</div>
</div>
</div>
<div class="foot" id="footer">
	<ul class="links ft">
		<li class="links_item">
			<div class="copyright">Powered by <a href="http://www.we7.cc">
					<b>微擎</b>
				</a> v2.0.4 © 2014-2015 <a href="http://www.we7.cc">www.we7.cc</a>
			</div>
		</li>
	</ul>
</div>



<script>
	require(['bootstrap'], function ($) {
			    $('[data-toggle="tooltip"]').tooltip({
		            container: $(document.body)
		        });
		        $('[data-toggle="popover"]').popover({
		            container: $(document.body)
		        });
		        $('[data-toggle="dropdown"]').dropdown({
		            container: $(document.body)
		        });
		    });
			myrequire(['js/init']);
					$('.app-login-info-name, .app-login-info-sel').mouseover(function(){
				$('.app-login-info-sel').show();
			});
			$('.app-login-info-name, .app-login-info-sel').mouseout(function(){
				$('.app-login-info-sel').hide();
			});
			$('.app-login-info-sel .login-out').hover(function(){
				$('.app-login-info-sel-arrow').css('border-color', '#1ab394 transparent transparent transparent');
			},function(){
				$('.app-login-info-sel-arrow').css('border-color', '#f2f2f2 transparent transparent transparent');
			});
</script>
</body>
</html>