{template './common/mainHeader'}
<div class="app-container-right">
            <style>
    td>i{cursor:pointer; display:inline-block; width:100%; height:100%; color:#428bca;}
    .category-caret{display:inline-block; width:20px; margin: 0 10px; text-align:center; cursor:pointer; color:#d9534f;}
    .add.add_level0{cursor:pointer;}
    .scrollLoading{border-radius: 50px;}
</style>
<ul class="nav nav-tabs">
    <li  class="active" ><a href="#">板块分类管理</a></li>
    <li>
        <a href="./index.php?c=site&a=entry&do=classification&op=plate&ac=catefl&m=hyb_yl">添加板块分类</a>
    </li>
</ul>
<div class="app-content">
    <div class="app-filter">
        <div class="filter-action">
            <a href="javascript:;" class="btn btn-primary js-category-all js-collapse">全部折叠</a>
        </div>
    </div>
    <div class="app-table-list">
        <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center" width="10%">排序</th>
                            <th class="text-center" width="10%">分类图片</th>
                            <th class="text-center" width="30%">分类名称</th>
                            <th class="text-center" width="10%">推荐状态</th>
                            <th class="text-center" width="10%">开启状态</th>
                            <th class="text-center" width="20%">操作</th>
                        </tr>
                    </thead>
                    <tbody >
                        {loop $row $list}
                        <tr class="text-center">
                            <td>{$list['sort']}</td>
                            <td class="text-center">
                                <img class="scrollLoading" src="{if empty($list['zx_thumb'])}../web/resource/images/nopic.jpg{else}{php echo tomedia($list['zx_thumb'])}{/if}"  height="45" width="45" >
                            </td>
                            <td class="text-center">
                                <div>
                                    <span>{$list['zx_name']}</span>
                                </div>
                                <!-- <div>
                                    <span>
                                        <a href="{php echo $this->createWebUrl('classification',array('ac'=>'catefl','op'=>'addparent','pid'=>$list['zx_id']))}" class="add add_level1" title="添加子分类" >
                                            <i class="fa fa-plus-circle"></i>添加子分类
                                        </a>
                                    </span>
                                    <span class="category-caret">
                                        <i class="fa fa-caret-down js-category-down" style="display:none;" pid="{$list['zx_id']}"></i>
                                        <i class="fa fa-caret-up js-category-up" pid="{$list['zx_id']}"></i>
                                    </span>
                                </div> -->
                            </td>
                           
                            <td  class="text-center">
                                <label class='label label-success'>{if $list['recommend']=='1'}开启{else}关闭{/if}</label>
                            </td>
                            <td  class="text-center">
                                <label class='label label-success'>{if $list['enabled']=='1'}开启{else}关闭{/if}</label>
                            </td>
                            
                            <td  class="text-center">
                                <a href="{php echo $this->createWebUrl('classification',array('ac'=>'catefl','op'=>'plate','zx_id'=>$list['zx_id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="修改">
                                    编辑
                                </a>
                                -
                                <a href="{php echo $this->createWebUrl('classification',array('ac'=>'catefl','op'=>'deletes','zx_id'=>$list['zx_id']))}" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="删除">
                                    删除
                                </a>
                            </td>
                        </tr>
                        {loop $list['childrenlist'] $children}
                        <tr class="js-collpase js-child-category text-center" pid="{$list['zx_id']}">
                                <td class="text-center" style='float:right;'>{$children['sort']}</td>
                                <td class="text-center">
                                    <img class="scrollLoading" src="{if empty($children['zx_thumb'])}../web/resource/images/nopic.jpg{else}{php echo tomedia($children['zx_thumb'])}{/if}"  height="45" width="45" style='float:right;'  >
                                </td>
                                <td class="text-center">{$children['zx_name']}</td>
                                <td class="text-center">
                                    <label class='label label-success'>{if $children['recommend']=='1'}开启{else}关闭{/if}</label>
                                </td>
                                <td class="text-center">
                                    <label class='label label-success'>{if $children['enabled']=='1'}开启{else}关闭{/if}</label>
                                </td>
                                <td class="text-center" style="position:relative;">
                                    <a href="{php echo $this->createWebUrl('classification',array('ac'=>'catefl','op'=>'plate','zx_id'=>$children['zx_id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="修改">
                                        编辑
                                    </a>
                                    -
                                    <a href="{php echo $this->createWebUrl('classification',array('ac'=>'catefl','op'=>'deletes','zx_id'=>$children['zx_id']))}" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="删除">
                                        删除
                                    </a>
                                </td>
                        </tr>
                        {/loop}
                        {/loop}
                </tbody>

                </table>
            </div>
            {$pager}
    </div>
</div>
<script type="text/javascript">
    //控制显示
    $(function(){
        $('.js-category-all').click(function() {
            if($(this).hasClass('js-collapse')) {
                $('.js-child-category').fadeOut("slow");
                $('.fa-caret-up').hide();
                $('.fa-caret-down').show();
                $(this).text('全部展开').removeClass('js-collapse');
                
            } else {
                $('.js-child-category').fadeIn("slow");
                $('.fa-caret-up').show();
                $('.fa-caret-down').hide();
                $(this).text('全部折叠').addClass('js-collapse');
            }
        });
        $('.js-category-up').click(function() {
            var parentId = $(this).attr('pid');
            $('tr[pid="'+parentId+'"]').fadeOut("slow");
            $(this).prev().show();
            $(this).hide();
        });
        $('.js-category-down').click(function() {
            var parentId = $(this).attr('pid');
            $('tr[pid="'+parentId+'"]').fadeIn("slow");
            $(this).next().show();
            $(this).hide();
        });
    });
</script>
{template './common/mainfooter'}
