{template '/common/mainHeader'}
<div class="app-container-right">
    <ul class="nav nav-tabs">
        <li>
            <a href="/index.php?c=site&a=entry&do=jiancha&op=hotareaIndex&ac=hotareaIndex&m=hyb_yl">地区列表</a>
        </li>
        <li class="active">
            <a href="https://www.webstrongtech.com/web/index.php?c=site&a=entry&m=hyb_yl&op=jiancha&ac=hotareaedit&do=hotareaedit&">添加地区</a>
        </li>
    </ul>
    <div class="app-content">
        <div class="app-form">
            <form action="" method="post" class="form-horizontal form form-validate">
                <input type="hidden" name="id" value="" />
                <input type="hidden" name="parentid" value="{$item['parentid']}" />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        地区设置
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">地区名称<span class="must-fill">*</span>
                            </label>
                            <div class="col-sm-9">
                                <input type="text" name="name" required placeholder="请输入地区名称" class="form-control" value="{$item['name']}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">排序<span class="must-fill">*</span>
                            </label>
                            <div class="col-sm-9">
                                <input type="text" name="sort" required placeholder="请输入地区排序" class="form-control" value="{$item['sort']}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">上级城市<span class="must-fill">*</span></label>
                            <div class="col-sm-9">
                                <select name="pid" class="form-control">
                                    {loop $parent $par}
                                    <option value="{$par['id']}" {if $par['id'] == $item['pid']} selected="" {/if}>{$par['name']}</option>
                                    {/loop}
                                </select>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="col-sm-2 control-label">代理名称<span class="must-fill">*</span></label>
                            <div class="col-sm-9">
                                <select name="pid" class="form-control">
                                    {loop $daili $dai}
                                    <option value="{$dai['id']}" {if $dai['id'] == $item['agent']}selected{/if}>{$dai['name']}</option>
                                    {/loop}
                                </select>
                            </div>
                        </div> -->
                        <!-- <div class="form-group">
                            <label class="col-sm-2 control-label">代理名称<span class="must-fill">*</span>
                            </label>
                            <div class="col-sm-9">
                                <input type="text" name="agent" required placeholder="请输入代理名称" class="form-control" value="{$item['agent']}">
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否开放</label>
                            <div class="col-sm-9">
                               
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="1" {if $item['status'] == '1'}  checked  {/if}>是
                                </label>
                                
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="0"   {if $item['status'] == '0'}  checked {/if}>否
                                </label>
                            
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否热门</label>
                            <div class="col-sm-9">
                                <label class="radio-inline">
                                    <input type="radio" name="is_host" value="1" {if $item['is_host'] == '1'}  checked  {/if}>是
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="is_host" value="0" {if $item['is_host'] == '0' }  checked {/if}>否
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-9">
                                <input type="submit" name="submit" lay-submit value="提交" class="btn btn-primary min-width" />
                                <input type="hidden" name="token" value="{$_W['token']}" />
                                <input type="hidden" name="id" value="{$id}" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
<div class="foot" id="footer">
    <ul class="links ft">
        <li class="links_item">
            <div class="copyright">Powered by <a href="http://www.we7.cc">
                    <b>微擎</b>
                </a> v2.0.4 © 2014-2015 <a href="http://www.we7.cc">www.we7.cc</a>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
<script type="text/javascript">
    $('.checkbox input').on('click',function () {
        // body...
        var checkids = [];
        $("input[name='plugins[]']:checked").each(function(inx,val){
                checkids.push($(val).parents('label').text().trim())
        })
        $('#plugins').val(checkids)
    })
</script>