{template './common/siteheader'}
    <div class="content">
        <div class="header">
            <h1 class="page-title">检查报告模板</h1>
            <div class="stats">
                <a href="{php echo $this->createWeburl('moban',array('op'=>'jiancha'))}" class="btn btn-sm btn-white"><i class="fa fa-angle-left"></i> 返回</a>
            </div>
        </div>
        <!-- main-content -->
        <div class="J-checking-edit-content">
            <div class="panel panel-default">
                <div class="panel-heading no-collapse J-checking-title">新增辅助检查报告模板</div>
                <div class="panel-body collapse in">
                    <form>
                        <div class="row" id="checking-warp">
        <input type="hidden" value="" name="id">
            
        <div class="col-sm-12 col-md-10">
            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group">
                        <label class="control-label">模板名称 <span class="asterisk">*</span></label>
                        <input type="text" class="form-control max64" value="" required="" name="name">
                    </div>
                </div>
            </div>
        

            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group">
                        <label class="control-label">描述</label>
                        <textarea class="form-control max2000" rows="5" name="description"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group">
                        <label class="control-label">结论</label>
                        <textarea class="form-control max2000" rows="5" name="conclusion"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    </form>
                </div>
                <!-- /panel-body -->
                <div class="panel-footer">
                    <button class="btn btn-primary btn-sml J-submit-btn">保存</button>&nbsp;
                    <button class="btn btn-default btn-sml" onclick="window.history.back(-1);">取消</button>
                </div>
            </div>
            <!-- /panel -->
            <footer>
	<hr>
	<!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
	<p class="pull-right"> <a href="http://www.DXY.cn" target="_blank">DXY</a> by <a href="http://www.dxy.cn" target="_blank">DXY.CN</a>
	</p>
	<p>© 2015 <a href="http://www.dxy.cn" target="_blank">DXY</a></p>
</footer>
        </div>
    </div>
    
    <!-- 辅助检查模板表单填写模板 -->
    <script type="text/template" id="checking-warp-tpl">
        <input type="hidden" value="<%- checkingId%>" name="id">
            
        <div class="col-sm-12 col-md-10">
            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group">
                        <label class="control-label">模板名称 <span class="asterisk">*</span></label>
                        <input type="text" class="form-control max64" value="<%- checkingName%>" required="" name="name">
                    </div>
                </div>
            </div>
        

            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group">
                        <label class="control-label">描述</label>
                        <textarea class="form-control max2000" rows="5" name="description"><%- checkingDesc%></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group">
                        <label class="control-label">结论</label>
                        <textarea class="form-control max2000" rows="5" name="conclusion"><%- checkingSuggest%></textarea>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!-- 辅助检查模板表单填写模板 -->


<script src="//assets.dxycdn.com/app/DXYClinic/test/vendor/vendor.js?t=1560312126"></script>
<script src="//assets.dxycdn.com/app/DXYClinic/test/business/dist/common/core.js?t=1560312126"></script>
<script src="//assets.dxycdn.com/app/DXYClinic/test/vendor/lib/select2.min.js?t=1560312126"></script>
<script src="//assets.dxycdn.com/app/DXYClinic/test/system/dist/common/redirect.js?t=1560312126"></script>

<div class="modal fade" id="confirmModal2" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="false">
    <form method="post" action="#">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="confirmModalLabel">系统提示</h4>
                </div>
                <div class="modal-body">
                    <!--<input name="id" class="hidden" value="">-->
                    <h4 class="pl15 J-modal-text"><i class="fa fa-question-circle font28 mr5 yellow vertical-middle"></i>
                        你确定要删除吗? </h4>
                </div>
                <div class="modal-footer modal-btn-col2">
                    <button type="submit" class="btn btn-primary J-cnf-confirm">确定</button>
                    <button type="button" class="btn btn-default J-cnf-cancel" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- 修改密码 -->
<div class="modal fade" id="globalChangePassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">系统通知</h4>
                    </div>
                    <div class="modal-body pd20">
                            <form>
                                    <div class="row">
                                            <div class="col-sm-12">
                                                    为了保护您的账号安全，我们建议您定期修改密码。
                                            </div>
                                            <div class="col-sm-12 mt10">
                                                    <div class="form-group">
                                                            <label class="control-label">新登录密码 <span class="asterisk">*</span></label>
                                                            <input type="password" name="pwd" class="form-control J-user-password" autocomplete="off" value="" required="">
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-sm-12">
                                                    <div class="form-group">
                                                            <label class="control-label">确认密码 <span class="asterisk">*</span></label>
                                                            <input type="password" name="pwd2" class="form-control J-user-repassword" autocomplete="off" value="" required="">
                                                    </div>
                                            </div>
                                    </div>
                            </form>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-primary J-change-pass-sub">保存</button>
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">返回</button>
                    </div>
            </div>
    </div>
</div>

<script type="text/javascript">
    // 删除弹窗填充
    function Gconfirm(text, url, confirmFn, cancelFn) {
        var id = url.substring(url.lastIndexOf('/') + 1, url.lastIndexOf('.html'));
        var tpl =
            '<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="false">' +
            '<form method="post" action=' + url + '>' +
            '<div class="modal-dialog">' +
            '<div class="modal-content">' +
            '<div class="modal-header">' +
            '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>' +
            '<h4 class="modal-title" id="confirmModalLabel">系统提示</h4>' +
            '</div>' +
            '<div class="modal-body">' +
            '<input name="id" class="hidden" value="' + id + '">' +
            '<h4 class="pl15"><i class="fa fa-question-circle font28 mr5 yellow vertical-middle"></i> ' + text +
            '</h4>' +
            '</div>' +
            '<div class="modal-footer modal-btn-col2">' +
            '<button type="submit" class="btn btn-primary J-cnf-confirm">确定</button>' +
            '<button type="button" class="btn btn-default J-cnf-cancel" data-dismiss="modal">取消</button>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</form>' +
            '</div>';

        if (!$('#confirmModal').length) {
            $('body').append(tpl);
        }

        var el = $('#confirmModal');
        el.modal('show');
        el.off('click', '.J-cnf-confirm');
        el.off('click', '.J-cnf-cancel');
        el.on('click', '.J-cnf-confirm', function () {
            if (typeof confirmFn === 'function') {
                var data = confirmFn();
            }
            if (!data) {
                el.modal('hide');
                $('#confirmModal').remove();
                $('.modal-backdrop').remove();
            }
        }).on('click', '.J-cnf-cancel', function () {
            if (typeof cancelFn === 'function') {
                var data = cancelFn();
            }
            el.modal('hide');
            $('#confirmModal').remove();
            $('.modal-backdrop').remove();
        });
    }

    // 删除弹窗
    function dodel(url) {
        Gconfirm('你确定要删除吗？', url, function () {});
    }

    // 重置密码弹窗
    function resetPassWd(url) {
        Gconfirm('你确定要重置密码吗？', url, function () {});
    }

    // 重置密码弹窗
    function reset(url) {
        Gconfirm('你确定要重置吗？', url, function () {});
    }

    // 停用弹窗
    function disable(url) {
        Gconfirm('你确定要停用吗？', url, function () {});
    }
</script>
<script type="text/javascript">
require(['checking_edit']);
</script>

<div style="display: none; position: fixed; width: 40px; height: 40px; background: rgb(31, 37, 48); cursor: pointer; bottom: 40px; right: 40px; border-radius: 5px;" class="goup-container" title=""><div class="goup-arrow" style="width: 0px; height: 0px; margin: 0px auto; padding-top: 13px; border-style: solid; border-width: 0px 10px 10px; border-color: transparent transparent rgb(255, 255, 255);"></div></div></body></html>