{template './common/mainHeader'}
<div class="app-container-right">
			<style type='text/css'>
	.trbody td{text-align: center;vertical-align:top;border-left:1px solid #ccc;border-bottom: 1px solid #ddd;}
	.order-rank img{width:16px;height:16px;}
	.js-remark,.js-admin-remark{word-break:break-all;overflow:hidden;background: #FDEEEE;color: #ED5050;padding: 5px 10px;}
	td.goods-info{position:relative;padding-left:60px;}
	.goods-info .img{position:absolute;top:50%;margin-top:-25px;background: url(https://xiaochuang.webstrongtech.net/addons/hyb_yl/web/resource/images/loading.gif	) center center no-repeat;width:50px;height:50px;}
	.goods-info span{white-space: inherit;overflow: hidden;text-overflow: ellipsis;display: block;}
	.status-text{cursor:pointer;}
	.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{border-top: 1px solid rgba(221, 221, 221, 0);}
	.col-md-1{padding-right: 0px;}
	.all-tips{margin-left: 65px;}
	span.effect-time{font-size: 12px;display: block;font-weight: 500;}
	.row.row-fix, .form-group.form-group-fix{margin-left: -15px;margin-right: -15px;width: 500px;}
	button.btn.btn-default.daterange.daterange-date{float: left;margin-left: 234px;position: absolute;z-index: 100;}
	#sel_child{z-index: 10;width: 200px;position: absolute;display: none;}
	.show1{display: block;}
	.hide1{display: none;}
	.daterange-date{display: none;}
	.sty{display: block;width: 100%;font-size: 13px;height: 46px;overflow: hidden;white-space: nowrap;line-height: 46px;text-overflow: ellipsis;text-align: center;}
	.spe{display: inline-block;text-align: center;display: block;height: 33px;margin-left: -12px;padding-top: 0px;line-height: 33px;}
	.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{white-space: normal;}
	span.ppp{text-align: center;display: inline-block;font-size: 14px;width: 100%;overflow: hidden;text-overflow: ellipsis;color: #e43;}
	select#sel_parent{z-index: 1000;}
	.nickname{margin-left: 94px;height: 34px;width: 200px;}
	.col-xs-12.col-sm-6.col-md-6.col-lg-6{z-index: 9999;}
	.start-time{font-size: 12px;}
	.end-time{font-size: 12px;}
	.mouth{margin-left: 94px;height: 34px;width:130px;display: none;}
</style>
<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a href="#">用户职位</a></li>
</ul>
<div class="app-content">
	<div class="app-filter">
		<div class="filter-action"><a href="./index.php?c=site&a=entry&op=userlist&do=copysite&m=hyb_yl&act=profile.addjob&ac=usersymptom" class="btn btn-primary">添加用户职位</a></div>
		
	</div>
	<div class="app-table-list">
		<div class="order-list">
			<div class="panel-body table-responsive collapse in" id="order-template-item-4" style="padding: 0;">
				<table class="table table-bordered">
					<thead style="background-color: #FFFFFF;">
					<tr>
						<th style="width:5%;">
                    		<input type="checkbox" name="checkbox"  id="checkbox" onclick="var ck = this.checked; $(':checkbox').each(function(){this.checked = ck});"/>
                    	</th>
						<th style="width:40px">序号</th>
						<th style="width:190px;text-align:center;">标题</th>
						<th style="width:90px; text-align: center;">状态</th>
						<th style="width:120px; text-align: center;">操作</th>
					</tr>
					</thead>

				</table>
			</div>
			{loop $list $item}
				<div class="panel panel-default">
					<div class="panel-body table-responsive" style="padding: 0px;">
						<table class="table table-bordered">
							<tbody >
							<tr>
								<td style="width: 40px;">
	                				<input type="checkbox" class="item" name="checkbox[]" value="{$item['id']}"  />
	                			</td>
								<td style="width: 40px;" ><center>{$item['id']}</center></td>
								<td class="goods-info line-feed" style="width:190px;">
									
									<div class="all-tips">
										<span class="" style="font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif ;">{$item['title']}</span>
									</div>
								</td>
								
								<td class="text-center" id="text-click" order-id="15" order-status="1" style="width:90px;">
									<span  class="label label-success">{if $item['status'] == '1'}已启用{else if $item['status'] == '0'}已禁用{/if}</span>	<br>										
									{if $item['status'] == '1'}
									<a class="btn btn-warning btn-sm"  href="./index.php?c=site&a=entry&op=userlist&do=copysite&m=hyb_yl&act=profile.change_job&ac=userjob&id={$item['id']}&status=0" class="js-edit" order-id="15"> 禁用 </a>
									{else if $item['status'] == '0'}
									<a class="btn btn-warning btn-sm"  href="./index.php?c=site&a=entry&op=userlist&do=copysite&m=hyb_yl&act=profile.change_job&ac=userjob&id={$item['id']}&status=1" class="js-edit" order-id="15"> 启用 </a>
									{/if}									
								</td>
								<td class="text-center" style="width:120px;">
								
								<a class="btn btn-warning btn-sm"  href="./index.php?c=site&a=entry&op=userlist&do=copysite&m=hyb_yl&act=profile.addjob&ac=userjob&id={$item['id']}" class="js-edit" order-id="15"> 编辑 </a>
								<a class="btn btn-danger btn-sm" href="./index.php?c=site&a=entry&op=userlist&do=copysite&m=hyb_yl&act=profile.del_job&ac=userjob&id={$item['id']}" class="js-remove" order-id="15" >删除</a>					
								</td>

							</tr>
							</tbody>
						</table>
					</div>
				</div>
			{/loop}
		</div>		
		<div class="app-table-foot clearfix">
			<div class="pull-left">
				<div class="pull-left" id="de1">
					<label class="btn btn-default min-width " style="display: inline-flex;align-items:center;margin-right:1rem;">
						<input type="checkbox" name="checkbox" value="" id="checkbox" onclick="var ck = this.checked; $(':checkbox').each(function(){this.checked = ck});"/>
						<div style="margin-left: 10px">全选</div>
					</label>
					<a href="javascript:;" class="btn btn-default min-width js-batch js-delete pass_delete">批量删除</a>
				</div>
			</div>
			<div class="pull-right">{$pager}</div>
		</div>
		<div class="app-table-foot clearfix">
			<div class="pull-left"></div>
			<div class="pull-right">{$pager}</div>
		</div>
	</div>
</div>

			</div>
		</div>
	</div>
	<div class="foot" id="footer">
		<ul class="links ft">
            <li class="links_item"><div class="copyright">Powered by <a href="http://www.we7.cc"><b>微擎</b></a> v2.0.4 © 2014-2015 <a href="http://www.we7.cc">www.we7.cc</a></div></li>
		</ul>
	</div>
	<script type="text/javascript">
	// 批量删除
	$('#de1').delegate('.pass_delete','click',function(e){
		e.stopPropagation();
		var order_ids = [];
		var $checks=$('.item:checkbox:checked');

		$checks.each(function() {
			if (this.checked) {
				order_ids.push(this.value);
			};
		});
		var $this = $(this);
		var ids = order_ids;
		console.log(ids);
		util.nailConfirm(this, function(state) {console.log(state)
		if(!state)  return;
			$.post("./index.php?c=site&a=entry&op=userjob&do=copysite&m=hyb_yl&act=profile.del_jobs&ac=userjob", { ids : ids }, function(data){
				if(data.errno=='1'){ 
					util.tips("操作成功！");
					setTimeout(function(){ 
						window.location.reload();
					}, 1000);
				}else{
					util.tips("操作失败"); 	
				};
			}, 'json');
		}, {html: '确认批量删除?'});
	});
</script>
	</body>
</html>