{template './common/mainHeader'}
<!-- 订阅消息列表 -->

                </div>
                <div class="pageheader">
                    <h2><i class="fa fa-credit-card fa-sm"></i> 退费</h2>
                    <div class="breadcrumb-wrapper">
                        <a href="javascript:window.history.go(-1);" class="btn btn-sm btn-white"><i class="fa fa-angle-left"></i> 返回</a>
                    </div>
                </div>
                <div class="contentpanel">
                    <!-- start 收费信息 -->
                    <div class="panel panel-cascade panel-invoice">
                        <!-- start 标题 -->
                        <div class="panel-heading">
                            <h3 class="panel-title">退费信息</h3>
                        </div>
                        
                        <div class="panel-body pd10 pt0 pb0">
                            <!-- start 患者信息 -->
                            <div class="col-sm-12 col-md-2 mt20">
                                <div class="row J-patient-info-warp">
        <input type="hidden" name="clinic_id" value="77712">
        <input type="hidden" name="order_id" value="24549">
        <div class="col-xs-4 col-sm-2 col-md-12">
            
                <div class="p-relative">
                    <span class="icon-vip tooltips vip-reception" data-toggle="tooltip" data-placement="top" data-original-title="普通会员a"></span>
                </div>
            
            <img src="//assets.dxycdn.com/app/DXYClinic/test/business/images/female-avatar.png" class="thumbnail img-responsive w90" alt="">
        </div>
        <div class="col-xs-8 col-sm-10 col-md-12">
            <h2 class="profile-name">
                <a href="https:///Clinic/Patient/profile.html?patient_id=00020119267" class="black">按时发莫斯科</a>
            </h2>
            <div class="mb20 mbn20"></div>
            <ul class="profile-social-list sm-10 mr5">
                <li><span>挂账：<span class="font-wb font16 red">￥120.00</span></span></li>
                <li><span>性别：女</span></li>
                <li><span>年龄：21岁</span></li>
                <li><span>婚姻状况：</span></li>
                <li><span>门诊号：77712</span></li>
                <li><span>就诊日期：2019-06-15 </span></li>
            </ul>
        </div>
    </div>
                                <div class="J-temp-warp display-none"></div>
                            </div>
                            <!-- end 患者信息 -->

                            <!-- 收费项目 -->
                            <div class="col-sm-12 col-md-10 pl0 border-left J-charge-list-warp">
        <div class="row mlr0 pl20 mt10">
            <h4>退费项目</h4>
            <div class="table-responsive mt20">
                <!-- start 项目列表 -->
                <table class="table table-bordered table-striped">
                    <input type="hidden" class="J-used-card" value="1">
                    <input type="hidden" class="J-back-detail" data-member="0.00" data-card="0.00" data-reduce="0.00" data-medicare="0.00" data-commercial="0.00" data-loan="120.00" data-real="0.00" data-channel="cash" data-disprice="120.00" data-pingxx="true" data-points="0.00">
                    <thead>
                        <tr>
                            <th width="5%"><label><input type="checkbox" class="J-ckbox-item"></label></th>
                            <th>收费名称</th>
                            <th width="10%">单价</th>
                            <th width="6%">数量</th>
                            <th width="6%">单位</th>
                            <th width="15%">折扣</th>
                            <th width="17%">折后金额</th>
                            <th width="12%">科室</th>
                            <th width="10%">接诊医生</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <tr class="J-charge-list-tr">
                                <td>
                                    <label>
                                        <input class="J-ckbox-item" type="checkbox" data-bill="30349" data-type="admission" data-total="120.00" data-real="120.00" data-unitprice="120.0000" data-count="1" data-unit="次" data-name="诊疗费(副主任医生 初诊)" data-discount="100">
                                    </label>
                                </td>
                                <td>诊疗费(副主任医生 初诊)</td>
                                <td>￥120.0000</td>
                                <td>1</td>
                                <td>次</td>
                                <td>100%</td>
                                <td>￥120.00</td>
                                <td>泌尿科</td>
                                <td>李松</td>
                            </tr>
                        
                    </tbody>
                </table>
                <!-- end 项目列表 -->
            </div>

            
            <table align="left" class="table w70 shadow-none">
                <tbody>
                    <tr>
                        <td class="border-none font12 red">
                            * 该收费项目使用了医保、商保、减免、挂账和卡券支付和积分抵扣中的一种，只能全额退款
                        </td>
                    </tr>
                </tbody>
            </table>
            

            <table align="right" class="table table-total font16 w70">
                <tbody>
                    <tr>
                        <td class="black"><b>费用合计：</b></td>
                        <td class="red">￥<span>120.00</span></td>
                    </tr>
                    <tr>
                        <td class="black"><b>折扣金额：</b></td>
                        <td class="red">￥<span>-0.00</span></td>
                    </tr>
                    <tr>
                        <td class="black"><b>应收费用：</b></td>
                        <td class="red">￥<span>120.00</span></td>
                    </tr>
                    
                    
                    
                    
                    
                        <tr>
                            <td class="black"><b>挂账金额：</b></td>
                            <td class="red">￥<span>120.00</span></td>
                        </tr>
                    
                    
                    
                    
                    
                    <tr>
                        <td class="black"><b>退费金额：</b></td>
                        <td class="red">￥<span class="J-real-price" data-price="120.00">120.00</span></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="text-right mb30">
            <a href="" class="btn btn-lg btn-primary pl30 pr30 J-go-detail"><i class="fa fa-exchange mr5"></i> 退费</a>
        </div>
        <div class="col-sm-12 col-md-12 pl0 border-left">
            <div class="row mlr0 pl20 mt10 pb20">
                <div class="table-responsive mt20">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="5%"></th>
                                <th>退费项目</th>
                                <th>单价</th>
                                <th>数量</th>
                                <th>单位</th>
                                <th>折扣</th>
                                <th>折后金额</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                <tr>
                                    <td class="pl20">1</td>
                                    <td>诊疗费(副主任医生 初诊)</td>
                                    <td>￥120.0000</td>
                                    <td>1</td>
                                    <td>次</td>
                                    <td>100%</td>
                                    <td>￥120.00</td>
                                </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-stat shadow-none">
                    <div class="row refund">
                        <div class="col-xs-12 col-sm-3 col-md-3 pl20">
                            <small class="stat-label">应退金额</small>
                            <h1>￥0.00</h1>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 mt30">
                            <div class="row">
                                <span class="gray1">退款方式（人工处理）：</span>
                                
                                <span class="mr15">
                                    <input type="radio" name="back_type" value="cash" id="r2" class="J-type-status"><label for="r2" class="pl10">现金</label>
                                </span>
                                <span class="mr15">
                                    <input type="radio" name="back_type" value="pos" id="r3" class="J-type-status"><label for="r3" class="pl10">银行卡</label>
                                </span>
                                <span class="mr15">
                                    <input type="radio" name="back_type" value="wx_pub_qr" id="r4" class="J-type-status"><label for="r4" class="pl10">微信</label>
                                </span>
                                <span class="mr15">
                                    <input type="radio" name="back_type" value="alipay_qr" id="r5" class="J-type-status"><label for="r5" class="pl10">支付宝</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <table class="table shadow-none mt0 gray1">
                    <tbody>
                    <tr>
                        <td class="pl20" width="17%">其他退款信息：</td>
                        
                        
                        
                        
                        
                        <td>挂账抵扣 ￥120.00</td>
                        
                        
                        
                    </tr>
                    </tbody>
                </table>
                
                <table class="table shadow-none mb30">
                    <tbody>
                        <tr>
                            <td class="border-none font14 gray1 pt0">
                                提示：
                                <br> 如原收费单据含有优惠，则退费时只可全额退药退款。
                            </td>
                            <td class="border-none text-right pb20">
                                <a data-toggle="modal" class="btn btn-lg btn-primary pl30 pr30 J-sure-back" data-clinicid="77712" data-price="120.00" data-orderid="24549" data-bills="[{&quot;bill&quot;:&quot;30349&quot;,&quot;type&quot;:&quot;admission&quot;,&quot;discount&quot;:&quot;100&quot;,&quot;realPrice&quot;:&quot;120.00&quot;}]"><i class="fa fa-check-square-o mr5"></i> 确认退费</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
                            <!-- 收费项目 -->
                        </div>
                    </div>
                    <!-- end 收费信息 -->
                </div>
            </div>
        </section>

        <!-- start 退费成功 -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form lpformnum="1">
                        <div class="modal-body">
                            <h1 class="text-center green"><i class="fa fa-check-circle"></i> 退费成功</h1>
                            <hr>
                            <div class="row pl20 pr20 lh40 font15">
                                <div class="col-sm-6">退费金额：￥<span class="J-back-price"></span></div>
                                <div class="col-sm-6">退费方式：<span class="J-back-type"></span></div>
                            </div>
                        </div>
                        <div class="modal-footer modal-btn-col2">
                            <button type="button" class="btn btn-success" data-dismiss="modal">完成</button>
                            <button href="#" class="btn btn-white J-print"><i class="fa fa-print mr5"></i> 打印退费单</button>
                        </div>
                    </form>
                </div>
                <!-- modal-content -->
            </div>
            <!-- modal-dialog -->
        </div>
        <!-- end 退费成功 -->
    </div>

    <!-- 打印票据 -->
    <div id="print">
                    <div class="print-page p-report-s h-auto pd0">
                <div class="print-subpage h-auto" id="J-print-items">
                    <!-- a5打印内容 -->
                </div>
            </div>
            </div>

    <!-- 收费清单打印 -->
            <!-- 打印项目 -->
<script type="text/template" id="print-list-tpl">
    <% var patientInfo = patientInfo || {}; %>
    <div class="print-page1 p-report next-page">
        <div class="print-subpage1">
            <div class="print-header1 no-border h2cm position-relative">
                <% if (CURRENT_SHOP_PRINT_NAME && CURRENT_SHOP_PRINT_NAME.length < 5) {%>
                    <h1><%- CURRENT_SHOP_PRINT_NAME%> 收费清单</h1>
                <% } else { %>
                    <h1><%- CURRENT_SHOP_PRINT_NAME%><br/>收费清单</h1>
                <% } %>
                <% if(CURRENT_SHOP_PRINT_LOGO) {%>
                    <img class="charge_a5_logo" src="<%- CURRENT_SHOP_PRINT_LOGO %>" />
                <% } %>
            </div>
            <div class="print-body2">
                <div class="p-patient-info1 fs105 p-info-small clearfix no-border">
                    <div class="p-row">
                        <div class="p-col7">
                            <div class="p-group1">
                                <div class="p-label"><span>姓名：</span></div>
                                <div class="p-item p-define-overflow"><%- patientInfo.name%></div>
                            </div>
                        </div>
                        <div class="p-col7">
                            <div class="p-group1">
                                <div class="p-label"><span>性别：</span></div>
                                <div class="p-item"><%- patientInfo.sexName%></div>
                            </div>
                        </div>
                        <div class="p-col7">
                            <div class="p-group1 mr0">
                                <div class="p-label"><span>年龄：</span></div>
                                <div class="p-item"><%- patientInfo.age%></div>
                            </div>
                        </div>
                        <div class="p-col7">
                            <div class="p-group1 mr0">
                                <div class="p-label"><span>病历号：</span></div>
                                <div class="p-item"><%- patientInfo.patientId%>&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="p-row">
                        <div class="p-col7">
                            <div class="p-group1">
                                <div class="p-label"><span>证件号：</span></div>
                                <div class="p-item"><%- patientInfo.idNo%></div>
                            </div>
                        </div>
                        <div class="p-col7">
                            <div class="p-group1">
                                <div class="p-label"><span>收费日期：</span></div>
                                <div class="p-item"><%- chargeTime%></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-table clearfix position-relative">
                    <table class="p-table-body1 fs105">
                        <thead>
                            <tr>
                                <th width="30%" class="font-bold">检查名称</th>
                                <th width="15%" class="font-bold">单价（元）</th>
                                <th width="15%" class="font-bold">数量</th>
                                <th width="15%" class="font-bold">应收金额</th>
                                <th width="15%" class="font-bold">折扣</th>
                                <th class="font-bold">折扣金额</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <%$.each(items, function(i, item) {%>
                                <tr class="p-charge-a5-tr">
                                    <td><%- item.name%></td>
                                    <td><%- item.unitPrice%></td>
                                    <td><%- item.count%></td>
                                    <td><%- item.totalPrice%></td>
                                    <td><%- item.discount + '%' %></td>
                                    <td><%- item.realPrice%></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>                 
                </div>
            </div>
            <div class="print-signature p-patient-info1 position-relative mt5">
                <div class="print-signature-row1 print-price-margin clearfix">
                    <div class="p-row clearfix">
                        <div class="p-col2">
                            <div class="mt5">应收金额：<span class="span-date"><%- discountPriceLabel%> 元</span></div>
                        </div>
                        <%if(chargeReduce*1 > 0){%>
                        <div class="p-col2">
                            <div class="mt5">减免金额：<span><%- chargeReduceLabel%> 元</span></div>
                        </div>
                        <% } %>
                        <%if(loanReduce*1 > 0){%>
                        <div class="p-col2">
                            <div class="mt5">挂账金额：<span><%- loanReduceLabel%> 元</span></div>
                        </div>
                        <% } %>
                        <%if(medicareReduceLabel*1 > 0 && PERMISSIONANDMODULES.modules.indexOf(44) > -1){%>
                        <div class="p-col2">
                            <div class="mt5">医保支付：<span><%- medicareReduceLabel%> 元</span></div>
                        </div>
                        <% } %>
                        <%if(commercialReduceLabel*1 > 0){%>
                        <div class="p-col2">
                            <div class="mt5">商保支付：<span class="span-date"><%- commercialReduceLabel%> 元</span></div>
                        </div>
                        <% } %>
                        <%if(cardReduceLabel*1 > 0){%>
                        <div class="p-col2">
                            <div class="mt5"><span class="mr10">卡券作废</span><span class="J-real-pricep"><%- cardReduceLabel%> 元</span></div>
                        </div>
                        <%}%>
                        <%if(membercardPayLabel*1 > 0){%>
                        <div class="p-col2">
                            <div class="mt5"><span class="mr10">余额支付</span><span class="J-real-pricep"><%- membercardPayLabel%> 元</span></div>
                        </div>
                        <%}%>
                        <div class="p-col2">
                            <div class="mt5">
                                <span class="">
                                    <% if(channel == 'cash'){ %>现金支付：
                                    <% } else if(channel == 'pos'){ %>刷卡支付：
                                    <% } else if(channel == 'wx_pub_qr'){ %>微信支付：
                                    <% } else if(channel == 'alipay_qr'){ %>支付宝：
                                    <% } else { %>实收金额：
                                    <% } %>
                                </span>
                                <span><%- (parseFloat(realPriceLabel)).toFixed(2)%> 元</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="print-signature1 print-center1 position-relative">
                <div class="clearfix">
                    <div class="p-row clearfix mt0">
                        <div class="p-col2">
                            <div class="p-signature fs105">医生：<span class="span-date">
                                <% if (doctor_signature) {%>
                                    <img src="<%- doctor_signature%>" class="print-signature-a5">
                                <%} else {%>
                                    <%- doctor_name%>
                                <%}%>
                            </span></div>
                        </div>
                        <div class="p-col2">&nbsp;</div>
                        <div class="p-col2">
                            <div class="p-signature fs105">收款人：<span>
                                <% if (operatorSignature) {%>
                                    <img src="<%- operatorSignature%>" class="print-signature-a5">
                                <%} else {%>
                                    <%- operator%>
                                <%}%>
                            </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- 打印项目 -->

<!-- 退费打印项目 -->
<script type="text/template" id="print-back-list-tpl">
    <% var patientInfo = patientInfo || {}; %>
    <div class="print-page1 p-report next-page">
        <div class="print-subpage1">
            <div class="print-header1 no-border h2cm position-relative">
                <% if (CURRENT_SHOP_PRINT_NAME && CURRENT_SHOP_PRINT_NAME.length < 5) {%>
                    <h1><%- CURRENT_SHOP_PRINT_NAME%> 退费清单</h1>
                <% } else { %>
                    <h1><%- CURRENT_SHOP_PRINT_NAME%><br/>退费清单</h1>
                <% } %>
                <% if(CURRENT_SHOP_PRINT_LOGO) {%>
                    <img class="charge_a5_logo" src="<%- CURRENT_SHOP_PRINT_LOGO %>" />
                <% } %>
            </div>
            <div class="print-body2">
                <div class="p-patient-info1 fs105 p-info-small clearfix no-border">
                    <div class="p-row">
                        <div class="p-col7">
                            <div class="p-group1">
                                <div class="p-label"><span>姓名：</span></div>
                                <div class="p-item"><%- patientInfo.name%></div>
                            </div>
                        </div>
                        <div class="p-col7">
                            <div class="p-group1">
                                <div class="p-label"><span>性别：</span></div>
                                <div class="p-item"><%- patientInfo.sexName%></div>
                            </div>
                        </div>
                        <div class="p-col7">
                            <div class="p-group1 mr0">
                                <div class="p-label"><span>年龄：</span></div>
                                <div class="p-item"><%- patientInfo.age%></div>
                            </div>
                        </div>
                        <div class="p-col7">
                            <div class="p-group1 mr0">
                                <div class="p-label"><span>病历号：</span></div>
                                <div class="p-item"><%- patientInfo.patientId%>&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="p-row">
                        <div class="p-col7">
                            <div class="p-group1">
                                <div class="p-label"><span>证件号：</span></div>
                                <div class="p-item"><%- patientInfo.idNo%></div>
                            </div>
                        </div>
                        <div class="p-col7">
                            <div class="p-group1">
                                <div class="p-label"><span>退费日期：</span></div>
                                <div class="p-item"><%- chargeTime%></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-table clearfix position-relative">
                    <table class="p-table-body1 fs105">
                        <thead>
                            <tr>
                                <th width="40%" class="font-bold">检查名称</th>
                                <th width="15%" class="font-bold">数量</th>
                                <th class="font-bold">退费金额</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <%$.each(items, function(i, item) {%>
                                <tr class="p-charge-a5-tr">
                                    <td><%- item.name%></td>
                                    <td><%- item.count%></td>
                                    <td><%- item.realPrice%></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>                 
                </div>
            </div>
            <div class="print-signature p-patient-info1 position-relative mt5">
                <div class="print-signature-row1 print-price-margin clearfix">
                    <div class="p-row clearfix">
                        <div class="p-col2">
                            <div class="mt5">退费合计：<span class="span-date"><%- (parseFloat(discountPriceLabel)).toFixed(2)%> 元</span></div>
                        </div>
                        <%if(chargeReduce*1 > 0){%>
                        <div class="p-col2">
                            <div class="mt5">减免金额：<span><%- chargeReduceLabel%> 元</span></div>
                        </div>
                        <% } %>
                        <%if(loanReduce*1 > 0){%>
                        <div class="p-col2">
                            <div class="mt5">挂账金额：<span><%- loanReduceLabel%> 元</span></div>
                        </div>
                        <% } %>
                        <%if(medicareReduceLabel*1 > 0 && PERMISSIONANDMODULES.modules.indexOf(44) > -1){%>
                        <div class="p-col2">
                            <div class="mt5">医保支付：<span><%- medicareReduceLabel%> 元</span></div>
                        </div>
                        <% } %>
                        <%if(commercialReduceLabel*1 > 0){%>
                        <div class="p-col2">
                            <div class="mt5">商保支付：<span class="span-date"><%- commercialReduceLabel%> 元</span></div>
                        </div>
                        <% } %>
                        <%if(cardReduceLabel*1 > 0){%>
                        <div class="p-col2">
                            <div class="mt5"><span class="mr10">卡券作废</span><span class="J-real-pricep"><%- cardReduceLabel%> 元</span></div>
                        </div>
                        <%}%>
                        <%if(membercardPayLabel*1 > 0){%>
                        <div class="p-col2">
                            <div class="mt5"><span class="mr10">余额支付</span><span class="J-real-pricep"><%- membercardPayLabel%> 元</span></div>
                        </div>
                        <%}%>
                        <div class="p-col2">
                            <div class="mt5">
                                <span class="">
                                    <% if(channel == 'cash'){ %>现金退回：
                                    <% } else if(channel == 'pos'){ %>刷卡退回：
                                    <% } else if(channel == 'wx_pub_qr'){ %>微信退回：
                                    <% } else if(channel == 'alipay_qr'){ %>支付宝退回：
                                    <% } else { %>退费金额：
                                    <% } %>
                                </span>
                                <span><%- (parseFloat(realPriceLabel)).toFixed(2)%> 元</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="print-signature1 print-center1 position-relative">
                <div class="clearfix">
                    <div class="p-row">
                        <div class="p-col2">
                            <div class="p-signature fs105">医生：<span class="span-date">
                                <% if (doctor_signature) {%>
                                    <img src="<%- doctor_signature%>" class="print-signature-a5">
                                <%} else {%>
                                    <%- doctor_name%>
                                <%}%>
                            </span></div>
                        </div>
                        <div class="p-col2">&nbsp;</div>
                        <div class="p-col2">
                            <div class="p-signature fs105">退款人：<span>
                                <% if (operatorSignature) {%>
                                    <img src="<%- operatorSignature%>" class="print-signature-a5">
                                <%} else {%>
                                    <%- operator%>
                                <%}%>
                            </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- 退费打印项目 -->

<!-- 还账打印项目 -->
<script type="text/template" id="print-unpay-list-tpl">
    <div class="print-page1 p-report next-page">
        <div class="print-subpage1">
            <div class="print-header1 no-border h2cm position-relative">
                <% if (CURRENT_SHOP_PRINT_NAME && CURRENT_SHOP_PRINT_NAME.length < 5) {%>
                    <h1><%- CURRENT_SHOP_PRINT_NAME%> 还款清单</h1>
                <% } else { %>
                    <h1><%- CURRENT_SHOP_PRINT_NAME%><br/>还款清单</h1>
                <% } %>
                <% if(CURRENT_SHOP_PRINT_LOGO) {%>
                    <img class="charge_a5_logo" src="<%- CURRENT_SHOP_PRINT_LOGO %>" />
                <% } %>
            </div>
            <div class="print-body1">
                <div class="p-patient-info1 p-info-small clearfix no-border fs105">
                    <div class="p-row">
                        <div class="p-col7">
                            <div class="p-group1">
                                <div class="p-label"><span>姓名：</span></div>
                                <div class="p-item"><%- name%></div>
                            </div>
                        </div>
                        <div class="p-col7">
                            <div class="p-group1">
                                <div class="p-label"><span>性别：</span></div>
                                <div class="p-item"><%- sex%></div>
                            </div>
                        </div>
                        <div class="p-col7">
                            <div class="p-group1 mr0">
                                <div class="p-label"><span>年龄：</span></div>
                                <div class="p-item"><%- age%></div>
                            </div>
                        </div>
                        <div class="p-col7">
                            <div class="p-group1 mr0">
                                <div class="p-label"><span>病历号：</span></div>
                                <div class="p-item"><%- patientId%>&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="p-row">
                        <div class="p-col7">
                            <div class="p-group1">
                                <div class="p-label"><span>证件号：</span></div>
                                <div class="p-item"><%- idNo%></div>
                            </div>
                        </div>
                        <div class="p-col7">
                            <div class="p-group1">
                                <div class="p-label"><span>收费日期：</span></div>
                                <div class="p-item"><%- chargeTime%></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-table clearfix position-relative">
                    <table class="p-table-body1 fs105">
                        <thead>
                            <tr>
                                <th width="50%" class="font-bold">还款日期</th>
                                <th width="50%" class="font-bold">还款总额</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% $.each(loanItems || [], function(i, obj) {%>
                                <tr class="p-charge-a5-tr">
                                    <td><%- obj.repayTime %></td>
                                    <td>￥<%- obj.repaySum %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>                 
                </div>
            </div>
            <div class="print-signature1 print-center1 position-relative">
                <div class="clearfix">
                    <div class="p-row">
                        <div class="p-col2">
                            <div class="p-signature fs105">挂账总额：<span class="span-date"><%- loanSum%> 元</span></div>
                        </div>
                        <div class="p-col2">
                            <div class="p-signature pull-center fs105">还款合计：<span>-<%- repaySum%> 元</span></div>
                        </div>
                        <div class="p-col2">
                            <div class="p-signature pull-right fs105">剩余挂账：<span><%- unRepaySum%> 元</span></div>
                        </div>
                    </div>
                    <div class="p-row">
                        <div class="p-col2">&nbsp;</div>
                        <div class="p-col2">&nbsp;</div>
                        <div class="p-col2">
                            <div class="p-signature pull-right fs105">收款人：<span>
                                <% if (casherSignature) {%>
                                    <img src="<%- casherSignature%>" class="print-signature-a5">
                                <%} else {%>
                                    <%- casher%>
                                <%}%>
                            </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- 还账打印项目 -->
        <!-- 收费清单打印 -->

    <!-- start 患者信息模板 -->
    <script type="text/template" class="J-patient-info-tpl">
        <input type="hidden" name="clinic_id" value="<%- clinicId%>">
        <input type="hidden" name="order_id" value="<%- orderId%>">
        <div class="col-xs-4 col-sm-2 col-md-12">
            <%if(memberType && memberTypeStatus == 1){%>
                <div class="p-relative">
                    <span class="icon-vip tooltips vip-reception" data-toggle="tooltip" data-placement="top" data-original-title="<%-memberType%>"></span>
                </div>
            <%} else if(memberType && memberTypeStatus == 2){%>
                <div class="p-relative">
                    <span class="icon-vip-expire tooltips vip-reception" data-toggle="tooltip" data-placement="top" data-original-title="<%-memberType%>(已到期)"></span>
                </div>
            <% } %>
            <img src="<%- image%>" class="thumbnail img-responsive w90" alt="">
        </div>
        <div class="col-xs-8 col-sm-10 col-md-12">
            <h2 class="profile-name">
                <a href="https:///Clinic/Patient/profile.html?patient_id=<%- patientId%>" class="black"><%- name%></a>
            </h2>
            <div class="mb20 mbn20"></div>
            <ul class="profile-social-list sm-10 mr5">
                <li><span>挂账：<span class="font-wb font16 red">￥<%- loanSum%></span></span></li>
                <li><span>性别：<%- sexName%></span></li>
                <li><span>年龄：<%- age%></span></li>
                <li><span>婚姻状况：<%- marriage%></span></li>
                <li><span>门诊号：<%- clinicId%></span></li>
                <li><span>就诊日期：<%- checkinTime%></span></li>
            </ul>
        </div>
    </script>
    <!-- end   患者信息模板 -->

    <!-- start 退费项目模板 -->
    <script type="text/template" class="J-charge-list-tpl">
        <div class="row mlr0 pl20 mt10">
            <h4>退费项目</h4>
            <div class="table-responsive mt20">
                <!-- start 项目列表 -->
                <table class="table table-bordered table-striped">
                    <input type="hidden" class="J-used-card" value="<% if (+medicareReduceLabel || +commercialReduceLabel || +cardReduceLabel || +chargeReduceLabel || +loanReduceLabel || +pointsReduceLabel) {%>1<%} else {%>0<%}%>">
                    <input type="hidden" class="J-back-detail" 
                        data-member="<%- membercardPayLabel%>" 
                        data-card="<%- cardReduceLabel%>"
                        data-reduce="<%- chargeReduceLabel%>"
                        data-medicare="<%- medicareReduceLabel%>"
                        data-commercial="<%- commercialReduceLabel%>" 
                        data-loan="<%- loanReduceLabel%>" 
                        data-real="<%- ((+realPriceLabel) + (+secondChannelPayLabel)).toFixed(2)%>" 
                        data-channel="<%- channel%>" 
                        data-disPrice="<%- discountPriceLabel%>" 
                        data-pingxx="<%- pingppConfig%>"
                        data-points="<%- pointsReduceLabel%>">
                    <thead>
                        <tr>
                            <th width="5%"><label><input type="checkbox" class="J-ckbox-item"></label></th>
                            <th>收费名称</th>
                            <th width="10%">单价</th>
                            <th width="6%">数量</th>
                            <th width="6%">单位</th>
                            <th width="15%">折扣</th>
                            <th width="17%">折后金额</th>
                            <th width="12%">科室</th>
                            <th width="10%">接诊医生</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% _.each(items, function(item, i) {%>
                            <tr class="J-charge-list-tr">
                                <td>
                                    <label>
                                        <input class="J-ckbox-item" type="checkbox" data-bill="<%- item.bill%>" data-type="<%- item.type%>" data-total="<%- item.totalPrice%>" data-real="<%- item.realPrice%>" data-unitPrice="<%- item.unitPrice%>" data-count="<%- item.count%>" data-unit="<%- item.unit%>" data-name="<%- item.name%>" data-discount="<%- item.discount%>">
                                    </label>
                                </td>
                                <td><%- item.name%></td>
                                <td>￥<%- item.unitPrice%></td>
                                <td><%- item.count%></td>
                                <td><%- item.unit%></td>
                                <td><%- item.discount%>%</td>
                                <td>￥<%- item.realPrice%></td>
                                <td><%- department%></td>
                                <td><%- doctor_name%></td>
                            </tr>
                        <%});%>
                    </tbody>
                </table>
                <!-- end 项目列表 -->
            </div>

            <% if (+medicareReduceLabel || +commercialReduceLabel || +cardReduceLabel || +chargeReduceLabel || +loanReduceLabel || +pointsReduceLabel) {%>
            <table align="left" class="table w70 shadow-none">
                <tbody>
                    <tr>
                        <td class="border-none font12 red">
                            * 该收费项目使用了医保、商保、减免、挂账和卡券支付和积分抵扣中的一种，只能全额退款
                        </td>
                    </tr>
                </tbody>
            </table>
            <%}%>

            <table align="right" class="table table-total font16 w70">
                <tbody>
                    <tr>
                        <td class="black"><b>费用合计：</b></td>
                        <td class="red">￥<span><%- totalPriceLabel%></span></td>
                    </tr>
                    <tr>
                        <td class="black"><b>折扣金额：</b></td>
                        <td class="red">￥<span>-<%- (parseFloat(totalPriceLabel) - parseFloat(discountPriceLabel)).toFixed(2)%></span></td>
                    </tr>
                    <tr>
                        <td class="black"><b>应收费用：</b></td>
                        <td class="red">￥<span><%- discountPriceLabel%></span></td>
                    </tr>
                    <%if(chargeReduce*1 > 0){%>
                        <tr>
                            <td class="black"><b>减免金额：</b></td>
                            <td class="red">￥<span><%- chargeReduceLabel%></span></td>
                        </tr>
                    <%}%>
                    <%if(medicareReduce*1 > 0 && PERMISSIONANDMODULES.modules.indexOf('44') > -1){%>
                        <tr>
                            <td class="black"><b>医保金额：</b></td>
                            <td class="red">￥<span><%- medicareReduceLabel%></span></td>
                        </tr>
                    <%}%>
                    <%if(commercialReduce*1 > 0){%>
                        <tr>
                            <td class="black"><b>商保金额：</b></td>
                            <td class="red">￥<span><%- commercialReduceLabel%></span></td>
                        </tr>
                    <%}%>
                    <%if(cardReduce*1 > 0){%>
                        <tr>
                            <td class="black"><b>卡券金额：</b></td>
                            <td class="red">￥<span><%- cardReduceLabel%></span></td>
                        </tr>
                    <%}%>
                    <%if(loanReduce*1 > 0){%>
                        <tr>
                            <td class="black"><b>挂账金额：</b></td>
                            <td class="red">￥<span><%- loanReduceLabel%></span></td>
                        </tr>
                    <%}%>
                    <%if(membercardPayLabel*1 > 0){%>
                        <tr>
                            <td class="black"><b>余额支付：</b></td>
                            <td class="red">￥<span><%- membercardPayLabel%></span></td>
                        </tr>
                    <%}%>
                    <%if(pointsReduceLabel*1 > 0){%>
                        <tr>
                            <td class="black"><b>积分抵扣：</b></td>
                            <td class="red">￥<span><%- pointsReduceLabel%></span></td>
                        </tr>
                    <%}%>
                    <%if(realPrice*1 > 0){%>
                        <tr>
                            <td class="black"><b><%- type%>：</b></td>
                            <td class="red">￥<span><%- realPriceLabel%></span></td>
                        </tr>
                    <%}%>
                    <%if(secondChannelPay*1 > 0){%>
                        <tr>
                            <td class="black"><b><%- secondType%>：</b></td>
                            <td class="red">￥<span><%- secondChannelPayLabel%></span></td>
                        </tr>
                    <%}%>
                    <tr>
                        <td class="black"><b>退费金额：</b></td>
                        <td class="red">￥<span class="J-real-price"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-right mb30">
            <a href="" class="btn btn-lg btn-primary pl30 pr30 J-go-detail"><i class="fa fa-exchange mr5"></i> 退费</a>
        </div>
    </script>
    <!-- end 退费项目模板 -->

    <!-- start 退费详情模板 -->
    <script type="text/template" class="J-back-detail-tpl">
        <div class="col-sm-12 col-md-12 pl0 border-left">
            <div class="row mlr0 pl20 mt10 pb20">
                <div class="table-responsive mt20">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="5%"></th>
                                <th>退费项目</th>
                                <th>单价</th>
                                <th>数量</th>
                                <th>单位</th>
                                <th>折扣</th>
                                <th>折后金额</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _.each(list, function(item, i) {%>
                                <tr>
                                    <td class="pl20"><%- i + 1%></td>
                                    <td><%- item.name%></td>
                                    <td>￥<%- item.unitPrice%></td>
                                    <td><%- item.count%></td>
                                    <td><%- item.unit%></td>
                                    <td><%-item.discount%>%</td>
                                    <td>￥<%- item.realPrice%></td>
                                </tr>
                            <%});%>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-stat shadow-none">
                    <div class="row refund">
                        <div class="col-xs-12 col-sm-3 col-md-3 pl20">
                            <small class="stat-label">应退金额</small>
                            <h1>￥<%- actualPrice%></h1>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9 mt30">
                            <div class="row">
                                <span class="gray1">退款方式（人工处理）：</span>
                                <% if (isShowOriginal == 'true') {%>
                                <span class="mr15">
                                    <input type="radio" name="back_type" value="original" id="r1" class="J-type-status"><label for="r1" class="pl10">原路退回</label>
                                </span>
                                <%}%>
                                <span class="mr15">
                                    <input type="radio" name="back_type" value="cash" id="r2" class="J-type-status"><label for="r2" class="pl10">现金</label>
                                </span>
                                <span class="mr15">
                                    <input type="radio" name="back_type" value="pos" id="r3" class="J-type-status"><label for="r3" class="pl10">银行卡</label>
                                </span>
                                <span class="mr15">
                                    <input type="radio" name="back_type" value="wx_pub_qr" id="r4" class="J-type-status"><label for="r4" class="pl10">微信</label>
                                </span>
                                <span class="mr15">
                                    <input type="radio" name="back_type" value="alipay_qr" id="r5" class="J-type-status"><label for="r5" class="pl10">支付宝</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <% if (parseFloat(memberPrice) || parseFloat(medicare) || parseFloat(commercial) || parseFloat(reduce) || parseFloat(locanPrice) || parseFloat(card) || parseFloat(points)) {%>
                <table class="table shadow-none mt0 gray1">
                    <tbody>
                    <tr>
                        <td class="pl20" width="17%">其他退款信息：</td>
                        <% if (parseFloat(memberPrice)) {%>
                        <td>余额(原路退回) ￥<%- memberPrice%></td>
                        <%}%>
                        <% if (parseFloat(medicare) && PERMISSIONANDMODULES.modules.indexOf('44') > -1) {%>
                        <td>医保 ￥<%- medicare%></td>
                        <%}%>
                        <% if (parseFloat(commercial)) {%>
                        <td>商保 ￥<%- commercial%></td>
                        <%}%>
                        <% if (parseFloat(reduce)) {%>
                        <td>减免抵扣 ￥<%- reduce%></td>
                        <%}%>
                        <% if (parseFloat(locanPrice)) {%>
                        <td>挂账抵扣 ￥<%- locanPrice%></td>
                        <%}%>
                        <% if (parseFloat(card)) {%>
                        <td>卡券 ￥<%- card%>（作废）</td>
                        <%}%>
                        <% if (parseFloat(points)) {%>
                        <td>积分抵扣 ￥<%- points%>（作废）</td>
                        <%}%>
                    </tr>
                    </tbody>
                </table>
                <%}%>
                <table class="table shadow-none mb30">
                    <tbody>
                        <tr>
                            <td class="border-none font14 gray1 pt0">
                                提示：
                                <br> 如原收费单据含有优惠，则退费时只可全额退药退款。
                            </td>
                            <td class="border-none text-right pb20">
                                <a data-toggle="modal" class="btn btn-lg btn-primary pl30 pr30 J-sure-back"><i class="fa fa-check-square-o mr5"></i> 确认退费</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
    <!-- start 退费详情模板 -->

    <script src="//assets.dxycdn.com/app/DXYClinic/test/vendor/vendor.js?t=1560312126"></script>
<!--[if IE]>
<script src="//assets.dxycdn.com/app/DXYClinic/test/vendor/lib/bootstrap/html5shiv.js?t=1560312126"></script>
<script src="//assets.dxycdn.com/app/DXYClinic/test/vendor/lib/bootstrap/respond.min.js?t=1560312126"></script>
<link href="//assets.dxycdn.com/app/DXYClinic/test/vendor/lib/bootstrap/respond-proxy.html?t=1560312126" id="respond-proxy" rel="respond-proxy" />
<link href="/Public/sites/crossdomain/respond.proxy.gif?t=1560312126" id="respond-redirect" rel="respond-redirect" />
<script src="/Public/sites/crossdomain/respond.proxy.js?t=1560312126"></script>
<![endif]-->
<script src="//assets.dxycdn.com/app/DXYClinic/test/business/dist/common/core.js?t=1560312126"></script>
<!-- 修改密码 -->
<div class="modal fade" id="globalChangePassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">系统通知</h4>
					</div>
					<div class="modal-body pd20">
							<form>
									<div class="row">
											<div class="col-sm-12">
													为了保护您的账号安全，我们建议您定期修改密码。
											</div>
											<div class="col-sm-12 mt10">
													<div class="form-group">
															<label class="control-label">新登录密码 <span class="asterisk">*</span></label>
															<input type="password" name="pwd" class="form-control J-user-password" autocomplete="off" value="" required>
													</div>
											</div>
									</div>
									<div class="row">
											<div class="col-sm-12">
													<div class="form-group">
															<label class="control-label">确认密码 <span class="asterisk">*</span></label>
															<input type="password" name="pwd2" class="form-control J-user-repassword" autocomplete="off" value="" required>
													</div>
											</div>
									</div>
							</form>
					</div>
					<div class="modal-footer">
							<button type="button" class="btn btn-primary J-change-pass-sub">保存</button>
							<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">返回</button>
					</div>
			</div>
	</div>
</div>
<!-- <script type="text/javascript">
	if(window.location.href.indexOf('dxy.net') < 0) {
	    document.write('<script src="\/\/assets.kf5.com\/supportbox\/main.js?' + (new Date).getDay() + '" id="kf5-provide-supportBox" kf5-domain="clinicdxy.kf5.com" charset="utf-8"><\/script>');
	    $(function(){
	    	window.KF5SupportBoxAPI.init();
	    	window.KF5SupportBoxAPI.ready(function()
			{
		        // 移除默认按钮
		        window.KF5SupportBoxAPI.removeButton();

		        $('.kf5-support-btn').on('click', function() {
		        	window.KF5SupportBoxAPI.open();
		        })
			});	
	    });
   }
</script> -->
    <script type="text/javascript">
    require(['charge_back_view']);
    </script>
</body>

</html>