{template './common/mainHeader'}


<div class="pages-dashboard">
	<div class="dashb-h">挂号概况</div>
	<div class="dashb-c">
		<div class="dashb-c-d">
			<div class="dashb-c-t1 dashb-c-top">
				<div class="dashb-c-p-title">
					<span>实时概况</span><i>更新时间：{$todayss}</i>
				</div>
				<div class="dashb-c-t1-c">
					<div class="dashb-c-p">
						<div class="dashb-c-p-l">
							<div class="icon p-l-icon1"><i class="icon iconfont icon-moneybagfill"></i></div>
						</div>
						<div class="dashb-c-p-r">
							<div class="h2">新增挂号(个)</div>
							<div class="h1" id="html-allmoney-today">{$today['guahao']}</div>
							<div class="p" id="html-allmoney-yestoday">昨日：{$yesterday['guahao']}</div>
						</div>
					</div>
					<div class="dashb-c-p">
						<div class="dashb-c-p-r">
							<div class="h2">今日在线医生(个)</div>
							<div class="h1" id="html-refund-today">{$today['doc']}</div>
							<div class="p" id="html-refund-yestoday">昨日：{$yesterday['doc']}</div>
						</div>
					</div>
					
					<div class="dashb-c-p">
						<div class="dashb-c-p-r">
							<div class="h2">今日收益（元）</div>
							<div class="h1" id="html-newcharge-today">{$today['pay']}</div>
							<div class="p" id="html-newcharge-yestoday">昨日：{$yesterday['pay']}</div>
						</div>
					</div>
					<div class="dashb-c-p">
						<div class="dashb-c-p-l">
							<div class="icon p-l-icon4"><i class="icon iconfont icon-caifub"></i></div>
						</div>
						<div class="dashb-c-p-r">
							<div class="h2">新增订单数</div>
							<div class="h1" id="html-order-today">{$today['order']}</div>
							<div class="p" id="html-order-yestoday">昨日：{$yesterday['order']}</div>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="dashb-c-t1 dashb-c-top">
			    <div class="dashb-c-p-title">
                    <span>重要提醒</span>
                </div>
                <div class="dashb-c-t1-c">
                    <div class="item">
                        <div class="item_tit">订单相关</div>
                        <div class="item_body">
                            <a href=""><div class="item_info">待支付订单：<span id="order-dfh">{$today['pays']}</span></div></a>
                            <a href=""><div class="item_info">待退款订单：<span id="order-dtk">{$today['refund']}</span></div></a>
							<a href=""><div class="item_info">待就诊订单：<span id="order-sqtk">{$today['jiuzhen']}</span></div></a>
                        </div>
                    </div>
                                                            <div class="item">
                        <div class="item_tit">患者相关</div>
                        <div class="item_body">
                            <a href=""><div class="item_info">新增挂号患者：<span id="storeapply">{$today['guahao']}</span></div></a>
                          
                            
                        </div>
                    </div>
                                        
                </div>
			</div>

			<div class="dashb-c-t2 dashb-c-top">
				<div class="dashb-c-p-title">
					<span>交易金额</span>
				</div>
				<div class="dashb-c-t2-c">
					<div class="dashb-c-p">
						<div class="dashb-c-p-r">
							<div class="h2">今日支付金额(元)</div>
							<div class="h1" id="html-allmoney">{$today['pay']}</div>
						</div>
					</div>
					<div class="dashb-c-p">
						<div class="dashb-c-p-r">
							<div class="h2">昨日支付金额(元)</div>
							<div class="h1" id="html-yesmoney">{$yesterday['pay']}</div>
						</div>
					</div>
					<div class="dashb-c-p">
						<div class="dashb-c-p-r">
							<div class="h2">近七日支付金额(元)</div>
							<div class="h1" id="html-sevenmoney">{$seven['pay']}</div>
						</div>
					</div>
					<div class="dashb-c-p">
						<div class="dashb-c-p-r">
							<div class="h2">近三十日支付金额(元)</div>
							<div class="h1" id="html-threemoney">{$monthss['pay']}</div>
						</div>
					</div>
				</div>
				<div class="page-content">
			        <form action=""  class="form-horizontal" onsubmit='return checkform()'>
			           <input type="hidden" name="c" value="site" />
			           <input type="hidden" name="a" value="entry" />
			           <input type="hidden" name="m" value="hyb_yl" />
			           <input type="hidden" name="do" value="remoteregistration" />
			           <input type="hidden" name="op"  value="gk" />
			           <input type="hidden" name="ac" value="remoteregistration" />
			           <input type="hidden" name="search" value="1" />
			           <div class="page-toolbar">
			               <div class="pull-right" style="padding: 50px 15px;">
			                   <div class="input-group">
			                       <span class="input-group-select">
			                           <select id='days' name="days" >
			                               <option value="7"  {if $days==7}selected{/if}>最近</option>
			                               <option value="7"  {if $days==7}selected{/if}>7天</option>
			                               <option value="14"  {if $days==14}selected{/if}>14天</option>
			                               <option value="30"  {if $days==30}selected{/if}>30天</option>
			                               <option value=""  {if $days==''}selected{/if}>按日期</option>
			                           </select>
			                       </span>
			                        <span class="input-group-select">
			                            <select id='year' name="year" >
			                                <option value=''>年份</option>
			                                {loop $years $y}
			                                <option value="{$y['data']}"  {if $y['selected']}selected="selected"{/if}>{$y['data']}年</option>
			                                {/loop}
			                            </select>
			                        </span>
			                       <span class="input-group-select">
			                            <select id='month' name="month" >
			                                <option value=''>月份</option>
			                                {loop $months $m}
			                                <option value="{$m['data']}"  {if $m['selected']}selected="selected"{/if}>{$m['data']}月</option>
			                                {/loop}
			                            </select>
			                       </span>
			                       <div class="input-group-btn">
			                           <button class="btn  btn-primary" type="submit"> 搜索</button>
			                       </div>
			                   </div>
			               </div>
			           </div>
			       </form>
			       	<div class="panel panel-default">
			         	<div class="panel-heading">订单走势图</div>
			           	<div class="panel-body">
			               <div id="container" style="min-width: 800px; height: 400px; margin: 0 auto"></div>
			           	</div>
			       	</div>
				</div>
			</div>
		</div>
	</div>
</div>

			</div>
		</div>
	</div>
	<div class="foot" id="footer">
		<ul class="links ft">
            <li class="links_item"><div class="copyright">Powered by <a href="http://www.we7.cc"><b>微擎</b></a> v2.0.4 © 2014-2015 <a href="http://www.we7.cc">www.we7.cc</a></div></li>
		</ul>
	</div>
	
	
    <style>
    	#upgrade-modal-page{display: none;}
    	#upgrade-modal-page .upgrade-modal-mask{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background-color: rgba(55, 55, 55, 0.6);height: 100%;z-index: 1000;}
    	#upgrade-modal-page .upgrade-modal{width: 600px;z-index: 1001;position: absolute;padding: 30px 50px;background: #ffffff;top: 50%;left: 50%;transform: translate(-50%,-50%);border-radius: 5px;}
    	#upgrade-modal-page .upgrade-modal img{display: block;margin: 0 auto 20px;width: 250px;}
    	#upgrade-modal-page .upgrade-modal .progress{margin-bottom: 0;height: 15px;}
    	#upgrade-modal-page .upgrade-modal .upgrade-modal-tip{text-align: center;margin-top: 20px;}
    </style>
    <div id="upgrade-modal-page">
    	<div class="upgrade-modal-mask">
    		<div class="upgrade-modal">
    			<div>
    				<img src="https://weilamdemo.oss-cn-qingdao.aliyuncs.com/upgrade.png">
    			</div>
	    		<div class="progress">
					<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
					    <span class="sr-only"></span>
					</div>
				</div>
				<div class="upgrade-modal-tip">
					系统正在处理更新以后的文件，请耐心等待~~~
				</div>
	    	</div>
    	</div>
    </div>
<script language="javascript" src="{$_W['siteroot']}addons/hyb_yl/public/js/highcharts/highcharts.js"></script>
<script type="text/javascript">
   
   	function checkform(){
       if($('#days').val()==''){    
           	if($('#year').val()==''){    
               	alert('请选择年份!');
               	return false;
           	}
       }
       return true;
   	}
      $('#days').change(function(){
            if($(this).val()!=''){ 
                $('#year').val('');
                $('#month').val('').attr('disabled',true);;
            }
          
        })
       $('#year').change(function(){
            if($(this).val()==''){ 
                $('#month').val('').attr('disabled',true);
            }
            else{
                $('#days').val('');
                $('#month').removeAttr('disabled');
            }
        })
        
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                 text: '{$charttitle}',
            },
            subtitle: {
                text: ''
            },
            
            xAxis: {
                categories: [    {loop $datas $key $row}
                       {if $key>0},{/if}"{$row['date']}"
                       {/loop}]
            },
            yAxis: {
                title: {
                    text: '人数'
                },allowDecimals:false
            },
            tooltip: {
                enabled: false,
                formatter: function() {
                    return '<b>'+ this.series.name +'</b><br>'+this.x +': '+ this.y +'°C';
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
	            name: '挂号订单',
	            data: [
	                {loop $datas $key $row}
	                {if $key>0},{/if}{$row['guahao']}
	                {/loop}
	            ]
	        }, {
	            name: '预约订单',
	            data: [
	                {loop $datas $key $row}
	                {if $key>0},{/if}{$row['yuyue']}
	                {/loop}
	            ]
	        }],
    	});
	});
</script>
<div id="tip-msgbox" class="msgbox"></div></body></html>