{template './common/mainHeader'}
<div class="app-container-right">
			<ul class="nav nav-tabs">
	<li class="active"><a href="">预约详情</a></li>
</ul>
<div class="app-content">
	<div class="order-detail">
		<div class="col-sm-4 padding-0">
			<div class="panel panel-display">
				<div class="panel-heading"><h3>订单信息</h3></div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<td width="150">下单人微信：</td>
							<td><img src="{$user['u_thumb']}" style="width: 30px;height: 30px;margin-right: 5px;" >{$user['u_name']}</td>
						</tr>
																		<tr>
							<td width="150">患者姓名：</td>
							<td>{$user['u_name']}</td>
						</tr>
																		<tr>
							<td width="150">患者电话：</td>
							<td>{$user['u_phone']}</td>
						</tr>
																		<tr>
							<td width="150">患者地址：</td>
							<td>{$user['u_address']}</td>
						</tr>
												<tr>
							<td width="150">订单编号：</td>
							<td>{$item['ordersn']}</td>
						</tr>
												<tr>
							<td>下单时间：</td>
							<td>{$item['created']}</td>
						</tr>
                      	<tr>
							<td>预约时间：</td>
							<td>{$item['yy_time']}</td>
						</tr>
						<tr>
							<td>订单状态：</td>
							<td><span class="label label-info">
							{if $item['status'] == '0'}
							已预约
							{else if $item['status'] == '1'}
							已就诊
							{else if $item['status'] == '2'}
							失约
							{else if $item['status'] == '3'}
							已取消
							{/if}
							</span></td>
						</tr>
												<tr>
							<td>预约类型</td>
							<td>
								
									<span class="label label-warning">{$item['yy_types']}</span>							
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="panel panel-display">
				<div class="panel-heading"><h3>订单日志</h3></div>
				<div class="panel-body">
					<table class="table">

						<tr>
							<td>
								<p><i class="fa fa-info-circle"></i> <strong>{$item['created']} 订单提交成功</strong></p>
								<p style="padding-left:15px; ">单号:{$item['ordersn']}，等待用户付款</p>
							</td>
						</tr>
						{if $item['is_pay'] == '1'}
						<tr>
							<td>
								<p><i class="fa fa-info-circle"></i> <strong>{$item['p_time']} 订单支付成功</strong></p>
								<p style="padding-left:15px; ">支付成功，等待用户到诊前往医院核销订单</p>
							</td>
						</tr>
						{/if}
						{if $item['status'] == '1'}
						<tr>
							<td>
								<p><i class="fa fa-info-circle"></i> <strong>{$item['jz_time']} 已就诊</strong></p>
								<p style="padding-left:15px; ">单号:{$item['ordersn']}，就诊成功</p>
							</td>
						</tr>
						{/if}
						{if $item['status'] == '2'}
						<tr>
							<td>
								<p><i class="fa fa-info-circle"></i> <strong>{$item['yy_time']} 已失约</strong></p>
								<p style="padding-left:15px; ">{$item['yy_time']}的就诊已失效，请重新预约</p>
							</td>
						</tr>
						{/if}
						{if $item['status'] == '3'}
						<tr>
							<td>
								<p><i class="fa fa-info-circle"></i> <strong>{$item['qx_time']} 已取消</strong></p>
								<p style="padding-left:15px; ">单号:{$item['ordersn']}，已取消</p>
							</td>
						</tr>
						{/if}

					</table>
				</div>
			</div>
		</div>
		<div class="col-sm-8 padding-r-0">
			<div class="panel panel-display">
				<div class="panel-heading"><h3>订单费用</h3></div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<td width="150">挂号费：</td>
							<td>+￥ {$item['money']} </td>
						</tr>
							<tr>
							<td width="150">分销推广支出：</td>
							<td>-￥ 10.00 </td>

						</tr>
						<tr>
							<td width="150">推荐人：</td>
							<td>张三 </td>
							
						</tr>
																																										<tr>
							<td width="150">机构实际收入：</td>
							<td>
								暂未结算  (本单用户实际支付:￥{$item['money']})</td>
						</tr>
						
	 				</table>
	 			</div>
			</div>
			<div class="panel panel-display">
				<div class="panel-heading"><h3>挂号信息</h3></div>
				<div class="panel-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th style="width: 20rem;">专家名</th>
								<th>科室</th>
								<th>职称</th>
                                <th>所属机构</th>
								<th>挂号费(元)</th>
								<th></th>
							</tr>
						</thead>
							<tr>
								<td><img src="{$item['advertisement']}" style="width: 30px;height: 30px;margin-right: 5px;"> {$item['z_name']}</td>
								<td> {$zhuanjia['keshi']} </td>
								<td>{$zhuanjia['zhicheng']}</td>
								<td>{$zhuanjia['jigou']}</td>
                              <td>{$item['money']} 元</td>
																<td class="text-right">
									<a class="btn btn-primary btn-sm" href="{php echo $this->createWebUrl('team',array('op'=>'edit','zid'=>$zhuanjia['zid']))}">专家信息</a>
								</td>
															</tr>
					</table>
				</div>
			</div>
						<div class="panel panel-display">
				<div class="panel-heading"><h3>问诊信息</h3></div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<td width="150">用户：</td>
							<td><a href="/index.php?c=site&a=entry&op=adduser&do=copysite&m=hyb_yl&act=profile.adduser&ac=notice&u_id={$user['u_id']}"> </a>&nbsp;&nbsp;<a data-toggle='popover' data-trigger="hover" data-html='true' data-placement='right'
                                                                                                                                                                      data-content="<table style='width:100%;'>
                <tr>
                    <td  style='border:none;text-align:right;' colspan='2'><img src='{$user['u_thumb']} style='width:100px;height:100px;padding:1px;border:1px solid #ccc' /></td>
                </tr>
                <tr>
                    <td  style='border:none;text-align:right;'>ID：</td>
                    <td  style='border:none;text-align:right;'>{$user['u_id']}</td>
                </tr>
                <tr>
                    <td  style='border:none;text-align:right;'>昵称：</td>
                    <td  style='border:none;text-align:right;'>{$user['u_name']}</td>
                </tr>
                
                <tr>
                    <td  style='border:none;text-align:right;'>手机号：</td>
                    <td  style='border:none;text-align:right;'>{if $user['u_phone'] !=''}{$user['u_phone']}{else}未填写{/if}</td>
                </tr>
                </table>
"><i class='fa fa-question-circle'></i></a></td>
						</tr>
						<tr>
							<td width="150">病情描述：</td>
                          <td>{$item['notes']}</td>
						</tr>
						<tr>
							<td width="150">预约类型：</td>
							<td>{$item['yy_types']} </td>
						</tr>
						<tr>
							<td width="150"></td>
							<td>
								<!-- <a class="btn btn-primary btn-xs" data-toggle='ajaxModal'  href="http://www.webstrongtech.com/web/index.php?c=site&a=entry&m=weliam_merchant&p=order&ac=wlOrder&do=changeexpress&expressid=3">修改预约时间信息</a> -->
								<a class="btn btn-primary btn-xs" data-toggle="ajaxModal"  href="{php echo $this->createWebUrl('remoteregistration',array('op'=>'yy_qz','status'=>'1'))}">确认到诊</a>
																					</td>
						</tr>
	 				</table>
				</div>
			</div>
					</div>	
	</div>
	
	<div class="modal fade" id="addCateModal" aria-hidden="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button">×</button>
					<h4 class="modal-title">新建分类</h4>
				</div>
				<div class="modal-body form-horizontal">
					<div class="form-group">
						<div class="col-sm-2 control-label must">分类名称</div>
						<div class="col-sm-10">
							<input class="form-control input-sm" placeholder="请输入分类名称" id="saveTempName" value="未命名分类" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="btn btn-primary" id="saveCate">保存</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

			</div>
		</div>
	</div>
	<div class="foot" id="footer">
		<ul class="links ft">
            <li class="links_item"><div class="copyright">Powered by <a href="http://www.we7.cc"><b>微擎</b></a> v2.0.4 © 2014-2015 <a href="http://www.we7.cc">www.we7.cc</a></div></li>
		</ul>
	</div>
	</body>
</html>
