
  {template './common/mainHeader'} 
  <div class="container-fluid main-body"> 
   <div class="app-container "> 
    <div class="big-menu second-sidebar"> 
     <div class="second-sidebar-t">
       首页中心 
     </div> 
     <div class="second-sidebar-c"> 
      <div class="panel panel-default"> 
       <div class="panel-heading"> 
        <h4 class="panel-title"><i class="fa fa-dashboard"></i>&nbsp;&nbsp; 概况</h4> 
       </div> 
       <ul class="list-group collapse in" id="frame-member"> 
        <a class="list-group-item " href="./index.php?c=site&a=entry&do=dashboard&op=gk&m=hyb_yl&ac=dashboard" kw="运营概况" style="padding-left: 40px;">运营概况</a> 
       </ul> 
      </div> 
      <div class="panel panel-default"> 
       <div class="panel-heading"> 
        <h4 class="panel-title"><i class="fa fa-inbox"></i>&nbsp;&nbsp; 主页管理</h4> 
       </div> 
       <ul class="list-group collapse in" id="frame-page"> 
        <a class="list-group-item " href="#" kw="公告" style="padding-left: 40px;">公告</a> 
        <a class="list-group-item " href="#" kw="幻灯片" style="padding-left: 40px;">幻灯片</a> 
        <a class="list-group-item active" href="#" kw="导航栏" style="padding-left: 40px;">导航栏</a> 
        <a class="list-group-item " href="#" kw="广告栏" style="padding-left: 40px;">广告栏</a> 
        <a class="list-group-item " href="#" kw="选项卡管理" style="padding-left: 40px;">选项卡管理</a> 
        <a class="list-group-item " href="#" kw="底部菜单" style="padding-left: 40px;">底部菜单</a> 
       </ul> 
      </div> 
     </div> 
    </div> 
    <div class="app-container-right"> 
     <ul class="nav nav-tabs"> 
      <li class="active"><a href="#">导航栏</a></li> 
     </ul> 
     <div class="app-content"> 
      <div class="app-filter"> 
       <div class="filter-action"> 
        <a class="btn btn-primary" href="https://xiaochuang.webstrongtech.net/web/index.php?c=site&amp;a=entry&amp;m=hyb_yl&amp;p=dashboard&amp;ac=nav&amp;do=edit&amp;">添加导航</a> 
       </div> 
      </div> 
      <div class="app-table-list"> 
       <div class="panel panel-default"> 
        <div class="table-responsive"> 
         <table class="table table-hover"> 
          <thead> 
           <tr> 
            <th class="text-center" width="10%">图片</th> 
            <th class="text-center" width="5%">显示顺序</th> 
            <th class="text-center" width="20%">标题</th> 
            <th class="text-center" width="30%">连接</th> 
            <th class="text-center" width="10%">位置</th> 
            <th class="text-center" width="10%">状态</th> 
            <th class="text-center" width="15%">操作</th> 
           </tr> 
          </thead> 
          <tbody> 
           <tr class="text-center"> 
            <td><img class="scrollLoading" src="https://caiji123258.oss-cn-beijing.aliyuncs.com/images/1/2020/02/edDIcXxeRzCAR4JAEcCXYE4Rc6Zrc6.jpg" data-url="https://caiji123258.oss-cn-beijing.aliyuncs.com/images/1/2020/02/edDIcXxeRzCAR4JAEcCXYE4Rc6Zrc6.jpg" onerror="this.src='https://caiji123258.oss-cn-beijing.aliyuncs.com/images/1/2020/02/edDIcXxeRzCAR4JAEcCXYE4Rc6Zrc6.jpg'" height="50" width="50" /></td> 
            <td>0</td> 
            <td><span style="color: #000000;">楼层标题</span></td> 
            <td class="text-lue">https://xiaochuang.webstrongtech.net/app/index.php?i=1&amp;c=entry&amp;m=hyb_yl&amp;p=pocket∾=pocket&amp;do=myinform&amp;status=all</td> 
            <td class="text-lue">首页</td> 
            <td> <span class="label label-success">显示</span></td> 
            <td> <a href="https://xiaochuang.webstrongtech.net/web/index.php?c=site&amp;a=entry&amp;m=hyb_yl&amp;p=dashboard&amp;ac=nav&amp;do=edit&amp;id=364" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="修改"><i class="fa fa-edit"></i></a> <a href="https://xiaochuang.webstrongtech.net/web/index.php?c=site&amp;a=entry&amp;m=hyb_yl&amp;p=dashboard&amp;ac=nav&amp;do=delete&amp;id=364" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times"></i></a> </td> 
           </tr> 
          </tbody> 
         </table> 
        </div> 
       </div> 
       <div class="app-table-foot clearfix"> 
        <div class="pull-left"> 
        </div> 
        <div class="pull-right"> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="foot" id="footer"> 
   <ul class="links ft"> 
    <li class="links_item">
     <div class="copyright">
      Powered by 
      <a href="http://www.we7.cc"><b>微擎</b></a> v2.0.4 &copy; 2014-2015 
      <a href="http://www.we7.cc">www.we7.cc</a>
     </div></li> 
   </ul> 
  </div> 
  <style>
    	#upgrade-modal-page{display: none;}
    	#upgrade-modal-page .upgrade-modal-mask{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background-color: rgba(55, 55, 55, 0.6);height: 100%;z-index: 1000;}
    	#upgrade-modal-page .upgrade-modal{width: 600px;z-index: 1001;position: absolute;padding: 30px 50px;background: #ffffff;top: 50%;left: 50%;transform: translate(-50%,-50%);border-radius: 5px;}
    	#upgrade-modal-page .upgrade-modal img{display: block;margin: 0 auto 20px;width: 250px;}
    	#upgrade-modal-page .upgrade-modal .progress{margin-bottom: 0;height: 15px;}
    	#upgrade-modal-page .upgrade-modal .upgrade-modal-tip{text-align: center;margin-top: 20px;}
    </style> 
  <div id="upgrade-modal-page"> 
   <div class="upgrade-modal-mask"> 
    <div class="upgrade-modal"> 
     <div> 
      <img src="https://weilamdemo.oss-cn-qingdao.aliyuncs.com/upgrade.png" /> 
     </div> 
     <div class="progress"> 
      <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"> 
       <span class="sr-only"></span> 
      </div> 
     </div> 
     <div class="upgrade-modal-tip">
       系统正在处理更新以后的文件，请耐心等待~~~ 
     </div> 
    </div> 
   </div> 
  </div> 
  <script>
		require(['bootstrap'], function ($) {
		    $('[data-toggle="tooltip"]').tooltip({
	            container: $(document.body)
	        });
	        $('[data-toggle="popover"]').popover({
	            container: $(document.body)
	        });
	        $('[data-toggle="dropdown"]').dropdown({
	            container: $(document.body)
	        });
	    });
		myrequire(['js/init']);
			    function check_wl_upgrade() {
	        require(['util'], function (util) {
	            if (util.cookie.get('checkwlupgrade_sys')) {
	                return;
	            }
	            $.post('https://xiaochuang.webstrongtech.net/web/index.php?c=site&a=entry&m=hyb_yl&p=cloud&ac=auth&do=check&', function (ret) {
	                if (ret.errno == 0 && ret.message.result == 1) {
                        var html = '<div class="dashb-header" id="upgrade-tips"><div class="dashb-check"><div class="dashb-check-l"><p>系统检测到有文件变化，请立即校验文件查看！</p><span>如有疑问请联系官方QQ：2972720130</span></div><div class="dashb-check-r"><a href="https://xiaochuang.webstrongtech.net/web/index.php?c=site&a=entry&m=hyb_yl&p=cloud&ac=auth&do=upgrade&">立即校验</a><a href="javascript:;" onclick="check_wl_upgrade_hide();">忽略提醒</a></div></div></div>'
                        $('.pages-dashboard').prepend(html);
	                }
	            },'json');
	        });
	    }
	    function check_wl_upgrade_hide() {
	        require(['util'], function (util) {
	            util.cookie.set('checkwlupgrade_sys', 1, 3600);
	            $('#upgrade-tips').fadeOut(150);
	        });
	    }
	    $(function () {
	        check_wl_upgrade();
	    });
				$('.app-login-info-name, .app-login-info-sel').mouseover(function(){
			$('.app-login-info-sel').show();
		});
		$('.app-login-info-name, .app-login-info-sel').mouseout(function(){
			$('.app-login-info-sel').hide();
		});
		$('.app-login-info-sel .login-out').hover(function(){
			$('.app-login-info-sel-arrow').css('border-color', '#1ab394 transparent transparent transparent');
		},function(){
			$('.app-login-info-sel-arrow').css('border-color', '#f2f2f2 transparent transparent transparent');
		});
		
				//修改更新逻辑
		$(function () {
	        $.post('https://xiaochuang.webstrongtech.net/web/index.php?c=site&a=entry&m=hyb_yl&p=cloud&ac=auth&do=check_upgrade&', function (ret) {
                if (ret.errno == 0) {
	            	$.post('https://xiaochuang.webstrongtech.net/web/index.php?c=site&a=entry&m=hyb_yl&p=cloud&ac=auth&do=upgrade_post&', function (rett) {
		                if (rett.errno == 0) {
                        	$('#upgrade-modal-page').show();
		                	check_post_upgrade();
		                } else {
                            myrequire(['js/tip'], function() {
                                tip.alert(rett.message.message);
                            });
		                }
	            	},'json');
                }
            },'json');
            function check_post_upgrade() {
				var pragress = 0;
				var proc = function() {
					$.post('https://xiaochuang.webstrongtech.net/web/index.php?c=site&a=entry&m=hyb_yl&p=cloud&ac=auth&do=download&', function (dat) {
						if(dat.result == 1){
							pragress = dat.success/dat.total*100;
							$('.progress-bar').css('width', pragress + '%');
							proc();
						} else if (dat.result == 0) {
							window.location.reload();
						}
					},'json');
				};
				proc();
		    }
	    });
	    	</script>   
