{template '/common/mainHeader'}
<div class="app-container-right">
			<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a href="#tab_basic">对比规则设置</a></li>
</ul>
<div class="app-content">
	<div class="app-form">
		<form action="" method="post" class="form-horizontal form form-validate">
			<div class="panel panel-default">
				<div class="panel-heading">规则设置</div>
				<div class="panel-body">
<!-- 				<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">推荐文章最多展示</label>
							<div class="col-md-4">
								<div class="input-group">
									<input type="text" name="c_num" class="form-control" value="{$item['c_num']}">
									<span class="input-group-addon">条</span>
								</div>
							</div>
						</div> -->
						<!-- <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">推荐专家最多展示</label>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">个</span>
									<input type="text" name="z_num" class="form-control" value="{$item['z_num']}">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">推荐产品最多展示</label>
							<div class="col-md-4">
								<div class="input-group">
									<input type="text" name="cp_num" class="form-control" value="{$item['cp_num']}">
									<span class="input-group-addon">个</span>
								</div>
								<span class="help-block">不填或则填0表示不限制</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">推荐问题最多展示</label>
							<div class="col-md-4">
								<div class="input-group">
									<input type="text" name="r_num" class="form-control" value="{$item['r_num']}">
									<span class="input-group-addon">条</span>
								</div>
								<span class="help-block">不填或则填0表示不限制</span>
							</div>
						</div> -->
					<div class="form-group">
						<label class="col-sm-2 control-label">是否启用异常指标留存</label>
						<div class="col-sm-9">
							<label class="radio-inline"><input type="radio" name="is_cun" value="1" {if $item['is_cun'] == '1'} checked="" {/if}>开启</label>
							<label class="radio-inline"><input type="radio" name="is_cun" value="0" {if $item['is_cun'] == '0'} checked="" {/if}>关闭</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">是否启用智能匹配</label>
						<div class="col-sm-9">
							<label class="radio-inline"><input type="radio" name="is_pipei" value="1" {if $item['is_pipei'] == '1'} checked="" {/if}>开启</label>
							<label class="radio-inline"><input type="radio" name="is_pipei" value="0" {if $item['is_pipei'] == '0'} checked="" {/if}>关闭</label>
							
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"></label>
				<div class="col-sm-9">
					<input type="submit" name="submit" value="提交" class="btn btn-primary min-width" />
					<input type="hidden" name="token" value="{$_W['token']}" />
				</div>
			</div>
		</form>
	</div>
</div>
			</div>
		</div>
	</div>
	<div class="foot" id="footer">
		<ul class="links ft">
            <li class="links_item"><div class="copyright">Powered by <a href="http://www.we7.cc"><b>微擎</b></a> v2.0.4 © 2014-2015 <a href="http://www.we7.cc">www.we7.cc</a></div></li>
		</ul>
	</div>
	
	</body>
</html>
