{template './common/mainHeader'}
<!-- 订阅消息列表 -->

            </div>
            <div class="pageheader hidden">
                <h2><i class="fa fa-question"></i> 帮助中心</h2>
            </div>
            <div class="contentpanel">
                <ul class="nav nav-tabs patient-tabs">
                    <li class="active"><a href="#helpFQA" data-toggle="tab"><strong>使用答疑</strong></a></li>
                    <li class=""><a href="#helpVideo" data-toggle="tab"><strong>视频教学</strong></a></li>
                    <li class=""><a href="#helpDoc" data-toggle="tab"><strong>使用手册</strong></a></li>
                    <li class=""><a href="#cureGuide" data-toggle="tab"><strong>治疗指南</strong></a></li>
                </ul>
                <div class="tab-content pd0">
                    <!-- 视频 -->
                    <div class="tab-pane pd20" id="helpVideo">
                        <!-- 系统登录 -->
                        <div class="col-sm-3 col-md-3 col-lg-2">
                            <div class="panel panel-white panel-alt border1">
                                <a href="http://special.dxycdn.com/topic/dxy/1462337678716/index.html?cur=0" target="_blank">
                                    <div class="panel-heading text-center bg-gray2">
                                        <i class="font48 fa fa-play-circle gray pt3"></i>
                                    </div>
                                    <div class="text-center">
                                        <h3 class="mt10 mb15 font14 black">登录系统</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- 系统登录 -->
                        <!-- 创建账号 -->
                        <div class="col-sm-3 col-md-3 col-lg-2">
                            <div class="panel panel-white panel-alt border1">
                                <a href="http://special.dxycdn.com/topic/dxy/1462337678716/index.html?cur=1" target="_blank">
                                    <div class="panel-heading text-center bg-gray2">
                                        <i class="font48 fa fa-play-circle gray pt3"></i>
                                    </div>
                                    <div class="text-center">
                                        <h3 class="mt10 mb15 font14 black">创建账号</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- 创建账号 -->
                        <!-- 后台设置 -->
                        <div class="col-sm-3 col-md-3 col-lg-2">
                            <div class="panel panel-white panel-alt border1">
                                <a href="http://special.dxycdn.com/topic/dxy/1462337678716/index.html?cur=2" target="_blank">
                                    <div class="panel-heading text-center bg-gray2">
                                        <i class="font48 fa fa-play-circle gray pt3"></i>
                                    </div>
                                    <div class="text-center">
                                        <h3 class="mt10 mb15 font14 black">后台设置</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- 后台设置 -->
                        <!-- 预约与就诊 -->
                        <div class="col-sm-3 col-md-3 col-lg-2">
                            <div class="panel panel-white panel-alt border1">
                                <a href="http://special.dxycdn.com/topic/dxy/1462337678716/index.html?cur=3" target="_blank">
                                    <div class="panel-heading text-center bg-gray2">
                                        <i class="font48 fa fa-play-circle gray pt3"></i>
                                    </div>
                                    <div class="text-center">
                                        <h3 class="mt10 mb15 font14 black">预约与就诊</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- 预约与就诊 -->
                        <!-- 微信管理 -->
                        <div class="col-sm-3 col-md-3 col-lg-2">
                            <div class="panel panel-white panel-alt border1">
                                <a href="http://special.dxycdn.com/topic/dxy/1462337678716/index.html?cur=4" target="_blank">
                                    <div class="panel-heading text-center bg-gray2">
                                        <i class="font48 fa fa-play-circle gray pt3"></i>
                                    </div>
                                    <div class="text-center">
                                        <h3 class="mt10 mb15 font14 black">微信管理</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- 微信管理 -->
                        <!-- 排班和诊室管理 -->
                        <div class="col-sm-3 col-md-3 col-lg-2">
                            <div class="panel panel-white panel-alt border1">
                                <a href="http://special.dxycdn.com/topic/dxy/1462337678716/index.html?cur=5" target="_blank">
                                    <div class="panel-heading text-center bg-gray2">
                                        <i class="font48 fa fa-play-circle gray pt3"></i>
                                    </div>
                                    <div class="text-center">
                                        <h3 class="mt10 mb15 font14 black">排班和诊室管理</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- 排班和诊室管理 -->
                    </div>
                    <!-- /视频 -->
                    <!-- 使用答疑 -->
                    <div class="tab-pane active" id="helpFQA">
                        <div class="bloglist row">
                            <div class="col-sm-3 col-md-3 col-lg-2 tree-none">
                                <div class="mt30"></div>
                                <ul class="nav nav-pills nav-stacked nav-message J-helpFaq-list">
                                    <li class="active"><a href="javascript:void(0)" type="4">接诊流程</a></li>
                                    <li><a href="javascript:void(0)" type="2">系统设置</a></li>
                                    <li><a href="javascript:void(0)" type="1">微信运营</a></li>
                                    <li><a href="javascript:void(0)" type="3">第三方接入</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-9 col-md-9 col-lg-10 pl0 border-left">
                                <div class="panel panel-default shadow-none mb0">
                                    <div class="panel-heading pb20">
                                        <h4 class="panel-title J-help-title">接诊流程</h4>
                                    </div>
                                    <div class="panel-body prl0 pt0">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <tbody id="J-helpFQA-list-wrap">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /使用答疑 -->
                    <!-- 使用手册 -->
                    <div class="tab-pane pd20" id="helpDoc">
                        <div class="bloglist row" id="J-helpDoc-list-tpl">
                            <!-- 使用手册 -->
                            <div class="col-sm-3 col-md-3 col-lg-2">
                                <div class="panel panel-white panel-alt border1">
                                    <a href="//assets.dxycdn.com/app/DXYClinic/test/website/images/丁香云管家用户指南1.0.pdf?t=1560312126" target="_blank">
                                        <div class="panel-heading text-center bg-gray2">
                                            <i class="font48 fa fa-cloud-download gray pt3"></i>
                                        </div>
                                        <div class="text-center">
                                            <h3 class="mt10 mb15 font14 black">下载使用手册</h3>
                                        </div>
                                        <!-- panel-body -->
                                    </a>
                                </div>
                                <!-- panel -->
                            </div>
                            <!-- 使用手册 -->
                            <!-- 产品文档 -->
                            <div class="col-sm-3 col-md-3 col-lg-2">
                                <div class="panel panel-white panel-alt border1">
                                    <a href="//assets.dxycdn.com/app/DXYClinic/test/website/images/丁香云管家产品宣传文档.pdf?t=1560312126" target="_blank">
                                        <div class="panel-heading text-center bg-gray2">
                                            <i class="font48 fa fa-cloud-download gray pt3"></i>
                                        </div>
                                        <div class="text-center">
                                            <h3 class="mt10 mb15 font14 black">下载产品文档</h3>
                                        </div>
                                        <!-- panel-body -->
                                    </a>
                                </div>
                                <!-- panel -->
                            </div>
                            <!-- 产品文档 -->
                        </div>
                    </div>
                    <!-- /使用手册 -->
                    <!-- 治疗指南 -->
                    <div class="tab-pane" id="cureGuide">
                        <div class="bloglist row">
                            <div class="col-sm-3 col-md-3 col-lg-2 tree-none pd20">
                                <!-- 指南分类 -->
                                <div class="input-group input-group-sm ml10 mt5">
                                    <input type="text" class="form-control J-cure-name" placeholder="请输入初步诊断">
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-search J-btn-search"><i class="fa fa-search"></i></button>
                                  </span>
                                </div>
                                <div class="search-block hidden J-search-name help-search-list">
                                    <div class="tips">请选择初步诊断</div>
                                    <ul></ul>
                                </div>
                                <div class="ml10 mt15 help-scroll J-scroll-block">
                                    <ul class="folder-list J-cureGuide-list-warp">
                                    </ul>
                                </div>
                            </div>
                            <!-- col-sm-3 -->
                            <div class="col-sm-9 col-md-9 col-lg-10 pl0 border-left">
                                <div class="panel panel-default shadow-none mb0">
                                    <div class="panel-heading pb20">
                                        <h4 class="panel-title J-cure-guide-title"></h4>
                                    </div>
                                    <!-- panel-heading -->
                                    <div class="panel-body prl0 pt0">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <tbody class="J-cure-table-warp">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 治疗指南 -->
                </div>
            </div>
        </div>
    </section>
    <!-- 搜索 Modal list  -->
    <script type="text/template" id="J-cure-search-list-tpl">
        <% _.each(data, function(item, i){ %>
            <li class="J-cure-search-item"><a href="" data-id="<%- item.id%>" data-name="<%- item.name%>" data-icd="<%- item.icd%>"><span class="pull-right font12"><% if (item.icd) {%>(<%- item.icd%>)<% } %></span><i class="fa fa-folder-o mr5"></i> <%- item.name%></a></li>
        <% }) %>
    </script>
    <!-- 使用答疑模板 -->
    <script type="text/template" id="J-helpFQA-list-tpl">
        <td class="pl20">
            <h4 class="font-wb"><%- index%>. <%- name%></h4>
            <p class="mt5">
                <%- content%>
            </p>
            <!-- 展示图片列表 -->
            <div class="J-show-imgs-box">
                <% for(var i = 0, len = images.length; i < len; i++) {%>
                    <div class="col-xs-6 col-sm-3 col-md-3 image">
                        <div class="thmb">
                            <div class="thmb-prev">
                                <a href="<%- images[i]%>" data-rel="prettyPhoto">
                                    <img src="<%- images[i]%>?pattern=200" class="img-responsive" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <%}%>
            </div>
        </td>
    </script>
    <!-- /使用答疑模板 -->
    <!-- 使用手册模板 -->
    <script type="text/template" id="J-helpDoc-list-tpl">
        <div class="panel panel-white panel-alt border1">
            <a href="javascript:void(0);">
                <div class="panel-heading text-center bg-gray2">
                    <i class="font48 fa fa-cloud-download gray pt3"></i>
                </div>
                <div class="text-center">
                    <h3 class="mt10 mb15 font14 black">下载使用手册</h3>
                </div>
            </a>
        </div>
    </script>
    <!-- /使用手册模板 -->
    <!--治疗指南列表模板-->
    <script type="text/template" id="J-cureGuide-list-tpl">
        <% _.each(data, function(item, i) { %>
            <li><a href="" data-id="<%- item.id%>" data-name="<%- item.name%>" data-icd="<%- item.icd%>" class="J-cure-list-item"><span class="pull-right font12"><% if (item.icd) {%>(<%- item.icd%>)<% } %></span><i class="fa fa-folder-o mr5"></i> <%- item.name%></a></li>
            <% }) %>
    </script>
    <!--治疗指南列表模板-->
    <!--治疗指南详细信息-->
    <script type="text/template" id="J-cure-table-tpl">
        <% if (data && data.diseaseInfo) {%>
            <tr>
                <td class="pl20">
                    <h4 class="font-wb">疾病信息</h4>
                    <p class="mt5">
                        <%- data.diseaseInfo%>
                    </p>
                </td>
            </tr>
            <% } %>
        <% if (data && data.treatmentAdvice) {%>
            <tr>
                <td class="pl20">
                    <h4 class="font-wb">治疗意见</h4>
                    <p class="mt5">
                        <%- data.treatmentAdvice%>
                    </p>
                </td>
            </tr>
        <% } %>
        <% if (data && data.recipeInfo) {%>
            <tr>
                <td class="pl20">
                    <h4 class="font-wb">医嘱信息</h4>
                    <table class="table shadow-none">
                        <tbody>
                            <% if (data.inspectInfo) {%>
                                <tr>
                                    <td width="15%" class="border-none pl0 pt0"><strong>实验室检查：</strong></td>
                                    <td class="border-none pl0 pt0"><%- data.inspectInfo%></td>
                                </tr>
                            <% } %>

                            <% if (data.examinationInfo) {%>
                                <tr>
                                    <td class="border-none pl0 pt0"><strong>辅助检查：</strong></td>
                                    <td class="border-none pl0 pt0"><%- data.examinationInfo%></td>
                                </tr>
                            <% } %>
                            
                            <% if (data.treatmentInfo) {%>
                                <tr>
                                    <td class="border-none pl0 pt0"><strong>治疗：</strong></td>
                                    <td class="border-none pl0 pt0"><%- data.treatmentInfo%></td>
                                </tr>
                            <% } %>

                            <% if (data.prescriptionInfo) {%>
                                <tr>
                                    <td class="border-none pl0 pt0"><strong>处方：</strong></td>
                                    <td class="border-none pl0 pt0"><%- data.prescriptionInfo%></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </td>
            </tr>
        <% } %>
    </script>
    <!--治疗指南详细信息-->
    <script src="//assets.dxycdn.com/app/DXYClinic/test/vendor/vendor.js?t=1560312126"></script>
<!--[if IE]>
<script src="//assets.dxycdn.com/app/DXYClinic/test/vendor/lib/bootstrap/html5shiv.js?t=1560312126"></script>
<script src="//assets.dxycdn.com/app/DXYClinic/test/vendor/lib/bootstrap/respond.min.js?t=1560312126"></script>
<link href="//assets.dxycdn.com/app/DXYClinic/test/vendor/lib/bootstrap/respond-proxy.html?t=1560312126" id="respond-proxy" rel="respond-proxy" />
<link href="/Public/sites/crossdomain/respond.proxy.gif?t=1560312126" id="respond-redirect" rel="respond-redirect" />
<script src="/Public/sites/crossdomain/respond.proxy.js?t=1560312126"></script>
<![endif]-->
<script src="/addons/hyb_yl/public/admin/include/core.js?t=1560312126"></script>
<!-- 修改密码 -->
<div class="modal fade" id="globalChangePassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">系统通知</h4>
					</div>
					<div class="modal-body pd20">
							<form>
									<div class="row">
											<div class="col-sm-12">
													为了保护您的账号安全，我们建议您定期修改密码。
											</div>
											<div class="col-sm-12 mt10">
													<div class="form-group">
															<label class="control-label">新登录密码 <span class="asterisk">*</span></label>
															<input type="password" name="pwd" class="form-control J-user-password" autocomplete="off" value="" required>
													</div>
											</div>
									</div>
									<div class="row">
											<div class="col-sm-12">
													<div class="form-group">
															<label class="control-label">确认密码 <span class="asterisk">*</span></label>
															<input type="password" name="pwd2" class="form-control J-user-repassword" autocomplete="off" value="" required>
													</div>
											</div>
									</div>
							</form>
					</div>
					<div class="modal-footer">
							<button type="button" class="btn btn-primary J-change-pass-sub">保存</button>
							<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">返回</button>
					</div>
			</div>
	</div>
</div>
<!-- <script type="text/javascript">
	if(window.location.href.indexOf('dxy.net') < 0) {
	    document.write('<script src="\/\/assets.kf5.com\/supportbox\/main.js?' + (new Date).getDay() + '" id="kf5-provide-supportBox" kf5-domain="clinicdxy.kf5.com" charset="utf-8"><\/script>');
	    $(function(){
	    	window.KF5SupportBoxAPI.init();
	    	window.KF5SupportBoxAPI.ready(function()
			{
		        // 移除默认按钮
		        window.KF5SupportBoxAPI.removeButton();

		        $('.kf5-support-btn').on('click', function() {
		        	window.KF5SupportBoxAPI.open();
		        })
			});	
	    });
   }
</script> -->
    <script type="text/javascript">
    require(['help_center']);
    </script>
</body>

</html>