{template './common/mainHeader'}
<div class="app-container-right">
			<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a href="#tab_basic">小程序素材</a></li>
</ul>
<div class="app-content">
	<div class="app-form">
		<form action="" method="post" id="setting-form" class="form-horizontal form">
			<div class="panel panel-default">
				<div class="panel-heading">菜单素材</div>
				<div class="panel-body">
										<div class="form-group">
						<label class="col-sm-2 control-label">首页菜单：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1gvDI2wMlr5LyYgy7srhJLQ"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1gvDI2wMlr5LyYgy7srhJLQ</a>提取码：g81z</p>
						</div>
					</div>
										<div class="form-group">
						<label class="col-sm-2 control-label">底部菜单：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1eXhMZJcZrfUvE2UuvI0Qrg"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1eXhMZJcZrfUvE2UuvI0Qrg</a>提取码：yv0h</p>
						</div>
					</div>
										<div class="form-group">
						<label class="col-sm-2 control-label">服务主页菜单：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1svLKydcUfOxlK9Ic1yvMOA"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1svLKydcUfOxlK9Ic1yvMOA</a>提取码：xavb</p>
						</div>
					</div>
										<div class="form-group">
						<label class="col-sm-2 control-label">体检分类：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1A3rOFqTeZc_NveVjnsdHbQ"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1A3rOFqTeZc_NveVjnsdHbQ</a>提取码：57bl</p>
						</div>
					</div>
										<div class="form-group">
						<label class="col-sm-2 control-label">人群分类：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/12WX1oHQUq_XslL7eE1nq0Q"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/12WX1oHQUq_XslL7eE1nq0Q</a>提取码：pyoq</p>
						</div>
					</div>
										<div class="form-group">
						<label class="col-sm-2 control-label">我的订单：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1Ska4i-PVw9lUOUZVxh5UCA"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1Ska4i-PVw9lUOUZVxh5UCA</a>提取码：nm7f</p>
						</div>
					</div>
										<div class="form-group">
						<label class="col-sm-2 control-label">我的问诊：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1Y8TeaDwiu8RbXCVjC0C7QQ"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1Y8TeaDwiu8RbXCVjC0C7QQ</a>提取码：p6pv</p>
						</div>
					</div>
										<div class="form-group">
						<label class="col-sm-2 control-label">我的服务：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1SG2wMjHEMcOxPTdQ30Hg5A"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1SG2wMjHEMcOxPTdQ30Hg5A</a>提取码：cpz4</p>
						</div>
					</div>
										<div class="form-group">
						<label class="col-sm-2 control-label">健康管理：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1bvsZb0W96TBcHtBtJS5BcA"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1bvsZb0W96TBcHtBtJS5BcA</a>提取码：2ytd</p>
						</div>
					</div>
										<div class="form-group">
						<label class="col-sm-2 control-label">专属服务：</label>
						<div class="col-sm-9">
								<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1RGDv9JCzUDdptNjxWAnLAg"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1RGDv9JCzUDdptNjxWAnLAg</a>提取码：8p5v</p>
						</div>
					</div>
										<div class="form-group">
						<label class="col-sm-2 control-label">必备工具：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1aacUQfSran-x8nxa3DHHuQ"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1aacUQfSran-x8nxa3DHHuQ</a>提取码：nia6</p>
						</div>
					</div>
										<div class="form-group">
						<label class="col-sm-2 control-label">患者服务：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1rDltL5mrp-lEvAQyTBEXlQ"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1rDltL5mrp-lEvAQyTBEXlQ</a>提取码：vjqp</p>
						</div>
					</div>
										<div class="form-group">
						<label class="col-sm-2 control-label">患者问诊：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1UoLfJjnDD8vmtULc9l5-ww"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1UoLfJjnDD8vmtULc9l5-ww</a>提取码:z4ir</p>
						</div>
					</div>
										<div class="form-group">
						<label class="col-sm-2 control-label">会员卡背景：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1qxzGk89DzDK2_90h4RMmVA"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1qxzGk89DzDK2_90h4RMmVA</a>提取码：yhyj</p>
						</div>
					</div>
										<div class="form-group">
						<label class="col-sm-2 control-label">年卡背景：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1J0x-49Q4Mv89CQKaHMejMw"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1J0x-49Q4Mv89CQKaHMejMw</a>提取码：xvj5</p>
						</div>
					</div>
										<div class="form-group">
						<label class="col-sm-2 control-label">幻灯片素材：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1C5B5c5eNtq_GEvqAv7WJPA"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1C5B5c5eNtq_GEvqAv7WJPA</a>提取码：bjvx</p>
						</div>
					</div>
										<div class="form-group">
						<label class="col-sm-2 control-label">协议素材：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1StcwctJLjtEchJEj3XR9Qg"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1StcwctJLjtEchJEj3XR9Qg</a>提取码：fnly</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">智库疾病素材：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1vUOGBprN2JWDrfZPNQM5tg"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1vUOGBprN2JWDrfZPNQM5tg</a>提取码：fmoj</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">专家素材：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1M_alA9F2LLJgw-C9aUdG5Q"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1M_alA9F2LLJgw-C9aUdG5Q</a>提取码：64yw</p>
						</div>
					</div>
										<div class="form-group">
						<label class="col-sm-2 control-label">文章素材：</label>
						<div class="col-sm-9">
							<p class="form-control-static js-clip" data-href="https://pan.baidu.com/s/1feqWzcAGHbxTFmphL8G1MA"><a href="javascript:;" title="点击复制链接">https://pan.baidu.com/s/1feqWzcAGHbxTFmphL8G1MA</a>提取码：5qyc</p>
						</div>
					</div>
									</div>
			</div>
		</form>
	</div>
</div>
			</div>
		</div>
	</div>
	<div class="foot" id="footer">
		<ul class="links ft">
            <li class="links_item"><div class="copyright">Powered by <a href="http://www.we7.cc"><b>微擎</b></a> v2.0.4 © 2014-2015 <a href="http://www.we7.cc">www.we7.cc</a></div></li>
		</ul>
	</div>
	
	
    
    <script>
		require(['bootstrap'], function ($) {
		    $('[data-toggle="tooltip"]').tooltip({
	            container: $(document.body)
	        });
	        $('[data-toggle="popover"]').popover({
	            container: $(document.body)
	        });
	        $('[data-toggle="dropdown"]').dropdown({
	            container: $(document.body)
	        });
	    });
		myrequire(['js/init']);
				$('.app-login-info-name, .app-login-info-sel').mouseover(function(){
			$('.app-login-info-sel').show();
		});
		$('.app-login-info-name, .app-login-info-sel').mouseout(function(){
			$('.app-login-info-sel').hide();
		});
		$('.app-login-info-sel .login-out').hover(function(){
			$('.app-login-info-sel-arrow').css('border-color', '#1ab394 transparent transparent transparent');
		},function(){
			$('.app-login-info-sel-arrow').css('border-color', '#f2f2f2 transparent transparent transparent');
		});
		
			</script>
	</body>
</html>
