{template './common/mainHeader'}
<div class="app-container-right">
			<style type='text/css'>
	.goods-info{position:relative;padding-left:60px;}
	.goods-info .img{position:absolute;top:50%;margin-top:-25px;background: url(https://xiaochuang.webstrongtech.net/addons/hyb_yl/web/resource/images/loading.gif) center center no-repeat;width:50px;height:50px;}
	.goods-info span{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;}
	.all-tips{margin-left: 65px;}
</style>
<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a href="#">购买记录</a></li>
</ul>
<div class="app-content">
	<div class="app-filter">
		<div class="filter-list">
			<form action="" method="get" class="form-horizontal" role="form" id="form1">
				<input type="hidden" name="c" value="site" />
				<input type="hidden" name="a" value="entry" />
				<input type="hidden" name="m" value="hyb_yl" />
				<input type="hidden" name="op" value="sviphistory" />
				<input type="hidden" name="ac" value="sviphistory" />
				<input type="hidden" name="do" value="member" />
				<div class="form-group">
					<label class="col-sm-2 control-label">关键字</label>
					<div class="col-md-3">
						<select name="keywordtype" class="form-control">
							<option value="">关键字类型</option>
							<option value="1" {if $keywordtype == '1'} selected="" {/if}>用户昵称</option>
							<option value="2" {if $keywordtype == '2'} selected="" {/if}>用户电话</option>
							<option value="3" {if $keywordtype == '3'} selected="" {/if}>会员类型</option>
						</select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="keyword" class="form-control" value="{$keyword}"  placeholder="请输入关键字"/>
                    </div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-md-9">
						<button class="btn btn-primary" id="search">筛选</button>
					</div>
				</div>	
			</form>
		</div>
	</div>
	<div class="app-table-list">
		<div class="panel-body table-responsive collapse in" id="order-template-item-4" style="padding: 0;">
			<table class="table table-bordered">
				<thead style="background-color: #FFFFFF;">
				<tr>
					<th style="width:25px;text-align:center;">
                		<input type="checkbox" name="checkbox"  id="checkbox" onclick="var ck = this.checked; $(':checkbox').each(function(){this.checked = ck});"/>
                	</th>
					<th style="width:150px;text-align:center;">用户信息</th>
					<th style="width:150px;text-align: center;">用户电话</th>
                  	<th style="width:150px;text-align: center;">会员类型</th>
					<th style="width:100px; text-align:center;">充值时长</th>
					<th style="width:100px; text-align:center;">订单金额</th>
					<th style="width:100px; text-align:center;">分销支出</th>
					<th style="width:100px; text-align:center;">实际收入</th>
					<th style="width:100px; text-align:center;">推荐人</th>
					<th style="width:100px; text-align:center;">结算状态</th>
					<th style="width:110px; text-align: center;">支付时间</th>
				</tr>
				</thead>
				<tbody >
				{loop $list $item}
				<tr>
				<td style="text-align: center;">
    				<input type="checkbox" name="checkbox[]" value="{$item['id']}"  class="item" />
    			</td>
				<td style="margin-left: ">
					<img src="{$item['u_thumb']}" class="scrollLoading" data-url="{$item['thumb']}" height="30" width="30" >{$item['u_name']}
				</td>
				<td style="text-align: center;">{if empty($item['u_phone'])}无{else}{$item['u_phone']}{/if}</td>
				<td style="text-align: center;">{$item['title']}</td>
				<td style="text-align: center;">{$item['times']}天</td>
				<td style="text-align: center;">{$item['price']}元</td>
				<td style="text-align: center;">{php echo $item['tk_one'] + $item['tk_two']}元</td>
				<td style="text-align: center;">{php echo $item['price']-$item['tk_one']-$item['tk_two']}元</td>
				<td style="text-align: center;">{php echo empty($item['tk']) ? '暂无' : $item['tk']}</td>
				<td style="text-align: center;">{if $item['status'] == '0'}待付款{else if $item['status'] == '1'}已付款{/if}</td>
				<td style="text-align: center;">{$item['p_time']}</td>
				</tr>
				{/loop}
				</tbody>
			</table>
		</div>
		<div class="app-table-foot clearfix">
			<div class="pull-left">
				<div class="pull-left" id="de1">
					<label class="btn btn-default min-width " style="display: inline-flex;align-items:center;margin-right:1rem;">
						<input type="checkbox" name="checkbox" value="" id="checkbox" onclick="var ck = this.checked; $(':checkbox').each(function(){this.checked = ck});"/>
						<div style="margin-left: 10px">全选</div>
					</label>
					<a href="javascript:;" class="btn btn-default min-width js-batch js-delete pass_delete">批量删除</a>
				</div>
			</div>
			<div class="pull-right">{$pager}</div>
		</div>
	</div>
</div>
{template './common/mainfooter'}
<script type="text/javascript">
    $("#search").click(function(){
        $('#form1')[0].submit();
    });
</script>
<script>
	require(['bootstrap'], function ($) {
	    $('[data-toggle="tooltip"]').tooltip({
            container: $(document.body)
        });
        $('[data-toggle="popover"]').popover({
            container: $(document.body)
        });
        $('[data-toggle="dropdown"]').dropdown({
            container: $(document.body)
        });
    });
	myrequire(['js/init']);
	$('.app-login-info-name, .app-login-info-sel').mouseover(function(){
		$('.app-login-info-sel').show();
	});
	$('.app-login-info-name, .app-login-info-sel').mouseout(function(){
		$('.app-login-info-sel').hide();
	});
	$('.app-login-info-sel .login-out').hover(function(){
		$('.app-login-info-sel-arrow').css('border-color', '#1ab394 transparent transparent transparent');
	},function(){
		$('.app-login-info-sel-arrow').css('border-color', '#f2f2f2 transparent transparent transparent');
	});
</script>
<script type="text/javascript">
	// 批量删除
	$('#de1').delegate('.pass_delete','click',function(e){
		e.stopPropagation();
		var order_ids = [];
		var $checks=$('.item:checkbox:checked');

		$checks.each(function() {
			if (this.checked) {
				order_ids.push(this.value);
			};
		});
		var $this = $(this);
		var ids = order_ids;

		util.nailConfirm(this, function(state) {console.log(state)
		if(!state)  return;
			$.post("./index.php?c=site&a=entry&do=member&op=sviphistorydelete&ac=sviphistory&m=hyb_yl", { ids : ids }, function(data){
				if(data.errno=='1'){ 
					util.tips("操作成功！");
					setTimeout(function(){ 
						window.location.reload();
					}, 1000);
				}else{
					util.tips("操作失败"); 	
				};
			}, 'json');
		}, {html: '确认批量删除?'});
	});
</script>	
